Repository aws-amplify/amplify-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-data-buildtime, @aws-amplify/amplify-cli-admins

.github/CODEOWNERS:

# Amplify CLI Team owns the full repo by default.

* @aws-amplify/amplify-cli

# Add Data team folks focused on GQL transform/codegen to ownership for packages which will be migrated, in addition to the existing cli team.

/packages/amplify-graphiql-explorer @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime
/packages/amplify-velocity-template @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime

# Add folks focused on reviewing changes to CI/CD scripts/buildspecs

/.circleci/ @aws-amplify/amplify-cli-admins 
/scripts/ @aws-amplify/amplify-cli-admins 
/shared-scripts.sh @aws-amplify/amplify-cli-admins 
/codebuild_specs/ @aws-amplify/amplify-cli-admins

chore(cli): change to 'non-sensitive project configuration'
  .circleci/amplify_init.exp
  packages/amplify-cli-core/src/help/commands-info.ts
  packages/amplify-cli/src/init-steps/s9-onSuccess.ts
  packages/amplify-e2e-core/src/init/initProjectHelper.ts
  packages/amplify-e2e-core/src/utils/pinpoint.ts
  packages/amplify-e2e-tests/src/init-special-cases/index.ts
  packages/amplify-migration-tests/src/migration-helpers-v10/init.ts
  packages/amplify-migration-tests/src/migration-helpers-v12/init.ts
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

ci: disable release workflows
  .circleci/config.yml
Owners: @aws-amplify/amplify-cli-admins

ci: remove dev e2e since we can trigger e2e manually still
  .circleci/config.yml
Owners: @aws-amplify/amplify-cli-admins

fix: dev build
  .circleci/codebuild-checkout.sh
Owners: @aws-amplify/amplify-cli-admins

Update codebuild-checkout.sh
  .circleci/codebuild-checkout.sh
Owners: @aws-amplify/amplify-cli-admins

Update codebuild-checkout.sh
  .circleci/codebuild-checkout.sh
Owners: @aws-amplify/amplify-cli-admins

Update codebuild-checkout.sh
  .circleci/codebuild-checkout.sh
Owners: @aws-amplify/amplify-cli-admins

Update codebuild-checkout.sh
  .circleci/codebuild-checkout.sh
Owners: @aws-amplify/amplify-cli-admins

Update codebuild-checkout.sh
  .circleci/codebuild-checkout.sh
Owners: @aws-amplify/amplify-cli-admins

fix: dev build (#13069)
  .circleci/codebuild-checkout.sh
Owners: @aws-amplify/amplify-cli-admins

chore: manual pr build script
  package.json
  scripts/cloud-pr.sh
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-cli-admins

chore: manual pr build script (#13070)
  package.json
  scripts/cloud-pr.sh
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-cli-admins

ci: rc, release, tagged rc, hotfix workflows (#12918)
  .circleci/cb-publish-step-1-set-versions.sh
  .circleci/cb-publish-step-2-verdaccio.sh
  .circleci/cb-publish-step-3-npm.sh
  .circleci/cb-publish-step-4-push-to-git.sh
  .circleci/local_publish_helpers_codebuild.sh
  .circleci/publish-codebuild.sh
  .husky/pre-push
  codebuild_specs/amplify_general_config_tests.yml
  codebuild_specs/amplify_install_test.yml
  codebuild_specs/amplify_sudo_install_test.yml
  codebuild_specs/build_tests_standalone.yml
  codebuild_specs/cleanup_resources.yml
  codebuild_specs/deployment_verification_post_release.yml
  codebuild_specs/deployment_verification_rc_or_tagged.yml
  codebuild_specs/e2e_workflow.yml
  codebuild_specs/mock_e2e_tests.yml
  codebuild_specs/publish_to_npm.yml
  codebuild_specs/release_workflows/github_prerelease.yml
  codebuild_specs/release_workflows/github_prerelease_install_sanity_check.yml
  codebuild_specs/release_workflows/github_release.yml
  codebuild_specs/release_workflows/hotfix_workflow.yml
  codebuild_specs/release_workflows/post_publish_push_to_git.yml
  codebuild_specs/release_workflows/release_rc_workflow.yml
  codebuild_specs/release_workflows/release_workflow.yml
  codebuild_specs/release_workflows/tagged_release_without_e2e_workflow.yml
  codebuild_specs/scripts-windows/run-e2e-windows.sh
  codebuild_specs/test.yml
  codebuild_specs/validate_cdk_version.yml
  codebuild_specs/verify_api_extract.yml
  codebuild_specs/verify_pkg_cli.yml
  codebuild_specs/verify_versions_match.yml
  codebuild_specs/verify_yarn_lock.yml
  package.json
  scripts/cloud-cli-utils.sh
  scripts/cloud-e2e.sh
  scripts/cloud-release.sh
  scripts/promote-rc-codebuild.sh
  scripts/release-rc-codebuild.sh
  scripts/split-e2e-tests-v2.ts
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

chore: cb adjustment
  .circleci/local_publish_helpers_codebuild.sh
Owners: @aws-amplify/amplify-cli-admins

ci: disable release workflows (#13068)
  .circleci/config.yml
Owners: @aws-amplify/amplify-cli-admins

chore: simplify manual pr script
  .circleci/codebuild-checkout.sh
  scripts/cloud-pr.sh
Owners: @aws-amplify/amplify-cli-admins

chore: simplify manual pr script (#13072)
  .circleci/codebuild-checkout.sh
  scripts/cloud-pr.sh
Owners: @aws-amplify/amplify-cli-admins

test: remove extra hash (#13071)
  .circleci/local_publish_helpers.sh
  .circleci/local_publish_helpers_codebuild.sh
  packages/amplify-cli-npm/binary.ts
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

test: lint export rule
  .eslintrc.js
  packages/amplify-cli/package.json
  packages/amplify-cli/src/__tests__/flow-report.test.ts
  packages/amplify-e2e-tests/package.json
  packages/amplify-migration-tests/package.json
  packages/amplify-nodejs-function-runtime-provider/src/__tests__/utils/legacyBuild.test.ts
  packages/amplify-util-mock/src/__tests__/utils/index.test.ts
  packages/amplify-util-uibuilder/src/__tests__/.eslintrc.js
  yarn.lock
Owners: @aws-amplify/amplify-cli

test: lint export rule (#13074)
  .eslintrc.js
  packages/amplify-cli/package.json
  packages/amplify-cli/src/__tests__/flow-report.test.ts
  packages/amplify-e2e-tests/package.json
  packages/amplify-migration-tests/package.json
  packages/amplify-nodejs-function-runtime-provider/src/__tests__/utils/legacyBuild.test.ts
  packages/amplify-util-mock/src/__tests__/utils/index.test.ts
  packages/amplify-util-uibuilder/src/__tests__/.eslintrc.js
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore: bump data deps
  packages/amplify-cli/package.json
  packages/amplify-container-hosting/package.json
  packages/amplify-provider-awscloudformation/package.json
  packages/amplify-util-mock/package.json
  packages/amplify-util-uibuilder/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

test: enforce no-unused-vars rule
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/utils/trigger-flow-auth-helper.test.js
  packages/amplify-util-mock/src/__tests__/api/lambda-invoke.test.ts
Owners: @aws-amplify/amplify-cli

ci: add lint in cb
  codebuild_specs/lint.yml
  codebuild_specs/pr_workflow.yml
Owners: @aws-amplify/amplify-cli-admins

ci: pr feedback
  codebuild_specs/e2e_workflow.yml
  codebuild_specs/e2e_workflow_base.yml
  codebuild_specs/e2e_workflow_generated.yml
Owners: @aws-amplify/amplify-cli-admins

ci: more memory
  codebuild_specs/lint.yml
Owners: @aws-amplify/amplify-cli-admins

ci: more memory
  codebuild_specs/lint.yml
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

ci: really
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

ci: add lint in cb (#13077)
  codebuild_specs/e2e_workflow.yml
  codebuild_specs/e2e_workflow_base.yml
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/lint.yml
  codebuild_specs/pr_workflow.yml
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

test: add tests to isResourceNameUnique util
  packages/amplify-cli-core/src/__tests__/utils/isResourceNameUnique.test.ts
Owners: @aws-amplify/amplify-cli

test: add tests for recursiveOmit util
  packages/amplify-cli-core/src/__tests__/utils/recursiveOmit.test.ts
Owners: @aws-amplify/amplify-cli

docs: fix prettier command
  CONTRIBUTING.md
Owners: @aws-amplify/amplify-cli

docs: add git-secrets instruction
  CONTRIBUTING.md
Owners: @aws-amplify/amplify-cli

docs: fix git-secrets link
  CONTRIBUTING.md
Owners: @aws-amplify/amplify-cli

test: change test object name
  packages/amplify-cli-core/src/__tests__/utils/recursiveOmit.test.ts
Owners: @aws-amplify/amplify-cli

chore: dependency comments for utils
  packages/amplify-cli-core/src/utils/doc-links.ts
  packages/amplify-cli-core/src/utils/isResourceNameUnique.ts
Owners: @aws-amplify/amplify-cli

refactor(amplify-cli-logger): tests for baseLogFilePath
  packages/amplify-cli-logger/src/__tests__/TestBasePath.test.ts
  packages/amplify-cli-logger/src/__tests__/baseLogFilePath.test.ts
  packages/amplify-cli-logger/src/baseLogFilePath.ts
Owners: @aws-amplify/amplify-cli

refactor(amplify-cli-logger): simplify baseLogFilePath test
  packages/amplify-cli-logger/src/__tests__/baseLogFilePath.test.ts
Owners: @aws-amplify/amplify-cli

fix: put back await keyword, remove unused import
  packages/amplify-cli/src/extensions/amplify-helpers/remove-resource.ts
Owners: @aws-amplify/amplify-cli

chore(cli): update data dependencies
  packages/amplify-category-function/package.json
  packages/amplify-cli/package.json
  packages/amplify-container-hosting/package.json
  packages/amplify-dotnet-function-template-provider/package.json
  packages/amplify-e2e-core/package.json
  packages/amplify-e2e-tests/package.json
  packages/amplify-graphql-migration-tests/package.json
  packages/amplify-migration-tests/package.json
  packages/amplify-nodejs-function-template-provider/package.json
  packages/amplify-provider-awscloudformation/package.json
  packages/amplify-util-mock/package.json
  packages/amplify-util-uibuilder/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

Revert "test: remove extra hash (#13071)"
  .circleci/local_publish_helpers.sh
  .circleci/local_publish_helpers_codebuild.sh
  packages/amplify-cli-npm/binary.ts
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli
