Repository aws-amplify/amplify-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-data-buildtime, @aws-amplify/amplify-cli-admins

.github/CODEOWNERS:

# Amplify CLI Team owns the full repo by default.

* @aws-amplify/amplify-cli

# Add Data team folks focused on GQL transform/codegen to ownership for packages which will be migrated, in addition to the existing cli team.

/packages/amplify-graphiql-explorer @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime
/packages/amplify-velocity-template @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime

# Add folks focused on reviewing changes to CI/CD scripts/buildspecs

/.circleci/ @aws-amplify/amplify-cli-admins 
/scripts/ @aws-amplify/amplify-cli-admins 
/shared-scripts.sh @aws-amplify/amplify-cli-admins 
/codebuild_specs/ @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  codebuild_specs/scripts-windows/wait-windows.sh
  scripts/wait-for-all-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/wait_windows.json
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  codebuild_specs/e2e_workflow_generated.yml
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  codebuild_specs/e2e_workflow_base.yml
  codebuild_specs/mock_e2e_tests.yml
  codebuild_specs/publish_to_local_registry.yml
  codebuild_specs/run_e2e_tests_windows.yml
  codebuild_specs/test.yml
  codebuild_specs/validate_cdk_version.yml
  codebuild_specs/verify_api_extract.yml
  codebuild_specs/verify_yarn_lock.yml
  scripts/wait-for-all-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  codebuild_specs/e2e_workflow_generated.yml
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  codebuild_specs/build_pkg_binaries_arm.yml
  codebuild_specs/build_pkg_binaries_linux.yml
  codebuild_specs/build_pkg_binaries_macos.yml
  codebuild_specs/build_pkg_binaries_win.yml
  codebuild_specs/e2e_workflow_base.yml
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/upload_pkg_binaries.yml
  codebuild_specs/wait_upb.json
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  codebuild_specs/e2e_workflow_generated.yml
  scripts/split-e2e-tests-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  codebuild_specs/e2e_workflow_base.yml
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  scripts/split-e2e-tests-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  scripts/wait-for-all-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

chore: remove lint-stage and use lint-fix
  .husky/.gitignore
  .husky/pre-commit
  .prettierignore
  package.json
Owners: @aws-amplify/amplify-cli

update yarn.lock
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore: prettier optimization (#12869)
  .prettierignore
  .vscode/settings.json
  package.json
  packages/amplify-category-hosting/lib/S3AndCloudFront/helpers/configure-CloudFront.js
  packages/amplify-category-hosting/lib/S3AndCloudFront/helpers/file-uploader.js
  packages/amplify-category-hosting/lib/S3AndCloudFront/helpers/upload-file.js
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore: noop trigger cb
  scripts/split-e2e-tests-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  codebuild_specs/e2e_workflow_generated.yml
Owners: @aws-amplify/amplify-cli-admins

chore: fix merge conflicts
  package.json
  packages/amplify-e2e-core/src/init/initProjectHelper.ts
Owners: @aws-amplify/amplify-cli

chore: fix function declaration
  packages/amplify-e2e-tests/src/__tests__/minify-cloudformation.test.ts
Owners: @aws-amplify/amplify-cli

chore: fix linter issues
  packages/amplify-e2e-core/src/init/amplifyPush.ts
  packages/amplify-e2e-core/src/init/pull-headless.ts
  packages/amplify-migration-tests/src/migration-helpers-v10/init.ts
Owners: @aws-amplify/amplify-cli

ci: update windows e2e for coverage
  codebuild_specs/run_e2e_tests_windows.yml
  codebuild_specs/scripts-windows/covert-coverage.sh
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

ci: cleanup
  codebuild_specs/wait_for_ids.json
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  codebuild_specs/e2e_workflow_generated.yml
  scripts/split-e2e-tests-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

fix: migrate to husky@8
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  CONTRIBUTING.md
  package.json
Owners: @aws-amplify/amplify-cli

chore: noop trigger cb
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/migration_tests_v8.yml
  codebuild_specs/run_e2e_tests_linux.yml
  scripts/split-e2e-tests-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  codebuild_specs/e2e_workflow_base.yml
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/verify_versions_match.yml
  scripts/split-e2e-tests-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  scripts/split-e2e-tests-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  codebuild_specs/e2e_workflow_generated.yml
Owners: @aws-amplify/amplify-cli-admins

fix: add missing lint-fix and misc change
  .husky/commit-msg
  .husky/pre-commit
  scripts/package-json-check.sh
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-cli-admins

chore: sort package.json scripts
  package.json
Owners: @aws-amplify/amplify-cli

ci: configure pkg cli testing within e2e project
  .circleci/local_publish_helpers.sh
  codebuild_specs/run_e2e_tests_linux.yml
  codebuild_specs/run_e2e_tests_windows.yml
  packages/amplify-cli-npm/binary.ts
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

ci: fix definition
  codebuild_specs/e2e_workflow.yml
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  codebuild_specs/e2e_workflow_generated.yml
  scripts/split-e2e-tests-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  scripts/split-e2e-tests-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  codebuild_specs/migration_tests_v8.yml
  codebuild_specs/run_e2e_tests_linux.yml
  codebuild_specs/run_e2e_tests_windows.yml
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  codebuild_specs/e2e_workflow_generated.yml
Owners: @aws-amplify/amplify-cli-admins

chore: upgrade data packages
  packages/amplify-category-function/package.json
  packages/amplify-cli-core/package.json
  packages/amplify-cli/package.json
  packages/amplify-container-hosting/package.json
  packages/amplify-dotnet-function-template-provider/package.json
  packages/amplify-e2e-core/package.json
  packages/amplify-e2e-tests/package.json
  packages/amplify-graphql-migration-tests/package.json
  packages/amplify-migration-tests/package.json
  packages/amplify-nodejs-function-template-provider/package.json
  packages/amplify-provider-awscloudformation/package.json
  packages/amplify-util-mock/package.json
  packages/amplify-util-uibuilder/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

ci: add amplify ci flag
  codebuild_specs/amplify_console_integration_tests.yml
  codebuild_specs/amplify_install_test.yml
  codebuild_specs/amplify_migration_tests_multi_env_layers.yml
  codebuild_specs/amplify_migration_tests_non_multi_env_layers.yml
  codebuild_specs/amplify_sudo_install_test.yml
  codebuild_specs/integration_test.yml
  codebuild_specs/migration_tests_v10.yml
  codebuild_specs/migration_tests_v8.yml
Owners: @aws-amplify/amplify-cli-admins

ci: updated e2e windows definition to call new script
  codebuild_specs/run_e2e_tests_windows.yml
Owners: @aws-amplify/amplify-cli-admins

ci: add missing cli region
  codebuild_specs/amplify_console_integration_tests.yml
  codebuild_specs/amplify_migration_tests_multi_env_layers.yml
  codebuild_specs/amplify_migration_tests_non_multi_env_layers.yml
Owners: @aws-amplify/amplify-cli-admins

ci: fix https
  packages/amplify-cli-npm/binary.ts
Owners: @aws-amplify/amplify-cli

chore: ignore logs
  .gitignore
Owners: @aws-amplify/amplify-cli
