Repository aws-amplify/amplify-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-data-buildtime, @aws-amplify/amplify-cli-admins

.github/CODEOWNERS:

# Amplify CLI Team owns the full repo by default.

* @aws-amplify/amplify-cli

# Add Data team folks focused on GQL transform/codegen to ownership for packages which will be migrated, in addition to the existing cli team.

/packages/amplify-graphiql-explorer @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime
/packages/amplify-velocity-template @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime

# Add folks focused on reviewing changes to CI/CD scripts/buildspecs

/.circleci/ @aws-amplify/amplify-cli-admins 
/scripts/ @aws-amplify/amplify-cli-admins 
/shared-scripts.sh @aws-amplify/amplify-cli-admins 
/codebuild_specs/ @aws-amplify/amplify-cli-admins

chore: tests
  packages/amplify-migration-tests/src/__tests__/migration_tests_v10/__snapshots__/auth-add-all.migration.test.ts.snap
  packages/amplify-migration-tests/src/__tests__/migration_tests_v10/__snapshots__/geo.migration.test.ts.snap
  scripts/split-e2e-tests-v2.ts
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-cli-admins

chore: use tag release of codegen
  packages/amplify-cli/package.json
  packages/amplify-provider-awscloudformation/package.json
  packages/amplify-util-mock/package.json
  packages/amplify-util-uibuilder/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore: tests
  packages/amplify-e2e-core/src/categories/storage.ts
  packages/amplify-e2e-tests/src/__tests__/auth/user-groups-s3-access.test.ts
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth-role-mapping-migration-test.ts
Owners: @aws-amplify/amplify-cli

ci: fix missing await
  packages/amplify-e2e-tests/src/__tests__/delete.test.ts
  packages/amplify-e2e-tests/src/__tests__/init-special-case.test.ts
  packages/amplify-e2e-tests/src/__tests__/init_b.test.ts
  packages/amplify-e2e-tests/src/__tests__/init_c.test.ts
  packages/amplify-e2e-tests/src/__tests__/init_e.test.ts
Owners: @aws-amplify/amplify-cli

fix: issue after merge
  packages/amplify-e2e-core/src/init/initProjectHelper.ts
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth-app-client-secret-migration.test.ts
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth-hosted-ui-lambda-migration.test.ts
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth-lambda-callout-migration-rollback.test.ts
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth-lambda-callout-migration.test.ts
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth.migration.test.ts
Owners: @aws-amplify/amplify-cli

chore: codeql
  packages/amplify-e2e-core/src/categories/storage.ts
Owners: @aws-amplify/amplify-cli

fix: parsing arn with multiple slashes when importing auth
  packages/amplify-provider-awscloudformation/src/__tests__/aws-utils/IdentityPoolService.test.ts
  packages/amplify-provider-awscloudformation/src/aws-utils/IdentityPoolService.ts
Owners: @aws-amplify/amplify-cli

ci: refactor
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/auth-stack-transform.ts
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/user-pool-group-stack-transform.ts
  packages/amplify-category-storage/src/provider-utils/awscloudformation/cdk-stack-builder/ddb-stack-transform.ts
  packages/amplify-category-storage/src/provider-utils/awscloudformation/cdk-stack-builder/s3-stack-transform.ts
  packages/amplify-cli-core/src/overrides-manager/index.ts
  packages/amplify-cli-core/src/overrides-manager/override-runner.ts
  packages/amplify-provider-awscloudformation/src/root-stack-builder/root-stack-transform.ts
Owners: @aws-amplify/amplify-cli

chore: refactor initializer override, lint
  packages/amplify-cli-core/src/overrides-manager/override-runner.ts
  packages/amplify-provider-awscloudformation/src/initializer.ts
Owners: @aws-amplify/amplify-cli

chore: cleanup, make async
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/auth-stack-transform.ts
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/user-pool-group-stack-transform.ts
  packages/amplify-category-storage/src/provider-utils/awscloudformation/cdk-stack-builder/ddb-stack-transform.ts
  packages/amplify-category-storage/src/provider-utils/awscloudformation/cdk-stack-builder/s3-stack-transform.ts
  packages/amplify-cli-core/src/overrides-manager/override-runner.ts
  packages/amplify-provider-awscloudformation/src/initializer.ts
  packages/amplify-provider-awscloudformation/src/root-stack-builder/root-stack-transform.ts
Owners: @aws-amplify/amplify-cli

chore: update api docs
  packages/amplify-cli-core/API.md
Owners: @aws-amplify/amplify-cli

feat: use nodejs 18 for auth lambdas
  packages/amplify-category-auth/package.json
  packages/amplify-category-auth/resources/auth-custom-resource/hostedUILambda.js
  packages/amplify-category-auth/resources/auth-custom-resource/hostedUIProviderLambda.js
  packages/amplify-category-auth/resources/auth-custom-resource/mfaLambda.js
  packages/amplify-category-auth/resources/auth-custom-resource/openIdLambda.js
  packages/amplify-category-auth/resources/lambda-function.js
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/__snapshots__/auth-stack-transform.test.ts.snap
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/utils/__snapshots__/generate-auth-trigger-template.test.ts.snap
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder.ts
  packages/amplify-category-auth/src/provider-utils/awscloudformation/utils/generate-auth-trigger-template.ts
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore: fix test
  packages/amplify-category-auth/resources/auth-custom-resource/hostedUIProviderLambda.js
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/__snapshots__/auth-stack-transform.test.ts.snap
Owners: @aws-amplify/amplify-cli

ci: disable nightly tests
  .circleci/config.yml
Owners: @aws-amplify/amplify-cli-admins

ci: remove nightly tests
  .circleci/config.yml
Owners: @aws-amplify/amplify-cli-admins

chore: pr feedback
  packages/amplify-e2e-tests/src/__tests__/auth/user-groups-s3-access.test.ts
Owners: @aws-amplify/amplify-cli

chore: snapshots
  packages/amplify-migration-tests/src/__tests__/migration_tests_v10/__snapshots__/auth-add-all.migration.test.ts.snap
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/__snapshots__/auth-oauth-lambda-migration.test.ts.snap
Owners: @aws-amplify/amplify-cli

refactor: use v3 aws-sdk arn parser
  packages/amplify-cli-core/API.md
  packages/amplify-cli-core/package.json
  packages/amplify-cli-core/src/utils/arn-parser.ts
  packages/amplify-cli-core/src/utils/index.ts
  packages/amplify-provider-awscloudformation/src/aws-utils/IdentityPoolService.ts
  yarn.lock
Owners: @aws-amplify/amplify-cli

test: add and update unit tests
  packages/amplify-provider-awscloudformation/src/__tests__/aws-utils/IdentityPoolService.test.ts
Owners: @aws-amplify/amplify-cli

fix: parsing arn with multiple slashes when importing auth
  packages/amplify-cli-core/API.md
  packages/amplify-cli-core/package.json
  packages/amplify-cli-core/src/utils/arn-parser.ts
  packages/amplify-cli-core/src/utils/index.ts
  packages/amplify-provider-awscloudformation/src/__tests__/aws-utils/IdentityPoolService.test.ts
  packages/amplify-provider-awscloudformation/src/aws-utils/IdentityPoolService.ts
  yarn.lock
Owners: @aws-amplify/amplify-cli

feat: replace role mapping lambda in auth category (#13003)
  packages/amplify-category-auth/resources/auth-custom-resource/role-map-lambda-function.js
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/__snapshots__/auth-stack-transform.test.ts.snap
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/__snapshots__/user-pool-group-stack-transform.test.ts.snap
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder.ts
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/auth-user-pool-group-stack-builder.ts
  packages/amplify-category-auth/src/provider-utils/awscloudformation/constants.ts
  packages/amplify-category-auth/src/provider-utils/awscloudformation/handlers/resource-handlers.ts
  packages/amplify-e2e-core/src/categories/auth.ts
  packages/amplify-e2e-core/src/categories/storage.ts
  packages/amplify-e2e-tests/package.json
  packages/amplify-e2e-tests/src/__tests__/auth/user-groups-s3-access.test.ts
  packages/amplify-e2e-tests/src/__tests__/auth/user-groups.test.ts
  packages/amplify-e2e-tests/src/__tests__/storage-1b.test.ts
  packages/amplify-migration-tests/package.json
  packages/amplify-migration-tests/src/__tests__/migration_tests_v10/__snapshots__/auth-add-all.migration.test.ts.snap
  packages/amplify-migration-tests/src/__tests__/migration_tests_v10/__snapshots__/geo.migration.test.ts.snap
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth-role-mapping-migration-test.ts
  scripts/split-e2e-test-filters.ts
  scripts/split-e2e-tests-v2.ts
  yarn.lock
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-cli-admins

fix: remove vm2 (#12989)
  packages/amplify-category-auth/package.json
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/auth-stack-transform.ts
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/user-pool-group-stack-transform.ts
  packages/amplify-category-storage/package.json
  packages/amplify-category-storage/src/provider-utils/awscloudformation/cdk-stack-builder/ddb-stack-transform.ts
  packages/amplify-category-storage/src/provider-utils/awscloudformation/cdk-stack-builder/s3-stack-transform.ts
  packages/amplify-cli-core/API.md
  packages/amplify-cli-core/src/overrides-manager/index.ts
  packages/amplify-cli-core/src/overrides-manager/override-runner.ts
  packages/amplify-e2e-tests/src/__tests__/delete.test.ts
  packages/amplify-e2e-tests/src/__tests__/init-special-case.test.ts
  packages/amplify-e2e-tests/src/__tests__/init_b.test.ts
  packages/amplify-e2e-tests/src/__tests__/init_c.test.ts
  packages/amplify-e2e-tests/src/__tests__/init_e.test.ts
  packages/amplify-provider-awscloudformation/package.json
  packages/amplify-provider-awscloudformation/src/initializer.ts
  packages/amplify-provider-awscloudformation/src/root-stack-builder/root-stack-transform.ts
  yarn.lock
Owners: @aws-amplify/amplify-cli

fix(amplify-e2e-core): amplifyPush
  packages/amplify-e2e-core/src/init/amplifyPush.ts
Owners: @aws-amplify/amplify-cli

fix(amplify-e2e-tests): .env sample
  packages/amplify-e2e-tests/sample.env
Owners: @aws-amplify/amplify-cli

fix(amplify-e2e-tests): .env sample add comment
  packages/amplify-e2e-tests/sample.env
Owners: @aws-amplify/amplify-cli

ci: upgrade proxy-agent to ^6.3.0 to remove vm2 deps
  packages/amplify-category-notifications/package.json
  packages/amplify-category-notifications/src/pinpoint-helper.ts
  packages/amplify-cli-core/package.json
  packages/amplify-cli-core/src/banner-message/index.ts
  packages/amplify-provider-awscloudformation/package.json
  packages/amplify-provider-awscloudformation/src/aws-utils/aws-amplify.js
  packages/amplify-provider-awscloudformation/src/aws-utils/aws.js
  packages/amplify-provider-awscloudformation/src/configuration-manager.ts
  packages/amplify-provider-awscloudformation/src/system-config-manager.ts
  packages/amplify-provider-awscloudformation/src/utils/admin-helpers.ts
  yarn.lock
Owners: @aws-amplify/amplify-cli

fix: e2e tests
  packages/amplify-cli-core/src/__tests__/hooks/hooksExecutor.test.ts
  packages/amplify-e2e-core/src/categories/storage.ts
  packages/amplify-e2e-core/src/init/amplifyPush.ts
  packages/amplify-e2e-tests/src/__tests__/auth_6.test.ts
  packages/amplify-e2e-tests/src/__tests__/custom_resources.test.ts
  packages/amplify-e2e-tests/src/__tests__/init_e.test.ts
  packages/amplify-e2e-tests/src/__tests__/storage-5.test.ts
Owners: @aws-amplify/amplify-cli

fix(amplify-e2e-core): change 'Are you sure you want to continue' back
  packages/amplify-e2e-core/src/init/amplifyPush.ts
Owners: @aws-amplify/amplify-cli

fix: parsing arn with multiple slashes when importing auth (#13009)
  packages/amplify-cli-core/API.md
  packages/amplify-cli-core/package.json
  packages/amplify-cli-core/src/utils/arn-parser.ts
  packages/amplify-cli-core/src/utils/index.ts
  packages/amplify-provider-awscloudformation/src/__tests__/aws-utils/IdentityPoolService.test.ts
  packages/amplify-provider-awscloudformation/src/aws-utils/IdentityPoolService.ts
  yarn.lock
Owners: @aws-amplify/amplify-cli

ci: unset IS_AMPLIFY_CI for verify api extract step, yarn lock update
  shared-scripts.sh
  yarn.lock
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

fix: don't swallow that error
  packages/amplify-cli-core/API.md
  packages/amplify-cli-core/src/errors/amplify-exception.ts
  packages/amplify-cli-core/src/overrides-manager/override-skeleton-generator.ts
  packages/amplify-provider-awscloudformation/src/override-manager/transform-resource.ts
Owners: @aws-amplify/amplify-cli

chore: make env undef by default
  packages/amplify-e2e-core/src/categories/storage.ts
  packages/amplify-e2e-core/src/init/amplifyPush.ts
Owners: @aws-amplify/amplify-cli

ci: update env names to match cleanup regex
  packages/amplify-e2e-tests/src/__tests__/custom-resource-with-storage.test.ts
  packages/amplify-e2e-tests/src/__tests__/import_s3_3.test.ts
  packages/amplify-e2e-tests/src/__tests__/init-special-case.test.ts
  packages/amplify-e2e-tests/src/__tests__/layer-1.test.ts
  packages/amplify-e2e-tests/src/__tests__/parameter-store-2.test.ts
  packages/amplify-e2e-tests/src/__tests__/tags.test.ts
  packages/amplify-e2e-tests/src/__tests__/with-babel-config.test.ts
  packages/amplify-e2e-tests/src/cleanup-e2e-resources.ts
Owners: @aws-amplify/amplify-cli

fix: surface override build error if scripting features are disabled (#13013)
  packages/amplify-cli-core/API.md
  packages/amplify-cli-core/src/__tests__/hooks/hooksExecutor.test.ts
  packages/amplify-cli-core/src/errors/amplify-exception.ts
  packages/amplify-cli-core/src/overrides-manager/override-skeleton-generator.ts
  packages/amplify-e2e-core/src/categories/storage.ts
  packages/amplify-e2e-core/src/init/amplifyPush.ts
  packages/amplify-e2e-tests/src/__tests__/auth_6.test.ts
  packages/amplify-e2e-tests/src/__tests__/custom_resources.test.ts
  packages/amplify-e2e-tests/src/__tests__/init_e.test.ts
  packages/amplify-e2e-tests/src/__tests__/storage-5.test.ts
  packages/amplify-provider-awscloudformation/src/override-manager/transform-resource.ts
Owners: @aws-amplify/amplify-cli

chore: pr feedback
  packages/amplify-category-auth/resources/auth-custom-resource/hostedUILambda.js
  packages/amplify-category-auth/resources/auth-custom-resource/hostedUIProviderLambda.js
  packages/amplify-category-auth/resources/auth-custom-resource/mfaLambda.js
  packages/amplify-category-auth/resources/auth-custom-resource/openIdLambda.js
  packages/amplify-category-auth/resources/lambda-function.js
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/__snapshots__/auth-stack-transform.test.ts.snap
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/utils/__snapshots__/generate-auth-trigger-template.test.ts.snap
  packages/amplify-migration-tests/src/__tests__/migration_tests_v10/__snapshots__/auth-add-all.migration.test.ts.snap
Owners: @aws-amplify/amplify-cli

chore: snapshot
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/__snapshots__/auth-oauth-lambda-migration.test.ts.snap
Owners: @aws-amplify/amplify-cli

ci: revert change to regex since it is cleaned up already
  packages/amplify-e2e-tests/src/cleanup-e2e-resources.ts
Owners: @aws-amplify/amplify-cli

chore: comment
  packages/amplify-category-notifications/src/pinpoint-helper.ts
  packages/amplify-cli-core/src/banner-message/index.ts
  packages/amplify-provider-awscloudformation/src/configuration-manager.ts
  packages/amplify-provider-awscloudformation/src/system-config-manager.ts
  packages/amplify-provider-awscloudformation/src/utils/admin-helpers.ts
Owners: @aws-amplify/amplify-cli

feat: run auth lambdas on node 18 (#13011)
  packages/amplify-category-auth/package.json
  packages/amplify-category-auth/resources/auth-custom-resource/hostedUILambda.js
  packages/amplify-category-auth/resources/auth-custom-resource/hostedUIProviderLambda.js
  packages/amplify-category-auth/resources/auth-custom-resource/mfaLambda.js
  packages/amplify-category-auth/resources/auth-custom-resource/openIdLambda.js
  packages/amplify-category-auth/resources/lambda-function.js
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/__snapshots__/auth-stack-transform.test.ts.snap
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/utils/__snapshots__/generate-auth-trigger-template.test.ts.snap
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder.ts
  packages/amplify-category-auth/src/provider-utils/awscloudformation/utils/generate-auth-trigger-template.ts
  packages/amplify-migration-tests/src/__tests__/migration_tests_v10/__snapshots__/auth-add-all.migration.test.ts.snap
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/__snapshots__/auth-oauth-lambda-migration.test.ts.snap
  yarn.lock
Owners: @aws-amplify/amplify-cli

ci: update env names to match cleanup regex (#13015)
  packages/amplify-e2e-tests/src/__tests__/custom-resource-with-storage.test.ts
  packages/amplify-e2e-tests/src/__tests__/import_s3_3.test.ts
  packages/amplify-e2e-tests/src/__tests__/init-special-case.test.ts
  packages/amplify-e2e-tests/src/__tests__/layer-1.test.ts
  packages/amplify-e2e-tests/src/__tests__/parameter-store-2.test.ts
  packages/amplify-e2e-tests/src/__tests__/tags.test.ts
  packages/amplify-e2e-tests/src/__tests__/with-babel-config.test.ts
Owners: @aws-amplify/amplify-cli
