Repository aws-amplify/amplify-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-data-buildtime, @aws-amplify/amplify-cli-admins

.github/CODEOWNERS:

# Amplify CLI Team owns the full repo by default.

* @aws-amplify/amplify-cli

# Add Data team folks focused on GQL transform/codegen to ownership for packages which will be migrated, in addition to the existing cli team.

/packages/amplify-graphiql-explorer @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime
/packages/amplify-velocity-template @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime

# Add folks focused on reviewing changes to CI/CD scripts/buildspecs

/.circleci/ @aws-amplify/amplify-cli-admins 
/scripts/ @aws-amplify/amplify-cli-admins 
/shared-scripts.sh @aws-amplify/amplify-cli-admins 
/codebuild_specs/ @aws-amplify/amplify-cli-admins

fix: top level comment not replacing existing ones
  packages/amplify-category-function/src/constants.ts
  packages/amplify-category-function/src/provider-utils/awscloudformation/utils/updateTopLevelComment.ts
Owners: @aws-amplify/amplify-cli

test: add test for uploadFileCalls
  packages/amplify-category-hosting/__tests__/lib/S3AndCloudFront/helpers/file-uploader.test.js
  packages/amplify-category-hosting/lib/S3AndCloudFront/helpers/file-uploader.js
  packages/amplify-category-hosting/lib/S3AndCloudFront/helpers/upload-file.js
Owners: @aws-amplify/amplify-cli

chore: run prettier-write
  packages/amplify-category-hosting/__tests__/lib/S3AndCloudFront/helpers/file-uploader.test.js
Owners: @aws-amplify/amplify-cli

test: fix lambda-callout migration tests
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth-lambda-callout-migration.test.ts
Owners: @aws-amplify/amplify-cli

fix: error handling
  packages/amplify-category-auth/resources/auth-custom-resource/hostedUILambda.js
Owners: @aws-amplify/amplify-cli

fix: return login token error to studio (#12726)
  packages/amplify-provider-awscloudformation/src/utils/admin-login-server.ts
Owners: @aws-amplify/amplify-cli

fix: conditional in hostedUIProviderLambda
  packages/amplify-category-auth/resources/auth-custom-resource/hostedUIProviderLambda.js
Owners: @aws-amplify/amplify-cli

test: update unit test snapshots
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/__snapshots__/auth-stack-transform.test.ts.snap
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder/__snapshots__/lambda-callout-migrations.test.ts.snap
Owners: @aws-amplify/amplify-cli

test: update e2e snapshot
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/__snapshots__/auth-oauth-lambda-migration.test.ts.snap
Owners: @aws-amplify/amplify-cli

test: update e2e snapshot
  packages/amplify-migration-tests/src/__tests__/migration_tests_v10/__snapshots__/auth-add-all.migration.test.ts.snap
Owners: @aws-amplify/amplify-cli

chore: noop trigger cb
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/run_e2e_tests_windows.yml
  codebuild_specs/scripts-windows/wait-windows.sh
  scripts/split-e2e-tests-codebuild.ts
  scripts/wait-for-all-codebuild.ts
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  codebuild_specs/run_e2e_tests_windows.yml
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  codebuild_specs/e2e_workflow_generated.yml
Owners: @aws-amplify/amplify-cli-admins

chore: upgrade aws-cdk-lib to ~2.80.0
  package.json
  packages/amplify-category-auth/package.json
  packages/amplify-category-custom/package.json
  packages/amplify-category-custom/resources/package.json
  packages/amplify-category-geo/package.json
  packages/amplify-category-storage/package.json
  packages/amplify-cli-core/package.json
  packages/amplify-cli-extensibility-helper/package.json
  packages/amplify-cli/package.json
  packages/amplify-e2e-tests/package.json
  packages/amplify-migration-tests/package.json
  packages/amplify-provider-awscloudformation/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore: clearAllMocks
  packages/amplify-category-hosting/__tests__/lib/S3AndCloudFront/helpers/file-uploader.test.js
  packages/amplify-category-hosting/lib/S3AndCloudFront/helpers/file-uploader.js
Owners: @aws-amplify/amplify-cli

chore: yarn dedupe
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore: remove unnecessary async
  packages/amplify-category-hosting/__tests__/lib/S3AndCloudFront/helpers/file-uploader.test.js
Owners: @aws-amplify/amplify-cli

fix: s3 upload index.html at last (#12852)
  packages/amplify-category-hosting/__tests__/lib/S3AndCloudFront/helpers/file-uploader.test.js
  packages/amplify-category-hosting/lib/S3AndCloudFront/helpers/file-uploader.js
  packages/amplify-category-hosting/lib/S3AndCloudFront/helpers/upload-file.js
Owners: @aws-amplify/amplify-cli

fix: support paths with whitespaces with xcode
  packages/amplify-frontend-ios/lib/amplify-xcode.js
  packages/amplify-frontend-ios/native-bindings-codegen/index.js
Owners: @aws-amplify/amplify-cli

chore: prettier some ignored libs
  .prettierignore
  packages/amplify-category-hosting/lib/S3AndCloudFront/helpers/configure-CloudFront.js
  packages/amplify-category-hosting/lib/S3AndCloudFront/helpers/file-uploader.js
  packages/amplify-category-hosting/lib/S3AndCloudFront/helpers/upload-file.js
Owners: @aws-amplify/amplify-cli

fix: prettierPath
  .vscode/settings.json
Owners: @aws-amplify/amplify-cli

ci: default to codebuild e2e, use small VMs where possible (#12854)
  codebuild_specs/e2e_workflow_generated.yml
  package.json
  scripts/split-e2e-tests-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

chore: prettier husky
  .husky/.gitignore
  .husky/pre-commit
  package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

update api dependencies
  packages/amplify-cli/package.json
  packages/amplify-container-hosting/package.json
  packages/amplify-graphql-migration-tests/package.json
  packages/amplify-util-mock/package.json
  packages/amplify-util-uibuilder/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore(release): Publish tagged release rds [ci skip]
  packages/amplify-cli-npm/CHANGELOG.md
  packages/amplify-cli-npm/package.json
  packages/amplify-cli/CHANGELOG.md
  packages/amplify-cli/package.json
  packages/amplify-container-hosting/CHANGELOG.md
  packages/amplify-container-hosting/package.json
  packages/amplify-graphql-migration-tests/CHANGELOG.md
  packages/amplify-graphql-migration-tests/package.json
  packages/amplify-util-mock/CHANGELOG.md
  packages/amplify-util-mock/package.json
  packages/amplify-util-uibuilder/CHANGELOG.md
  packages/amplify-util-uibuilder/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

fix: error handling conditional
  packages/amplify-category-auth/resources/auth-custom-resource/hostedUIProviderLambda.js
Owners: @aws-amplify/amplify-cli

test: update snapshots again
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/__snapshots__/auth-stack-transform.test.ts.snap
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder/__snapshots__/lambda-callout-migrations.test.ts.snap
  packages/amplify-migration-tests/src/__tests__/migration_tests_v10/__snapshots__/auth-add-all.migration.test.ts.snap
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/__snapshots__/auth-oauth-lambda-migration.test.ts.snap
Owners: @aws-amplify/amplify-cli

style: fix lint issue
  packages/amplify-frontend-ios/native-bindings-codegen/index.js
Owners: @aws-amplify/amplify-cli

fix: mistake in catch block of Lambda callout
  packages/amplify-category-auth/resources/auth-custom-resource/hostedUIProviderLambda.js
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/__snapshots__/auth-stack-transform.test.ts.snap
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder/__snapshots__/lambda-callout-migrations.test.ts.snap
  packages/amplify-migration-tests/src/__tests__/migration_tests_v10/__snapshots__/auth-add-all.migration.test.ts.snap
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/__snapshots__/auth-oauth-lambda-migration.test.ts.snap
Owners: @aws-amplify/amplify-cli

update yarn.lock
  yarn.lock
Owners: @aws-amplify/amplify-cli

fix: typo in error handling
  packages/amplify-category-auth/resources/auth-custom-resource/hostedUIProviderLambda.js
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/__snapshots__/auth-stack-transform.test.ts.snap
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder/__snapshots__/lambda-callout-migrations.test.ts.snap
Owners: @aws-amplify/amplify-cli

fix: husky and lint-stage
  .husky/pre-commit
  package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore: add echo
  .husky/pre-commit
Owners: @aws-amplify/amplify-cli

ci: need to create full dir path
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: sort package.json scripts
  package.json
Owners: @aws-amplify/amplify-cli

chore: sort package.json scripts again after merge conflicts
  package.json
Owners: @aws-amplify/amplify-cli

fix: error handling regression
  packages/amplify-category-auth/resources/auth-custom-resource/hostedUIProviderLambda.js
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/__snapshots__/auth-stack-transform.test.ts.snap
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder/__snapshots__/lambda-callout-migrations.test.ts.snap
  packages/amplify-migration-tests/src/__tests__/migration_tests_v10/__snapshots__/auth-add-all.migration.test.ts.snap
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/__snapshots__/auth-oauth-lambda-migration.test.ts.snap
Owners: @aws-amplify/amplify-cli

chore: noop trigger cb
  codebuild_specs/scripts-windows/wait-windows.sh
  codebuild_specs/wait_windows.json
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  codebuild_specs/wait_windows.json
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  codebuild_specs/scripts-windows/wait-windows.sh
Owners: @aws-amplify/amplify-cli-admins
