Repository aws-amplify/amplify-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-data-buildtime, @aws-amplify/amplify-cli-admins

.github/CODEOWNERS:

# Amplify CLI Team owns the full repo by default.

* @aws-amplify/amplify-cli

# Add Data team folks focused on GQL transform/codegen to ownership for packages which will be migrated, in addition to the existing cli team.

/packages/amplify-graphiql-explorer @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime
/packages/amplify-velocity-template @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime

# Add folks focused on reviewing changes to CI/CD scripts/buildspecs

/.circleci/ @aws-amplify/amplify-cli-admins 
/scripts/ @aws-amplify/amplify-cli-admins 
/shared-scripts.sh @aws-amplify/amplify-cli-admins 
/codebuild_specs/ @aws-amplify/amplify-cli-admins

Revert "test: remove extra hash (#13071)"
  .circleci/local_publish_helpers.sh
  .circleci/local_publish_helpers_codebuild.sh
  packages/amplify-cli-npm/binary.ts
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

chore(cli): dummy commit
  packages/amplify-cli/src/execution-manager.ts
Owners: @aws-amplify/amplify-cli

refactor: log file path code and tests
  packages/amplify-cli-logger/src/__tests__/TestFilePath.test.ts
  packages/amplify-cli-logger/src/__tests__/baseLogFilePath.test.ts
  packages/amplify-cli-logger/src/__tests__/getLogFilePath.test.ts
  packages/amplify-cli-logger/src/baseLogFilePath.ts
  packages/amplify-cli-logger/src/getLogFilePath.ts
Owners: @aws-amplify/amplify-cli

refactor: use old filename for tests
  packages/amplify-cli-logger/src/__tests__/TestFilePath.test.ts
Owners: @aws-amplify/amplify-cli

refactor: move spy inside the test suite
  packages/amplify-cli-logger/src/__tests__/TestFilePath.test.ts
Owners: @aws-amplify/amplify-cli

refactor: change project path var name
  packages/amplify-cli-logger/src/__tests__/TestFilePath.test.ts
Owners: @aws-amplify/amplify-cli

feat: generate components using graphql
  package.json
  packages/amplify-appsync-simulator/package.json
  packages/amplify-category-auth/package.json
  packages/amplify-category-function/package.json
  packages/amplify-category-geo/package.json
  packages/amplify-category-notifications/package.json
  packages/amplify-category-predictions/package.json
  packages/amplify-category-storage/package.json
  packages/amplify-cli-npm/index.ts
  packages/amplify-cli/package.json
  packages/amplify-console-integration-tests/package.json
  packages/amplify-dynamodb-simulator/package.json
  packages/amplify-e2e-core/package.json
  packages/amplify-e2e-tests/package.json
  packages/amplify-environment-parameters/package.json
  packages/amplify-opensearch-simulator/package.json
  packages/amplify-provider-awscloudformation/package.json
  packages/amplify-storage-simulator/package.json
  packages/amplify-util-import/package.json
  packages/amplify-util-mock/package.json
  packages/amplify-util-uibuilder/package.json
  packages/amplify-util-uibuilder/src/__tests__/generateComponents.test.ts
  packages/amplify-util-uibuilder/src/__tests__/utils/getApiConfiguration.test.ts
  packages/amplify-util-uibuilder/src/clients/amplify-studio-client.ts
  packages/amplify-util-uibuilder/src/commands/generateComponents.ts
  packages/amplify-util-uibuilder/src/commands/utils/getApiConfiguration.ts
  packages/amplify-util-uibuilder/types/amplify-codegen.d.ts
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore: bump word-wrap with resolution
  package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

fix: remove error incorrectly swallowed (fixes #13030) (#13041)
  packages/amplify-category-auth/src/commands/auth/remove.ts
  packages/amplify-cli/src/__tests__/extensions/amplify-helpers/remove-resource.test.ts
  packages/amplify-cli/src/extensions/amplify-helpers/remove-resource.ts
Owners: @aws-amplify/amplify-cli

ci: configure codeql to ignore e2e branches
  .github/workflows/codeql-tests.yaml
  .github/workflows/codeql.yaml
Owners: @aws-amplify/amplify-cli

test(cli-core): added tests for utils from cli-core package (#13080)
  CONTRIBUTING.md
  packages/amplify-cli-core/src/__tests__/utils/isResourceNameUnique.test.ts
  packages/amplify-cli-core/src/__tests__/utils/recursiveOmit.test.ts
  packages/amplify-cli-core/src/utils/doc-links.ts
  packages/amplify-cli-core/src/utils/isResourceNameUnique.ts
Owners: @aws-amplify/amplify-cli

chore: bump data deps (#13075)
  packages/amplify-cli/package.json
  packages/amplify-container-hosting/package.json
  packages/amplify-provider-awscloudformation/package.json
  packages/amplify-util-mock/package.json
  packages/amplify-util-uibuilder/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

Update packages/amplify-cli/src/commands/configure.ts
  packages/amplify-cli/src/commands/configure.ts
Owners: @aws-amplify/amplify-cli

Revert "test: remove extra hash (#13071)" (#13084)
  .circleci/local_publish_helpers.sh
  .circleci/local_publish_helpers_codebuild.sh
  packages/amplify-cli-npm/binary.ts
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

chore: update for major version release
  packages/amplify-category-function/package.json
  packages/amplify-cli-core/API.md
  packages/amplify-cli-core/package.json
  packages/amplify-cli/package.json
  packages/amplify-container-hosting/package.json
  packages/amplify-dotnet-function-template-provider/package.json
  packages/amplify-e2e-core/package.json
  packages/amplify-e2e-tests/package.json
  packages/amplify-migration-tests/package.json
  packages/amplify-nodejs-function-template-provider/package.json
  packages/amplify-provider-awscloudformation/package.json
  packages/amplify-util-mock/package.json
  packages/amplify-util-uibuilder/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore: run prettier
  .github/workflows/codeql.yaml
Owners: @aws-amplify/amplify-cli

ci: make region parameter to batch script
  scripts/cloud-cli-utils.sh
Owners: @aws-amplify/amplify-cli-admins

test(amplify-migration-tests): fix prumpt msg for v10 after updating
  packages/amplify-migration-tests/src/migration-helpers-v10/init.ts
Owners: @aws-amplify/amplify-cli

chore(cli-internal): change context.print to printer
  packages/amplify-cli/src/commands/configure.ts
  packages/amplify-cli/src/init-steps/s9-onSuccess.ts
Owners: @aws-amplify/amplify-cli

feat: generate components using graphql
  package.json
  packages/amplify-appsync-simulator/package.json
  packages/amplify-category-auth/package.json
  packages/amplify-category-function/package.json
  packages/amplify-category-geo/package.json
  packages/amplify-category-notifications/package.json
  packages/amplify-category-predictions/package.json
  packages/amplify-category-storage/package.json
  packages/amplify-cli-npm/index.ts
  packages/amplify-cli/package.json
  packages/amplify-console-integration-tests/package.json
  packages/amplify-dynamodb-simulator/package.json
  packages/amplify-e2e-core/package.json
  packages/amplify-e2e-tests/package.json
  packages/amplify-environment-parameters/package.json
  packages/amplify-opensearch-simulator/package.json
  packages/amplify-provider-awscloudformation/package.json
  packages/amplify-storage-simulator/package.json
  packages/amplify-util-import/package.json
  packages/amplify-util-mock/package.json
  packages/amplify-util-uibuilder/package.json
  packages/amplify-util-uibuilder/src/__tests__/generateComponents.test.ts
  packages/amplify-util-uibuilder/src/__tests__/utils/getApiConfiguration.test.ts
  packages/amplify-util-uibuilder/src/clients/amplify-studio-client.ts
  packages/amplify-util-uibuilder/src/commands/generateComponents.ts
  packages/amplify-util-uibuilder/src/commands/utils/getApiConfiguration.ts
  packages/amplify-util-uibuilder/types/amplify-codegen.d.ts
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore(amplify-e2e-tests): update Readme and sample env
  packages/amplify-e2e-tests/Readme.md
  packages/amplify-e2e-tests/sample.env
  packages/amplify-migration-tests/Readme.md
  packages/amplify-migration-tests/sample.env
Owners: @aws-amplify/amplify-cli

ci: test uibuilder from dev
  codebuild_specs/e2e_workflow_generated.yml
Owners: @aws-amplify/amplify-cli-admins

chore(amplify-e2e-tests): update Readme and sample env (#13098)
  packages/amplify-e2e-tests/Readme.md
  packages/amplify-e2e-tests/sample.env
  packages/amplify-migration-tests/Readme.md
  packages/amplify-migration-tests/sample.env
Owners: @aws-amplify/amplify-cli

Revert "fix(amplify-frontend-ios): pass paths to command options as strings (#12596)"
  packages/amplify-frontend-ios/lib/amplify-xcode.js
Owners: @aws-amplify/amplify-cli

Revert "fix(amplify-frontend-ios): pass paths to command options as strings (#12596)"
  packages/amplify-frontend-ios/lib/amplify-xcode.js
Owners: @aws-amplify/amplify-cli

Revert "fix(amplify-frontend-ios): pass paths to command options as strings (#12596)" (#13106)
  packages/amplify-frontend-ios/lib/amplify-xcode.js
Owners: @aws-amplify/amplify-cli

chore(release): Publish rc [ci skip]
  packages/amplify-app/CHANGELOG.md
  packages/amplify-app/package.json
  packages/amplify-cli-npm/CHANGELOG.md
  packages/amplify-cli-npm/package.json
  packages/amplify-cli/CHANGELOG.md
  packages/amplify-cli/package.json
  packages/amplify-frontend-ios/CHANGELOG.md
  packages/amplify-frontend-ios/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

ci: add build test standalone and verify pkg cli to pr workflow
  codebuild_specs/pr_workflow.yml
Owners: @aws-amplify/amplify-cli-admins

ci: use dependencies in PR workflow
  codebuild_specs/pr_workflow.yml
Owners: @aws-amplify/amplify-cli-admins

ci: try this
  codebuild_specs/pr_workflow.yml
Owners: @aws-amplify/amplify-cli-admins

Revert "ci: try this"
  codebuild_specs/pr_workflow.yml
Owners: @aws-amplify/amplify-cli-admins

Revert "ci: use dependencies in PR workflow"
  codebuild_specs/pr_workflow.yml
Owners: @aws-amplify/amplify-cli-admins

ci: add retries
  scripts/wait-for-all-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

chore(release): Publish latest [ci skip]
  packages/amplify-app/CHANGELOG.md
  packages/amplify-app/package.json
  packages/amplify-cli-npm/CHANGELOG.md
  packages/amplify-cli-npm/package.json
  packages/amplify-cli/CHANGELOG.md
  packages/amplify-cli/package.json
  packages/amplify-frontend-ios/CHANGELOG.md
  packages/amplify-frontend-ios/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

test(amplify-migration-tests): fix prumpt msg for v12 after updating
  packages/amplify-migration-tests/src/migration-helpers-v12/init.ts
Owners: @aws-amplify/amplify-cli

ci: add build test standalone and verify pkg cli to pr workflow (#13108)
  codebuild_specs/pr_workflow.yml
  scripts/wait-for-all-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

ci: compute type de-duplication
  codebuild_specs/build_linux.yml
  codebuild_specs/pr_workflow.yml
Owners: @aws-amplify/amplify-cli-admins

ci: verify e2e workflow
  codebuild_specs/pr_workflow.yml
  codebuild_specs/verify_e2e_workflow_generated.yml
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

ci: fix delta
  codebuild_specs/e2e_workflow_generated.yml
Owners: @aws-amplify/amplify-cli-admins

chore(release): Merge main into dev (#13111)
  packages/amplify-app/CHANGELOG.md
  packages/amplify-app/package.json
  packages/amplify-cli-npm/CHANGELOG.md
  packages/amplify-cli-npm/package.json
  packages/amplify-cli/CHANGELOG.md
  packages/amplify-cli/package.json
  packages/amplify-frontend-ios/CHANGELOG.md
  packages/amplify-frontend-ios/lib/amplify-xcode.js
  packages/amplify-frontend-ios/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli
