Repository aws-amplify/amplify-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-data-buildtime, @aws-amplify/amplify-cli-admins

fix: skip hooks if flag detected
  packages/amplify-category-custom/src/utils/build-custom-resources.ts
  packages/amplify-cli-core/src/hooks/skipHooks.ts
  packages/amplify-cli-core/src/overrides-manager/override-skeleton-generator.ts
Owners: @aws-amplify/amplify-cli

Revert "fix: skip hooks if flag detected"
  packages/amplify-category-custom/src/utils/build-custom-resources.ts
  packages/amplify-cli-core/src/hooks/skipHooks.ts
  packages/amplify-cli-core/src/overrides-manager/override-skeleton-generator.ts
Owners: @aws-amplify/amplify-cli

chore: codebuild cleanup script
  codebuild_specs/cleanup_resources.yml
  codebuild_specs/e2e_workflow_base.yml
Owners: @aws-amplify/amplify-cli-admins

fix: skip hooks if flag detected
  packages/amplify-category-custom/src/utils/build-custom-resources.ts
  packages/amplify-cli-core/src/hooks/skipHooks.ts
  packages/amplify-cli-core/src/overrides-manager/override-skeleton-generator.ts
Owners: @aws-amplify/amplify-cli

chore: tests for overrides,custom
  packages/amplify-e2e-tests/src/__tests__/auth_6.test.ts
  packages/amplify-e2e-tests/src/__tests__/custom_resources.test.ts
  packages/amplify-e2e-tests/src/__tests__/init_e.test.ts
  packages/amplify-e2e-tests/src/__tests__/storage-5.test.ts
Owners: @aws-amplify/amplify-cli

chore: codebuild cleanup script
  codebuild_specs/e2e_workflow_generated.yml
Owners: @aws-amplify/amplify-cli-admins

chore: test s3 access
  packages/amplify-e2e-core/src/categories/storage.ts
  packages/amplify-e2e-tests/package.json
  packages/amplify-e2e-tests/src/__tests__/auth/user-groups-s3-access.test.ts
  packages/amplify-e2e-tests/src/__tests__/storage-1b.test.ts
  yarn.lock
Owners: @aws-amplify/amplify-cli

feat: generate components using graphql
  packages/amplify-util-uibuilder/package.json
  packages/amplify-util-uibuilder/src/clients/amplify-studio-client.ts
  packages/amplify-util-uibuilder/src/commands/generateComponents.ts
  packages/amplify-util-uibuilder/src/commands/utils/codegenResources.ts
  packages/amplify-util-uibuilder/src/commands/utils/syncAmplifyUiBuilderComponents.ts
  packages/amplify-util-uibuilder/types/amplify-codegen.d.ts
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore: lint fix
  packages/amplify-cli-core/src/hooks/skipHooks.ts
Owners: @aws-amplify/amplify-cli

chore: fix build custom resource test
  packages/amplify-category-custom/src/__tests__/utils/build-custom-resources.test.ts
Owners: @aws-amplify/amplify-cli

chore: fix hooks executor tests
  packages/amplify-cli-core/src/__tests__/hooks/hooksExecutor.test.ts
Owners: @aws-amplify/amplify-cli

chore: mock fs events fix
  packages/amplify-cli/src/__tests__/execution-manager.test.ts
Owners: @aws-amplify/amplify-cli

chore: mock fs events fix
  packages/amplify-cli/src/__tests__/execution-manager.test.ts
Owners: @aws-amplify/amplify-cli

chore: fix hooks executor tests
  packages/amplify-cli-core/src/__tests__/hooks/hooksExecutor.test.ts
Owners: @aws-amplify/amplify-cli

chore: fix build custom resource test
  packages/amplify-category-custom/src/__tests__/utils/build-custom-resources.test.ts
Owners: @aws-amplify/amplify-cli

chore: lint fix
  packages/amplify-cli-core/src/hooks/skipHooks.ts
Owners: @aws-amplify/amplify-cli

fix: skip hooks if flag detected
  packages/amplify-category-custom/src/utils/build-custom-resources.ts
  packages/amplify-cli-core/src/hooks/skipHooks.ts
  packages/amplify-cli-core/src/overrides-manager/override-skeleton-generator.ts
Owners: @aws-amplify/amplify-cli

chore: tests for overrides,custom
  packages/amplify-e2e-tests/src/__tests__/auth_6.test.ts
  packages/amplify-e2e-tests/src/__tests__/custom_resources.test.ts
  packages/amplify-e2e-tests/src/__tests__/init_e.test.ts
  packages/amplify-e2e-tests/src/__tests__/storage-5.test.ts
Owners: @aws-amplify/amplify-cli

chore: codebuild cleanup script
  codebuild_specs/build_windows.yml
Owners: @aws-amplify/amplify-cli-admins

chore: codebuild cleanup script
  codebuild_specs/cleanup_resources.yml
  codebuild_specs/e2e_workflow_base.yml
  codebuild_specs/e2e_workflow_generated.yml
  scripts/cleanup-codebuild-resources.ts
  scripts/package.json
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

fix: redo versions after resolving merge conflicts
  packages/amplify-cli-extensibility-helper/package.json
  packages/amplify-cli/package.json
  packages/amplify-container-hosting/package.json
  packages/amplify-dotnet-function-template-provider/package.json
  packages/amplify-e2e-tests/package.json
  packages/amplify-migration-tests/custom-resources/custom-cdk-stack-vLatest.package.json
  packages/amplify-provider-awscloudformation/package.json
  packages/amplify-util-mock/package.json
  packages/amplify-util-uibuilder/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore: codebuild cleanup script
  scripts/yarn.lock
  shared-scripts.sh
  yarn.lock
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

fix: temporary fix cdk version bump
  packages/amplify-e2e-tests/src/__tests__/custom-resource-with-storage.test.ts
  packages/amplify-e2e-tests/src/__tests__/custom_resources.test.ts
  scripts/split-e2e-tests-v2.ts
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-cli-admins

chore: upgrade to lerna ^7.1.4
  lerna.json
  package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore: codebuild cleanup script
  codebuild_specs/cleanup_resources.yml
  codebuild_specs/e2e_workflow_base.yml
  codebuild_specs/e2e_workflow_generated.yml
  packages/amplify-e2e-tests/src/cleanup-codebuild-resources.ts
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

chore: bump data dependencies
  packages/amplify-category-function/package.json
  packages/amplify-cli-core/package.json
  packages/amplify-cli/package.json
  packages/amplify-container-hosting/package.json
  packages/amplify-dotnet-function-template-provider/package.json
  packages/amplify-e2e-core/package.json
  packages/amplify-e2e-tests/package.json
  packages/amplify-graphql-migration-tests/package.json
  packages/amplify-migration-tests/package.json
  packages/amplify-nodejs-function-template-provider/package.json
  packages/amplify-provider-awscloudformation/package.json
  packages/amplify-util-mock/package.json
  packages/amplify-util-uibuilder/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore: codebuild cleanup script
  codebuild_specs/cleanup_resources.yml
  codebuild_specs/e2e_workflow_base.yml
Owners: @aws-amplify/amplify-cli-admins

chore: test migration scenarios
  packages/amplify-e2e-core/src/categories/auth.ts
  packages/amplify-migration-tests/package.json
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth-role-mapping-migration-test.ts
  scripts/split-e2e-test-filters.ts
  yarn.lock
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-cli-admins

chore: bump binary size thresholds
  .circleci/local_publish_helpers.sh
Owners: @aws-amplify/amplify-cli-admins

chore: fix test
  packages/amplify-util-uibuilder/src/__tests__/syncAmplifyUiComponents.test.ts
Owners: @aws-amplify/amplify-cli

chore: codebuild cleanup script
  codebuild_specs/e2e_workflow_generated.yml
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: codebuild cleanup script
  codebuild_specs/aggregate_e2e_reports.yml
Owners: @aws-amplify/amplify-cli-admins

chore: add some headless test
  packages/amplify-e2e-tests/src/__tests__/auth/user-groups.test.ts
Owners: @aws-amplify/amplify-cli

chore: codebuild cleanup script
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

fix: remove vm2
  packages/amplify-category-auth/package.json
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/auth-stack-transform.ts
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/user-pool-group-stack-transform.ts
  packages/amplify-category-storage/package.json
  packages/amplify-category-storage/src/provider-utils/awscloudformation/cdk-stack-builder/ddb-stack-transform.ts
  packages/amplify-category-storage/src/provider-utils/awscloudformation/cdk-stack-builder/s3-stack-transform.ts
  packages/amplify-provider-awscloudformation/package.json
  packages/amplify-provider-awscloudformation/src/initializer.ts
  packages/amplify-provider-awscloudformation/src/root-stack-builder/root-stack-transform.ts
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore: codebuild cleanup script
  codebuild_specs/e2e_workflow_generated.yml
Owners: @aws-amplify/amplify-cli-admins

chore: bump data dependencies to 5.5.0 (#12986)
  .circleci/local_publish_helpers.sh
  packages/amplify-category-function/package.json
  packages/amplify-cli-core/package.json
  packages/amplify-cli/package.json
  packages/amplify-container-hosting/package.json
  packages/amplify-dotnet-function-template-provider/package.json
  packages/amplify-e2e-core/package.json
  packages/amplify-e2e-tests/package.json
  packages/amplify-graphql-migration-tests/package.json
  packages/amplify-migration-tests/package.json
  packages/amplify-nodejs-function-template-provider/package.json
  packages/amplify-provider-awscloudformation/package.json
  packages/amplify-util-mock/package.json
  packages/amplify-util-uibuilder/package.json
  packages/amplify-util-uibuilder/src/__tests__/syncAmplifyUiComponents.test.ts
  yarn.lock
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

fix: typo in split-e2e-tests-v2.ts
  scripts/split-e2e-tests-v2.ts
Owners: @aws-amplify/amplify-cli-admins

fix: typo in split-e2e-tests-v2.ts (#12995)
  scripts/split-e2e-tests-v2.ts
Owners: @aws-amplify/amplify-cli-admins

chore: group lambda removal
  packages/amplify-category-auth/resources/auth-custom-resource/role-map-lambda-function.js
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/__snapshots__/auth-stack-transform.test.ts.snap
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/__snapshots__/user-pool-group-stack-transform.test.ts.snap
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder.ts
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/auth-user-pool-group-stack-builder.ts
  packages/amplify-category-auth/src/provider-utils/awscloudformation/constants.ts
  packages/amplify-category-auth/src/provider-utils/awscloudformation/handlers/resource-handlers.ts
Owners: @aws-amplify/amplify-cli

.github/CODEOWNERS:

# Amplify CLI Team owns the full repo by default.

* @aws-amplify/amplify-cli

# Add Data team folks focused on GQL transform/codegen to ownership for packages which will be migrated, in addition to the existing cli team.

/packages/amplify-graphiql-explorer @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime
/packages/amplify-velocity-template @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime

# Add folks focused on reviewing changes to CI/CD scripts/buildspecs

/.circleci/ @aws-amplify/amplify-cli-admins 
/scripts/ @aws-amplify/amplify-cli-admins 
/shared-scripts.sh @aws-amplify/amplify-cli-admins 
/codebuild_specs/ @aws-amplify/amplify-cli-admins
