Repository aws-amplify/amplify-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-data-buildtime, @aws-amplify/amplify-cli-admins

.github/CODEOWNERS:

# Amplify CLI Team owns the full repo by default.

* @aws-amplify/amplify-cli

# Add Data team folks focused on GQL transform/codegen to ownership for packages which will be migrated, in addition to the existing cli team.

/packages/amplify-graphiql-explorer @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime
/packages/amplify-velocity-template @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime

# Add folks focused on reviewing changes to CI/CD scripts/buildspecs

/.circleci/ @aws-amplify/amplify-cli-admins 
/scripts/ @aws-amplify/amplify-cli-admins 
/shared-scripts.sh @aws-amplify/amplify-cli-admins 
/codebuild_specs/ @aws-amplify/amplify-cli-admins

chore: add build_tests_standalone
  codebuild_specs/e2e_workflow_generated.yml
Owners: @aws-amplify/amplify-cli-admins

chore: add build_tests_standalone
  codebuild_specs/build_tests_standalone.yml
Owners: @aws-amplify/amplify-cli-admins

fix: usage data should not throw errors (#12839)
  packages/amplify-cli/package.json
  packages/amplify-cli/src/__tests__/usage-data.test.ts
  packages/amplify-cli/src/domain/amplify-usageData/UsageData.ts
  yarn.lock
Owners: @aws-amplify/amplify-cli

update api dependenices
  packages/amplify-category-function/package.json
  packages/amplify-cli-core/package.json
  packages/amplify-cli/package.json
  packages/amplify-container-hosting/package.json
  packages/amplify-dotnet-function-template-provider/package.json
  packages/amplify-e2e-core/package.json
  packages/amplify-e2e-tests/package.json
  packages/amplify-graphql-migration-tests/package.json
  packages/amplify-migration-tests/package.json
  packages/amplify-nodejs-function-template-provider/package.json
  packages/amplify-provider-awscloudformation/package.json
  packages/amplify-util-mock/package.json
  packages/amplify-util-uibuilder/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

update api dependenices (#12843)
  packages/amplify-category-function/package.json
  packages/amplify-cli-core/package.json
  packages/amplify-cli/package.json
  packages/amplify-container-hosting/package.json
  packages/amplify-dotnet-function-template-provider/package.json
  packages/amplify-e2e-core/package.json
  packages/amplify-e2e-tests/package.json
  packages/amplify-graphql-migration-tests/package.json
  packages/amplify-migration-tests/package.json
  packages/amplify-nodejs-function-template-provider/package.json
  packages/amplify-provider-awscloudformation/package.json
  packages/amplify-util-mock/package.json
  packages/amplify-util-uibuilder/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

fix: converted package manager interface fields to readonly
  packages/amplify-cli-core/API.md
  packages/amplify-cli-core/src/__tests__/amplify-lockfile-dependency-detector/amplify-nodejs-detector.test.ts
  packages/amplify-cli-core/src/utils/packageManager.ts
  packages/amplify-cli/src/__tests__/commands/init.test.ts
Owners: @aws-amplify/amplify-cli

update api dependencies
  packages/amplify-category-function/package.json
  packages/amplify-cli-core/package.json
  packages/amplify-cli/package.json
  packages/amplify-container-hosting/package.json
  packages/amplify-dotnet-function-template-provider/package.json
  packages/amplify-e2e-core/package.json
  packages/amplify-e2e-tests/package.json
  packages/amplify-graphql-migration-tests/package.json
  packages/amplify-migration-tests/package.json
  packages/amplify-nodejs-function-template-provider/package.json
  packages/amplify-provider-awscloudformation/package.json
  packages/amplify-util-mock/package.json
  packages/amplify-util-uibuilder/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore: cleanup stale resources in CodeBuild (#12779)
  codebuild_specs/cleanup_resources.yml
  codebuild_specs/e2e_workflow.yml
  packages/amplify-e2e-core/src/cli-test-environment.js
  packages/amplify-e2e-core/src/init/initProjectHelper.ts
  packages/amplify-e2e-core/src/utils/add-ci-cleanup-tags.ts
  packages/amplify-e2e-core/src/utils/add-circleci-tags.ts
  packages/amplify-e2e-core/src/utils/index.ts
  packages/amplify-e2e-core/src/utils/pinpoint.ts
  packages/amplify-e2e-tests/src/init-special-cases/index.ts
  packages/amplify-migration-tests/src/migration-helpers-v10/init.ts
  packages/amplify-migration-tests/src/migration-helpers/init.ts
  scripts/cleanup-e2e-codebuild-resources.ts
  scripts/codebuild-utils.ts
  scripts/package.json
  scripts/wait-for-all-codebuild.ts
  scripts/yarn.lock
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

chore: PR feedback
  packages/amplify-cli-core/src/amplify-node-pkg-detector/parser-factory.ts
  packages/amplify-provider-awscloudformation/package.json
Owners: @aws-amplify/amplify-cli

chore: PR feedback
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore: remove disallowed secret pattern match
  packages/amplify-nodejs-function-template-provider/resources/lambda/lambda-auth/event.json
Owners: @aws-amplify/amplify-cli

fix: change hostedui provider lambda to update apple signin + only delete when resource not in stack
  packages/amplify-category-auth/resources/auth-custom-resource/hostedUIProviderLambda.js
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder.ts
Owners: @aws-amplify/amplify-cli

chore: remove disallowed secret pattern match (#12845)
  packages/amplify-nodejs-function-template-provider/resources/lambda/lambda-auth/event.json
Owners: @aws-amplify/amplify-cli

test: run Open Search sim as root for Code Build
  packages/amplify-opensearch-simulator/src/index.ts
  packages/amplify-util-mock/src/__e2e__/utils/index.ts
Owners: @aws-amplify/amplify-cli

fix: s3 upload index.html at last
  packages/amplify-category-hosting/lib/S3AndCloudFront/helpers/file-uploader.js
Owners: @aws-amplify/amplify-cli

fix: update correct permissions for SDK calls made in lambdas
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder.ts
Owners: @aws-amplify/amplify-cli

fix: keep lambda when apple provider not created
  packages/amplify-category-auth/resources/auth-custom-resource/hostedUIProviderLambda.js
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/lambda-callout-migrations/__snapshots__/auth-cognito-stack-builder.test.ts.snap
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/utils/migrate-idp-resources.test.ts
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder.ts
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/auth-stack-transform.ts
  packages/amplify-category-auth/src/provider-utils/awscloudformation/utils/migrate-idp-resources.ts
  packages/amplify-provider-awscloudformation/src/push-resources.ts
Owners: @aws-amplify/amplify-cli

fix: run linter
  packages/amplify-category-auth/API.md
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/lambda-callout-migrations/__snapshots__/auth-cognito-stack-builder.test.ts.snap
Owners: @aws-amplify/amplify-cli

fix: remove circle ci refs
  packages/amplify-migration-tests/src/migration-helpers-v11/init.ts
Owners: @aws-amplify/amplify-cli

fix: remove extra try/catch
  packages/amplify-category-auth/resources/auth-custom-resource/hostedUIProviderLambda.js
Owners: @aws-amplify/amplify-cli

test: updating snapshots
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/utils/migrate-idp-resources.test.ts
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder.ts
  packages/amplify-category-auth/src/provider-utils/awscloudformation/utils/migrate-idp-resources.ts
  packages/amplify-migration-tests/src/__tests__/migration_tests_v10/__snapshots__/auth-add-all.migration.test.ts.snap
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/__snapshots__/auth-oauth-lambda-migration.test.ts.snap
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth-app-client-secret-migration.test.ts
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth-hosted-ui.migration.test.ts
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth.migration.test.ts
Owners: @aws-amplify/amplify-cli

chore: remove curly brackets
  packages/amplify-category-auth/src/provider-utils/awscloudformation/utils/migrate-idp-resources.ts
Owners: @aws-amplify/amplify-cli

chore: setting default value for settings in function calls
  packages/amplify-console-integration-tests/src/pullAndInit/pullProject.ts
  packages/amplify-e2e-core/src/configure/index.ts
  packages/amplify-e2e-core/src/init/amplifyPush.ts
  packages/amplify-e2e-core/src/init/initProjectHelper.ts
  packages/amplify-e2e-core/src/init/pull-headless.ts
  packages/amplify-migration-tests/src/migration-helpers-v10/init.ts
  packages/amplify-migration-tests/src/migration-helpers/init.ts
Owners: @aws-amplify/amplify-cli

test: update anspshots
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/__snapshots__/auth-stack-transform.test.ts.snap
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/lambda-callout-migrations/__snapshots__/auth-cognito-stack-builder.test.ts.snap
Owners: @aws-amplify/amplify-cli

fix: move yargs from devDependency in scripts to dep in root package.json
  package.json
  scripts/package.json
  scripts/yarn.lock
  yarn.lock
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-cli-admins

fix: guard against missing idp and skip creating new resource
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder.ts
  packages/amplify-category-auth/src/provider-utils/awscloudformation/utils/migrate-idp-resources.ts
Owners: @aws-amplify/amplify-cli

chore: Post deployment check (#12824)
  .circleci/config.base.yml
  package.json
  scripts/verify-deployment.ts
  yarn.lock
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

chore: rename directories
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder.test.ts
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder/__snapshots__/auth-cognito-stack-builder.test.ts.snap
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder/__snapshots__/lambda-callout-migrations.test.ts.snap
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder/lambda-callout-migrations.test.ts
Owners: @aws-amplify/amplify-cli

chore: updatesnapshot
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder/__snapshots__/auth-cognito-stack-builder.test.ts.snap
Owners: @aws-amplify/amplify-cli

Revert "chore: cleanup stale resources in CodeBuild (#12779)"
  codebuild_specs/cleanup_resources.yml
  codebuild_specs/e2e_workflow.yml
  packages/amplify-e2e-core/src/cli-test-environment.js
  packages/amplify-e2e-core/src/init/initProjectHelper.ts
  packages/amplify-e2e-core/src/utils/add-ci-cleanup-tags.ts
  packages/amplify-e2e-core/src/utils/add-circleci-tags.ts
  packages/amplify-e2e-core/src/utils/index.ts
  packages/amplify-e2e-core/src/utils/pinpoint.ts
  packages/amplify-e2e-tests/src/cleanup-e2e-resources.ts
  packages/amplify-e2e-tests/src/init-special-cases/index.ts
  packages/amplify-migration-tests/src/migration-helpers-v10/init.ts
  packages/amplify-migration-tests/src/migration-helpers/init.ts
  scripts/cleanup-e2e-codebuild-resources.ts
  scripts/codebuild-utils.ts
  scripts/package.json
  scripts/wait-for-all-codebuild.ts
  scripts/yarn.lock
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

chore: add build tests standalone to codebuild (#12841)
  codebuild_specs/build_tests_standalone.yml
  codebuild_specs/e2e_workflow_base.yml
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/wait_for_ids.json
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: fix incorrect linting
  packages/amplify-category-auth/resources/auth-custom-resource/hostedUIProviderLambda.js
Owners: @aws-amplify/amplify-cli

ci: switch default to codebuild e2e
  package.json
Owners: @aws-amplify/amplify-cli

Revert "chore: cleanup stale resources in CodeBuild (#12779)" (#12853)
  codebuild_specs/cleanup_resources.yml
  codebuild_specs/e2e_workflow.yml
  packages/amplify-e2e-core/src/cli-test-environment.js
  packages/amplify-e2e-core/src/init/initProjectHelper.ts
  packages/amplify-e2e-core/src/utils/add-ci-cleanup-tags.ts
  packages/amplify-e2e-core/src/utils/add-circleci-tags.ts
  packages/amplify-e2e-core/src/utils/index.ts
  packages/amplify-e2e-core/src/utils/pinpoint.ts
  packages/amplify-e2e-tests/src/cleanup-e2e-resources.ts
  packages/amplify-e2e-tests/src/init-special-cases/index.ts
  packages/amplify-migration-tests/src/migration-helpers-v10/init.ts
  packages/amplify-migration-tests/src/migration-helpers/init.ts
  scripts/cleanup-e2e-codebuild-resources.ts
  scripts/codebuild-utils.ts
  scripts/package.json
  scripts/wait-for-all-codebuild.ts
  scripts/yarn.lock
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

fix: refactor
  packages/amplify-category-hosting/lib/S3AndCloudFront/helpers/file-uploader.js
Owners: @aws-amplify/amplify-cli

test: update snapshots for tests
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/__snapshots__/auth-stack-transform.test.ts.snap
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder/__snapshots__/lambda-callout-migrations.test.ts.snap
Owners: @aws-amplify/amplify-cli

ci: use 2 VCPUs for solo tests on linux
  codebuild_specs/e2e_workflow_generated.yml
  scripts/split-e2e-tests-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

ci: fix end of file error
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

test(amplify-category-auth): add e2e and migration tests (#12600)
  .circleci/config.base.yml
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/wait_for_ids.json
  packages/amplify-e2e-core/src/categories/auth.ts
  packages/amplify-e2e-core/src/utils/auth-utils.ts
  packages/amplify-e2e-core/src/utils/index.ts
  packages/amplify-e2e-core/src/utils/sdk-calls.ts
  packages/amplify-migration-tests/package.json
  packages/amplify-migration-tests/src/__tests__/migration_tests_v11/auth-lambda-callout-migration.test.ts
  packages/amplify-migration-tests/src/migration-helpers-v11/auth-helpers/utilities.ts
  scripts/cci-utils.ts
  scripts/split-e2e-test-filters.ts
  scripts/split-e2e-tests-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

feat: lambda support for yarn2/3 and pnpm package managers (#12750)
  .eslint-dictionary.json
  CONTRIBUTING.md
  package.json
  packages/amplify-category-custom/package.json
  packages/amplify-category-custom/resources/sample.npmrc
  packages/amplify-category-custom/src/__tests__/walkthroughts/cdk-walkthrough.test.ts
  packages/amplify-category-custom/src/utils/build-custom-resources.ts
  packages/amplify-category-custom/src/walkthroughs/cdk-walkthrough.ts
  packages/amplify-category-function/package.json
  packages/amplify-category-function/src/commands/function/build.ts
  packages/amplify-category-function/src/provider-utils/awscloudformation/index.ts
  packages/amplify-category-function/src/provider-utils/awscloudformation/service-walkthroughs/lambda-walkthrough.ts
  packages/amplify-category-function/src/provider-utils/awscloudformation/service-walkthroughs/packageManagerWalkthrough.ts
  packages/amplify-category-function/src/provider-utils/awscloudformation/utils/buildFunction.ts
  packages/amplify-category-function/src/provider-utils/awscloudformation/utils/functionPluginLoader.ts
  packages/amplify-category-function/src/provider-utils/awscloudformation/utils/storeResources.ts
  packages/amplify-cli-core/API.md
  packages/amplify-cli-core/package.json
  packages/amplify-cli-core/src/__tests__/amplify-lockfile-dependency-detector/amplify-nodejs-detector.test.ts
  packages/amplify-cli-core/src/__tests__/packageManager.test.ts
  packages/amplify-cli-core/src/utils/packageManager.ts
  packages/amplify-cli-npm/index.ts
  packages/amplify-cli/src/__tests__/commands/init.test.ts
  packages/amplify-cli/src/__tests__/extensions/amplify-helpers/service-select-prompt.test.ts
  packages/amplify-cli/src/extensions/amplify-helpers/service-select-prompt.ts
  packages/amplify-e2e-core/src/index.ts
  packages/amplify-e2e-tests/src/__tests__/function_14.test.ts
  packages/amplify-e2e-tests/src/__tests__/function_9b.test.ts
  packages/amplify-function-plugin-interface/API.md
  packages/amplify-function-plugin-interface/src/index.ts
  packages/amplify-migration-tests/src/__tests__/migration_tests_v10/api-rest-basic.migration.test.ts
  packages/amplify-migration-tests/src/__tests__/migration_tests_v10/api-rest-lambda.migration.test.ts
  packages/amplify-migration-tests/src/__tests__/migration_tests_v10/api-rest-serverless.migration.test.ts
  packages/amplify-migration-tests/src/__tests__/update_tests/function_migration_update.test.ts
  packages/amplify-migration-tests/src/migration-helpers/lambda-function.ts
  packages/amplify-nodejs-function-runtime-provider/src/utils/legacyBuild.ts
  packages/amplify-provider-awscloudformation/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli
