Repository aws-amplify/amplify-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-data-buildtime, @aws-amplify/amplify-cli-admins

.github/CODEOWNERS:

# Amplify CLI Team owns the full repo by default.

* @aws-amplify/amplify-cli

# Add Data team folks focused on GQL transform/codegen to ownership for packages which will be migrated, in addition to the existing cli team.

/packages/amplify-graphiql-explorer @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime
/packages/amplify-velocity-template @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime

# Add folks focused on reviewing changes to CI/CD scripts/buildspecs

/.circleci/ @aws-amplify/amplify-cli-admins 
/scripts/ @aws-amplify/amplify-cli-admins 
/shared-scripts.sh @aws-amplify/amplify-cli-admins 
/codebuild_specs/ @aws-amplify/amplify-cli-admins

fix: sandbox mode param
  packages/amplify-util-mock/src/__e2e_v2__/searchable-transformer.e2e.test.ts
  packages/amplify-util-mock/src/__e2e_v2__/util-method.e2e.test.ts
Owners: @aws-amplify/amplify-cli

chore: yarn dedupe
  yarn.lock
Owners: @aws-amplify/amplify-cli

ci: add v12 migration Code Build spec
  codebuild_specs/migration_tests_v12.yml
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  codebuild_specs/e2e_workflow.yml
Owners: @aws-amplify/amplify-cli-admins

chore: upgrade aws-cdk-lib to ~2.80.0
  package.json
  packages/amplify-category-auth/package.json
  packages/amplify-category-custom/package.json
  packages/amplify-category-custom/resources/package.json
  packages/amplify-category-geo/package.json
  packages/amplify-category-storage/package.json
  packages/amplify-cli-core/package.json
  packages/amplify-cli-extensibility-helper/package.json
  packages/amplify-cli/package.json
  packages/amplify-e2e-tests/package.json
  packages/amplify-migration-tests/package.json
  packages/amplify-provider-awscloudformation/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore: migrate to husky@8 (#12880)
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  CONTRIBUTING.md
  package.json
  scripts/package-json-check.sh
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-cli-admins

chore: ignore logs (#12885)
  .gitignore
Owners: @aws-amplify/amplify-cli

test: run single migration test
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/wait_for_ids.json
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder.ts
  scripts/generate_single_test_buildspec_codebuild.ts
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

feat: uibuilder codegen service
  package.json
  packages/amplify-appsync-simulator/package.json
  packages/amplify-category-auth/package.json
  packages/amplify-category-function/package.json
  packages/amplify-category-geo/package.json
  packages/amplify-category-notifications/package.json
  packages/amplify-category-predictions/package.json
  packages/amplify-category-storage/package.json
  packages/amplify-cli-npm/index.ts
  packages/amplify-cli/package.json
  packages/amplify-console-integration-tests/package.json
  packages/amplify-dynamodb-simulator/package.json
  packages/amplify-e2e-core/package.json
  packages/amplify-e2e-tests/package.json
  packages/amplify-environment-parameters/package.json
  packages/amplify-opensearch-simulator/package.json
  packages/amplify-provider-awscloudformation/package.json
  packages/amplify-storage-simulator/package.json
  packages/amplify-util-import/package.json
  packages/amplify-util-mock/package.json
  packages/amplify-util-uibuilder/package.json
  packages/amplify-util-uibuilder/src/__tests__/__snapshots__/syncAmplifyUiComponents.test.ts.snap
  packages/amplify-util-uibuilder/src/__tests__/createUiBuilderComponent.test.ts
  packages/amplify-util-uibuilder/src/__tests__/detachedFormCleanup.test.ts
  packages/amplify-util-uibuilder/src/__tests__/generateComponents.test.ts
  packages/amplify-util-uibuilder/src/__tests__/storageManager.test.ts
  packages/amplify-util-uibuilder/src/__tests__/syncAmplifyUiComponents.test.ts
  packages/amplify-util-uibuilder/src/clients/amplify-studio-client.ts
  packages/amplify-util-uibuilder/src/commands/generateComponents.ts
  packages/amplify-util-uibuilder/src/commands/utils/codegenResources.ts
  packages/amplify-util-uibuilder/src/commands/utils/detachedFormCleanup.ts
  packages/amplify-util-uibuilder/src/commands/utils/storageManager.ts
  packages/amplify-util-uibuilder/src/commands/utils/syncAmplifyUiBuilderComponents.ts
  yarn.lock
Owners: @aws-amplify/amplify-cli

ci: enable fix migration tests and enable single migration test in cb
  scripts/generate_single_test_buildspec_codebuild.ts
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: optimize CB batch time by running tasks in 2 waves (#12882)
  codebuild_specs/build_pkg_binaries_arm.yml
  codebuild_specs/build_pkg_binaries_linux.yml
  codebuild_specs/build_pkg_binaries_macos.yml
  codebuild_specs/build_pkg_binaries_win.yml
  codebuild_specs/e2e_workflow.yml
  codebuild_specs/e2e_workflow_base.yml
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/mock_e2e_tests.yml
  codebuild_specs/publish_to_local_registry.yml
  codebuild_specs/scripts-windows/wait-windows.sh
  codebuild_specs/test.yml
  codebuild_specs/upload_pkg_binaries.yml
  codebuild_specs/validate_cdk_version.yml
  codebuild_specs/verify_api_extract.yml
  codebuild_specs/verify_versions_match.yml
  codebuild_specs/verify_yarn_lock.yml
  codebuild_specs/wait_upb.json
  codebuild_specs/wait_windows.json
  scripts/wait-for-all-codebuild.ts
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

ci: fix dependson
  codebuild_specs/amplify_sudo_install_test.yml
  codebuild_specs/e2e_workflow_base.yml
Owners: @aws-amplify/amplify-cli-admins

ci: regen
  codebuild_specs/e2e_workflow_generated.yml
Owners: @aws-amplify/amplify-cli-admins

ci: parameterize project name in wait script
  codebuild_specs/aggregate_e2e_reports.yml
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

ci: update names to fit rules
  codebuild_specs/aggregate_e2e_reports.yml
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

ci: update pr workflow to remove dependsOn
  codebuild_specs/pr_workflow.yml
Owners: @aws-amplify/amplify-cli-admins

ci: fix wait for script, update PR workflow to match (#12900)
  codebuild_specs/aggregate_e2e_reports.yml
  codebuild_specs/pr_workflow.yml
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

ci: verify fix of pr workflow
  package.json
Owners: @aws-amplify/amplify-cli

chore: update yarn.lock
  yarn.lock
Owners: @aws-amplify/amplify-cli

fix(amplify-graphiql-explorer): amplify mock with Cognito User Pool
  packages/amplify-graphiql-explorer/package.json
  packages/amplify-graphiql-explorer/src/utils/jwt.ts
  yarn.lock
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-data-buildtime

chore: swap try-catch for if-else in wait script
  scripts/wait-for-all-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

chore: auto format wait_for_ids.json after splitting tests (#12861)
  scripts/split-e2e-tests-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

ci: added job to call codebuild API
  codebuild_specs/e2e_workflow.yml
  codebuild_specs/send_e2e_metrics.yml
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: refactor integrationt tests
  codebuild_specs/e2e_workflow_base.yml
  scripts/aws-configure-credentials.ts
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: refactor integrationt tests
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/wait_for_ids.json
Owners: @aws-amplify/amplify-cli-admins

chore: refactor integrationt tests
  codebuild_specs/integration_test.yml
Owners: @aws-amplify/amplify-cli-admins

ci: cleanup
  package.json
Owners: @aws-amplify/amplify-cli

chore: refactor integrationt tests
  scripts/aws-configure-credentials.ts
Owners: @aws-amplify/amplify-cli-admins

ci: lint fix
  package.json
  packages/amplify-cli-npm/binary.ts
Owners: @aws-amplify/amplify-cli

chore: refactor integrationt tests
  codebuild_specs/wait_for_ids.json
Owners: @aws-amplify/amplify-cli-admins

chore: refactor integrationt tests
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: refactor integrationt tests
  codebuild_specs/sh-files/aws-configure-credentials.py
Owners: @aws-amplify/amplify-cli-admins

chore: add amplify general config tests
  codebuild_specs/amplify_general_config_tests.yml
  codebuild_specs/e2e_workflow_base.yml
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/wait_for_ids.json
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

fix: 'parameters' of undefined error when exporting with imported resources (#9772)
  packages/amplify-provider-awscloudformation/src/resource-package/resource-export.ts
  packages/amplify-provider-awscloudformation/src/resource-package/types.ts
Owners: @aws-amplify/amplify-cli

fix: import auth export
  packages/amplify-provider-awscloudformation/src/push-resources.ts
  packages/amplify-provider-awscloudformation/src/resource-package/constants.ts
  packages/amplify-provider-awscloudformation/src/resource-package/resource-export.ts
Owners: @aws-amplify/amplify-cli

chore: add amplify general config tests
  codebuild_specs/e2e_workflow_base.yml
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/wait_for_ids.json
Owners: @aws-amplify/amplify-cli-admins

ci: test fixes & add missing suites (#12790)
  .circleci/local_publish_helpers.sh
  codebuild_specs/amplify_console_integration_tests.yml
  codebuild_specs/amplify_install_test.yml
  codebuild_specs/amplify_migration_tests_multi_env_layers.yml
  codebuild_specs/amplify_migration_tests_non_multi_env_layers.yml
  codebuild_specs/amplify_sudo_install_test.yml
  codebuild_specs/e2e_workflow.yml
  codebuild_specs/e2e_workflow_base.yml
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/integration_test.yml
  codebuild_specs/migration_tests_v10.yml
  codebuild_specs/run_e2e_tests_linux.yml
  codebuild_specs/run_e2e_tests_windows.yml
  packages/amplify-cli-npm/binary.ts
  scripts/split-e2e-tests-codebuild.ts
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

chore: add amplify general config tests
  codebuild_specs/amplify_general_config_tests.yml
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: add amplify general config tests
  codebuild_specs/amplify_general_config_tests.yml
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: disable mock e2e
  codebuild_specs/e2e_workflow_generated.yml
Owners: @aws-amplify/amplify-cli-admins
