Repository aws-amplify/amplify-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-data-buildtime, @aws-amplify/amplify-cli-admins

fix: change hosted ui provider lambda to update apple sign in + only delete when resource not in stack (#12846)
  packages/amplify-category-auth/API.md
  packages/amplify-category-auth/resources/auth-custom-resource/hostedUIProviderLambda.js
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/__snapshots__/auth-stack-transform.test.ts.snap
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder.test.ts
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder/__snapshots__/lambda-callout-migrations.test.ts.snap
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder/lambda-callout-migrations.test.ts
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/utils/migrate-idp-resources.test.ts
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder.ts
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/auth-stack-transform.ts
  packages/amplify-category-auth/src/provider-utils/awscloudformation/utils/migrate-idp-resources.ts
  packages/amplify-provider-awscloudformation/src/push-resources.ts
Owners: @aws-amplify/amplify-cli

chore: update migation tests for Code Build
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/wait_for_ids.json
  scripts/cci-utils.ts
  scripts/split-e2e-tests-codebuild.ts
  scripts/split-e2e-tests.ts
Owners: @aws-amplify/amplify-cli-admins

ci: enable cleaning of us-east-1 for parent e2e acc
  packages/amplify-e2e-tests/src/cleanup-e2e-resources.ts
Owners: @aws-amplify/amplify-cli

ci: fix bug overusing parent account
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/wait_for_ids.json
  scripts/split-e2e-tests-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

ci: lower memory threshold
  codebuild_specs/migration_tests_v10.yml
  codebuild_specs/migration_tests_v8.yml
  codebuild_specs/run_e2e_tests_linux.yml
  codebuild_specs/scripts-windows/run-e2e-windows.sh
Owners: @aws-amplify/amplify-cli-admins

ci: reduce concurrency to 3
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/wait_for_ids.json
  scripts/split-e2e-tests-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

ci: testing with latest should be false by default
  packages/amplify-e2e-core/src/categories/notifications.ts
Owners: @aws-amplify/amplify-cli

ci: fix pathing for geo files windows
  packages/amplify-e2e-core/src/categories/geo.ts
Owners: @aws-amplify/amplify-cli

ci: test fixes for function14 and force push
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/wait_for_ids.json
  packages/amplify-e2e-tests/src/__tests__/function_14.test.ts
  packages/amplify-e2e-tests/src/__tests__/init-force-push.test.ts
  scripts/split-e2e-tests-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

ci: these tests should not use amplify from bin & should use binary instead
  packages/amplify-e2e-tests/src/__tests__/global_sandbox-a.test.ts
  packages/amplify-e2e-tests/src/__tests__/init_e.test.ts
Owners: @aws-amplify/amplify-cli

fix: ensure AWS_REGION matches CLI_REGION in all tests (#12837)
  packages/amplify-console-integration-tests/src/setup-tests.ts
  packages/amplify-e2e-tests/src/setup-tests.ts
  packages/amplify-migration-tests/src/setup-tests.ts
Owners: @aws-amplify/amplify-cli

ci: enable cleaning of us-east-1 for parent e2e acc (#12856)
  packages/amplify-e2e-tests/src/cleanup-e2e-resources.ts
Owners: @aws-amplify/amplify-cli

ci: should not be using bin/amplify here
  packages/amplify-e2e-core/src/categories/auth.ts
Owners: @aws-amplify/amplify-cli

ci: should not be using bin/amplify here
  packages/amplify-e2e-core/src/utils/pinpoint.ts
Owners: @aws-amplify/amplify-cli

ci: more fixes for incorrect use of testing with latest codebase
  packages/amplify-e2e-core/src/categories/notifications.ts
  packages/amplify-e2e-tests/src/__tests__/global_sandbox-a.test.ts
  packages/amplify-e2e-tests/src/__tests__/global_sandbox-b.test.ts
  packages/amplify-e2e-tests/src/__tests__/global_sandbox-c.test.ts
  packages/amplify-e2e-tests/src/__tests__/resolvers.test.ts
Owners: @aws-amplify/amplify-cli

ci: add fix for amplify-app tests
  .circleci/local_publish_helpers.sh
  scripts/split-e2e-tests-codebuild.ts
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

ci: aggregate e2e code coverage
  codebuild_specs/aggregate_e2e_reports.yml
  codebuild_specs/migration_tests_v10.yml
  codebuild_specs/migration_tests_v8.yml
  codebuild_specs/run_e2e_tests_linux.yml
  codebuild_specs/upload-reports-windows.sh
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

ci: fix regex
  packages/amplify-e2e-tests/src/__tests__/function_14.test.ts
Owners: @aws-amplify/amplify-cli

ci: should not use lastest codebase flag here
  packages/amplify-e2e-tests/src/__tests__/minify-cloudformation.test.ts
Owners: @aws-amplify/amplify-cli

ci: forgot to update generated file
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/wait_for_ids.json
Owners: @aws-amplify/amplify-cli-admins

ci: one more fix on this test
  packages/amplify-e2e-tests/src/__tests__/init_e.test.ts
Owners: @aws-amplify/amplify-cli

ci: should not be using lastest codebase flag here
  packages/amplify-e2e-tests/src/__tests__/init-force-push.test.ts
Owners: @aws-amplify/amplify-cli

ci: troubleshooting file not found for coverage
  codebuild_specs/run_e2e_tests_linux.yml
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

ci: test fix for long paths windows
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/run_e2e_tests_windows.yml
  codebuild_specs/wait_for_ids.json
  scripts/generate_single_test_buildspec_codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

fix: sort fileList
  packages/amplify-category-hosting/lib/S3AndCloudFront/helpers/file-uploader.js
Owners: @aws-amplify/amplify-cli

chore: update migration test snapshots
  packages/amplify-migration-tests/src/__tests__/migration_tests_v10/__snapshots__/auth-add-all.migration.test.ts.snap
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/__snapshots__/auth-oauth-lambda-migration.test.ts.snap
Owners: @aws-amplify/amplify-cli

ci: fix long file paths issue
  codebuild_specs/run_e2e_tests_windows.yml
  scripts/generate_single_test_buildspec_codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

ci: update exclusions to match circleci
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/wait_for_ids.json
  scripts/split-e2e-tests-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

ci: format
  codebuild_specs/wait_for_ids.json
Owners: @aws-amplify/amplify-cli-admins

refactor: create sortUploadFiles
  packages/amplify-category-hosting/lib/S3AndCloudFront/helpers/file-uploader.js
Owners: @aws-amplify/amplify-cli

chore: run prettier
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/utils/migrate-idp-resources.test.ts
  packages/amplify-e2e-core/src/categories/auth.ts
Owners: @aws-amplify/amplify-cli

test: unit test sortUploadFiles
  packages/amplify-category-hosting/__tests__/lib/S3AndCloudFront/helpers/file-uploader.test.js
  packages/amplify-category-hosting/lib/S3AndCloudFront/helpers/file-uploader.js
Owners: @aws-amplify/amplify-cli

ci: refactor
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/migration_tests_v10.yml
  codebuild_specs/migration_tests_v8.yml
  codebuild_specs/wait_for_ids.json
  scripts/split-e2e-tests-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

ci: add comment
  .circleci/local_publish_helpers.sh
Owners: @aws-amplify/amplify-cli-admins

ci: fix lint issue
  codebuild_specs/wait_for_ids.json
Owners: @aws-amplify/amplify-cli-admins

ci: fix windows test bugs (#12860)
  .circleci/local_publish_helpers.sh
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/migration_tests_v10.yml
  codebuild_specs/migration_tests_v8.yml
  codebuild_specs/run_e2e_tests_linux.yml
  codebuild_specs/run_e2e_tests_windows.yml
  codebuild_specs/scripts-windows/run-e2e-windows.sh
  codebuild_specs/wait_for_ids.json
  packages/amplify-e2e-core/src/categories/auth.ts
  packages/amplify-e2e-core/src/categories/geo.ts
  packages/amplify-e2e-core/src/categories/notifications.ts
  packages/amplify-e2e-core/src/utils/pinpoint.ts
  packages/amplify-e2e-tests/src/__tests__/function_14.test.ts
  packages/amplify-e2e-tests/src/__tests__/global_sandbox-a.test.ts
  packages/amplify-e2e-tests/src/__tests__/global_sandbox-b.test.ts
  packages/amplify-e2e-tests/src/__tests__/global_sandbox-c.test.ts
  packages/amplify-e2e-tests/src/__tests__/init-force-push.test.ts
  packages/amplify-e2e-tests/src/__tests__/init_e.test.ts
  packages/amplify-e2e-tests/src/__tests__/minify-cloudformation.test.ts
  packages/amplify-e2e-tests/src/__tests__/resolvers.test.ts
  scripts/generate_single_test_buildspec_codebuild.ts
  scripts/split-e2e-tests-codebuild.ts
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

chore: auto format wait_for_ids.json after splitting tests
  package.json
Owners: @aws-amplify/amplify-cli

chore: auto format wait_for_ids.json after splitting tests
  package.json
  scripts/split-e2e-tests-codebuild.ts
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-cli-admins

ci: lint
  codebuild_specs/wait_for_ids.json
Owners: @aws-amplify/amplify-cli-admins

test: revert test
  packages/amplify-category-hosting/__tests__/lib/S3AndCloudFront/helpers/file-uploader.test.js
  packages/amplify-category-hosting/lib/S3AndCloudFront/helpers/file-uploader.js
Owners: @aws-amplify/amplify-cli

.github/CODEOWNERS:

# Amplify CLI Team owns the full repo by default.

* @aws-amplify/amplify-cli

# Add Data team folks focused on GQL transform/codegen to ownership for packages which will be migrated, in addition to the existing cli team.

/packages/amplify-graphiql-explorer @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime
/packages/amplify-velocity-template @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime

# Add folks focused on reviewing changes to CI/CD scripts/buildspecs

/.circleci/ @aws-amplify/amplify-cli-admins 
/scripts/ @aws-amplify/amplify-cli-admins 
/shared-scripts.sh @aws-amplify/amplify-cli-admins 
/codebuild_specs/ @aws-amplify/amplify-cli-admins
