Repository aws-amplify/amplify-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-data-buildtime, @aws-amplify/amplify-cli-admins

chore: try credential rotator
  packages/amplify-e2e-core/package.json
  packages/amplify-e2e-core/src/utils/credentials-rotator.ts
  packages/amplify-e2e-core/src/utils/index.ts
  packages/amplify-e2e-tests/src/__tests__/transformer-migrations/searchable-migration.test.ts
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore: move authentication before branch creation in cloud-e2e script
  scripts/cloud-e2e.sh
Owners: @aws-amplify/amplify-cli-admins

chore: try that
  packages/amplify-e2e-core/package.json
  packages/amplify-e2e-core/src/utils/credentials-rotator.ts
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore: ehh
  packages/amplify-e2e-tests/src/__tests__/transformer-migrations/searchable-migration.test.ts
Owners: @aws-amplify/amplify-cli

chore: move authentication before branch creation in cloud-e2e script (#13045)
  scripts/cloud-e2e.sh
Owners: @aws-amplify/amplify-cli-admins

chore: try this
  packages/amplify-e2e-core/src/utils/credentials-rotator.ts
Owners: @aws-amplify/amplify-cli

chore: try this
  packages/amplify-e2e-core/src/utils/credentials-rotator.ts
Owners: @aws-amplify/amplify-cli

chore: fortify logic a bit
  packages/amplify-e2e-core/src/utils/credentials-rotator.ts
Owners: @aws-amplify/amplify-cli

chore: fix order
  packages/amplify-e2e-core/src/utils/credentials-rotator.ts
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore: try this
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: check what CCI is doing
  .circleci/config.base.yml
Owners: @aws-amplify/amplify-cli-admins

chore: massaging code
  packages/amplify-e2e-core/src/utils/credentials-rotator.ts
Owners: @aws-amplify/amplify-cli

chore: massaging code
  packages/amplify-e2e-core/src/utils/credentials-rotator.ts
Owners: @aws-amplify/amplify-cli

chore: try this
  packages/amplify-e2e-core/src/utils/index.ts
Owners: @aws-amplify/amplify-cli

test: fix searchable migration test on code build (#13046)
  packages/amplify-e2e-core/package.json
  packages/amplify-e2e-core/src/utils/credentials-rotator.ts
  packages/amplify-e2e-core/src/utils/index.ts
  packages/amplify-e2e-tests/src/__tests__/transformer-migrations/searchable-migration.test.ts
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore: undo this
  packages/amplify-e2e-core/src/utils/index.ts
Owners: @aws-amplify/amplify-cli

test: add type assertions to expected error unit tests
  packages/amplify-cli/src/__tests__/extensions/amplify-helpers/remove-resource.test.ts
Owners: @aws-amplify/amplify-cli

chore: fix regex
  packages/amplify-app/src/index.js
Owners: @aws-amplify/amplify-cli

test: update error assertions
  packages/amplify-cli/src/__tests__/extensions/amplify-helpers/remove-resource.test.ts
Owners: @aws-amplify/amplify-cli

test: update error assertions
  packages/amplify-cli/src/__tests__/extensions/amplify-helpers/remove-resource.test.ts
Owners: @aws-amplify/amplify-cli

test: 💍 test clean ws
  packages/amplify-util-mock/src/__e2e_v2__/searchable-transformer.e2e.test.ts
Owners: @aws-amplify/amplify-cli

test: 💍 test if config change fails test
  packages/amplify-provider-awscloudformation/src/aws-predictions-regions.js
Owners: @aws-amplify/amplify-cli

Update packages/amplify-app/src/index.js
  packages/amplify-app/src/index.js
Owners: @aws-amplify/amplify-cli

chore: 🤖 enable ap-northeast-3 region
  packages/amplify-provider-awscloudformation/src/aws-predictions-regions.js
  packages/amplify-provider-awscloudformation/src/aws-regions.js
  packages/amplify-provider-awscloudformation/src/utils/admin-helpers.ts
Owners: @aws-amplify/amplify-cli

chore: remove unnecessary hash
  .circleci/local_publish_helpers.sh
  packages/amplify-cli-npm/binary.ts
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

chore: try this
  packages/amplify-e2e-tests/src/__tests__/auth_5g.test.ts
Owners: @aws-amplify/amplify-cli

chore: 🤖 add ap-northeast-3 to amplify-e2e-core
  packages/amplify-e2e-core/src/configure/index.ts
Owners: @aws-amplify/amplify-cli

fix: update GraphQLTransform input types
  packages/amplify-graphql-migration-tests/src/v2-transformer-provider.ts
Owners: @aws-amplify/amplify-cli

ci: maintain old cci files
  .circleci/cb-publish-step-1-set-versions.sh
  .circleci/cb-publish-step-2-verdaccio.sh
  .circleci/cb-publish-step-3-npm.sh
  .circleci/cb-publish-step-4-push-to-git.sh
  .circleci/local_publish_helpers.sh
  package.json
  scripts/cloud-release.sh
  scripts/promote-rc-codebuild.sh
  scripts/release-rc-codebuild.sh
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

fix: amplify app version regex (#13050)
  .circleci/config.base.yml
  packages/amplify-app/src/index.js
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

fix: update GraphQLTransform input types (#13060)
  packages/amplify-graphql-migration-tests/src/v2-transformer-provider.ts
Owners: @aws-amplify/amplify-cli

feat: generate components using graphql
  package.json
  packages/amplify-appsync-simulator/package.json
  packages/amplify-category-auth/package.json
  packages/amplify-category-function/package.json
  packages/amplify-category-geo/package.json
  packages/amplify-category-notifications/package.json
  packages/amplify-category-predictions/package.json
  packages/amplify-category-storage/package.json
  packages/amplify-cli-npm/index.ts
  packages/amplify-cli/package.json
  packages/amplify-console-integration-tests/package.json
  packages/amplify-dynamodb-simulator/package.json
  packages/amplify-e2e-core/package.json
  packages/amplify-e2e-tests/package.json
  packages/amplify-environment-parameters/package.json
  packages/amplify-opensearch-simulator/package.json
  packages/amplify-provider-awscloudformation/package.json
  packages/amplify-storage-simulator/package.json
  packages/amplify-util-import/package.json
  packages/amplify-util-mock/package.json
  packages/amplify-util-uibuilder/package.json
  packages/amplify-util-uibuilder/src/__tests__/generateComponents.test.ts
  packages/amplify-util-uibuilder/src/clients/amplify-studio-client.ts
  packages/amplify-util-uibuilder/src/commands/generateComponents.ts
  packages/amplify-util-uibuilder/src/commands/utils/getApiConfiguration.ts
  packages/amplify-util-uibuilder/types/amplify-codegen.d.ts
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore: try this (#13059)
  packages/amplify-e2e-tests/src/__tests__/auth_5g.test.ts
Owners: @aws-amplify/amplify-cli

chore(cli): add share-project-config-on/off to configure
  packages/amplify-cli/src/commands/configure.ts
Owners: @aws-amplify/amplify-cli

chore: remove unused imports
  packages/amplify-e2e-tests/src/__tests__/auth_4c.test.ts
Owners: @aws-amplify/amplify-cli

fix: do not store windows specific package manager extension (#13047)
  packages/amplify-cli-core/src/utils/packageManager.ts
Owners: @aws-amplify/amplify-cli

chore(cli): add feedback once share-project-config-on/off opt-in/out
  packages/amplify-cli/src/init-steps/s9-onSuccess.ts
Owners: @aws-amplify/amplify-cli

chore: remove unused imports (#13067)
  packages/amplify-e2e-tests/src/__tests__/auth_4c.test.ts
Owners: @aws-amplify/amplify-cli

chore(cli): add configure help for share-project-config
  packages/amplify-cli-core/src/help/commands-info.ts
Owners: @aws-amplify/amplify-cli

chore(cli): add configure help for usage-data sharing
  packages/amplify-cli-core/src/help/commands-info.ts
Owners: @aws-amplify/amplify-cli

.github/CODEOWNERS:

# Amplify CLI Team owns the full repo by default.

* @aws-amplify/amplify-cli

# Add Data team folks focused on GQL transform/codegen to ownership for packages which will be migrated, in addition to the existing cli team.

/packages/amplify-graphiql-explorer @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime
/packages/amplify-velocity-template @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime

# Add folks focused on reviewing changes to CI/CD scripts/buildspecs

/.circleci/ @aws-amplify/amplify-cli-admins 
/scripts/ @aws-amplify/amplify-cli-admins 
/shared-scripts.sh @aws-amplify/amplify-cli-admins 
/codebuild_specs/ @aws-amplify/amplify-cli-admins
