Repository aws-amplify/amplify-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-data-buildtime, @aws-amplify/amplify-cli-admins

.github/CODEOWNERS:

# Amplify CLI Team owns the full repo by default.

* @aws-amplify/amplify-cli

# Add Data team folks focused on GQL transform/codegen to ownership for packages which will be migrated, in addition to the existing cli team.

/packages/amplify-graphiql-explorer @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime
/packages/amplify-velocity-template @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime

# Add folks focused on reviewing changes to CI/CD scripts/buildspecs

/.circleci/ @aws-amplify/amplify-cli-admins 
/scripts/ @aws-amplify/amplify-cli-admins 
/shared-scripts.sh @aws-amplify/amplify-cli-admins 
/codebuild_specs/ @aws-amplify/amplify-cli-admins

chore: Initial setup for data collection (#12957)
  codebuild_specs/aggregate_e2e_reports.yml
  codebuild_specs/e2e_workflow.yml
  codebuild_specs/send_e2e_metrics.yml
  scripts/codebuild-sdk-helpers.ts
  scripts/package.json
  scripts/send-e2e-metrics.ts
  scripts/yarn.lock
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

ci: update dependency chain
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder.ts
Owners: @aws-amplify/amplify-cli

chore: minus eu-central
  scripts/cci-utils.ts
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  codebuild_specs/mock_e2e_tests.yml
  packages/amplify-util-mock/package.json
  packages/amplify-util-mock/src/__e2e_v2__/searchable-transformer.e2e.test.ts
  scripts/cloud-e2e.sh
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

chore: noop trigger cb
  packages/amplify-util-mock/src/__e2e_v2__/searchable-transformer.e2e.test.ts
Owners: @aws-amplify/amplify-cli

chore: fix yarn.lock
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore: noop trigger cb
  codebuild_specs/build_linux.yml
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  codebuild_specs/build_linux.yml
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  codebuild_specs/build_linux.yml
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  codebuild_specs/build_linux.yml
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  codebuild_specs/build_linux.yml
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  codebuild_specs/build_linux.yml
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/mock_e2e_tests.yml
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  codebuild_specs/mock_e2e_tests.yml
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  codebuild_specs/mock_e2e_tests.yml
Owners: @aws-amplify/amplify-cli-admins

chore: pr feedback
  packages/amplify-category-auth/resources/auth-custom-resource/hostedUILambda.js
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/__snapshots__/auth-stack-transform.test.ts.snap
  packages/amplify-e2e-core/src/utils/nexpect.ts
Owners: @aws-amplify/amplify-cli

chore: snapshots
  packages/amplify-migration-tests/src/__tests__/migration_tests_v10/__snapshots__/auth-add-all.migration.test.ts.snap
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/__snapshots__/auth-oauth-lambda-migration.test.ts.snap
Owners: @aws-amplify/amplify-cli

chore: upgrade amplify-category-custom to aws-cdk-lib@2.28
  packages/amplify-category-custom/resources/package.json
Owners: @aws-amplify/amplify-cli

chore: improve hosted UI lambda callout (#12967)
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/wait_for_ids.json
  packages/amplify-category-auth/resources/auth-custom-resource/hostedUILambda.js
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/__snapshots__/auth-stack-transform.test.ts.snap
  packages/amplify-e2e-core/src/categories/auth.ts
  packages/amplify-e2e-core/src/utils/auth-utils.ts
  packages/amplify-e2e-core/src/utils/nexpect.ts
  packages/amplify-e2e-core/src/utils/sdk-calls.ts
  packages/amplify-e2e-tests/src/__tests__/auth/hosted-ui.test.ts
  packages/amplify-e2e-tests/src/__tests__/import_auth_1a.test.ts
  packages/amplify-e2e-tests/src/__tests__/import_auth_1b.test.ts
  packages/amplify-e2e-tests/src/__tests__/import_auth_3.test.ts
  packages/amplify-e2e-tests/src/import-helpers/settings.ts
  packages/amplify-e2e-tests/src/import-helpers/utilities.ts
  packages/amplify-migration-tests/src/__tests__/migration_tests_v10/__snapshots__/auth-add-all.migration.test.ts.snap
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/__snapshots__/auth-oauth-lambda-migration.test.ts.snap
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth-hosted-ui-lambda-migration.test.ts
  scripts/split-e2e-test-filters.ts
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

chore: remove unused ejs templates
  packages/amplify-category-auth/resources/cloudformation-templates/auth-template.yml.ejs
  packages/amplify-category-auth/resources/cloudformation-templates/user-pool-group-template.json.ejs
  packages/amplify-category-storage/resources/cloudformation-templates/dynamoDb-cloudformation-template.json.ejs
  packages/amplify-category-storage/resources/cloudformation-templates/s3-cloudformation-template.json.ejs
Owners: @aws-amplify/amplify-cli

chore: remove unused ejs templates (#12978)
  packages/amplify-category-auth/resources/cloudformation-templates/auth-template.yml.ejs
  packages/amplify-category-auth/resources/cloudformation-templates/user-pool-group-template.json.ejs
  packages/amplify-category-storage/resources/cloudformation-templates/dynamoDb-cloudformation-template.json.ejs
  packages/amplify-category-storage/resources/cloudformation-templates/s3-cloudformation-template.json.ejs
Owners: @aws-amplify/amplify-cli

chore: codebuild cleanup script
  codebuild_specs/cleanup_resources.yml
  scripts/cleanup-codebuild-resources.ts
  scripts/yarn.lock
Owners: @aws-amplify/amplify-cli-admins

chore: codebuild cleanup script
  scripts/cleanup-codebuild-resources.ts
Owners: @aws-amplify/amplify-cli-admins

chore: codebuild cleanup script
  codebuild_specs/cleanup_resources.yml
  codebuild_specs/e2e_workflow_base.yml
  codebuild_specs/e2e_workflow_generated.yml
Owners: @aws-amplify/amplify-cli-admins

chore: codebuild cleanup script
  codebuild_specs/e2e_workflow_generated.yml
Owners: @aws-amplify/amplify-cli-admins

chore: codebuild cleanup script
  codebuild_specs/cleanup_resources.yml
Owners: @aws-amplify/amplify-cli-admins

fix: publish release script
  .circleci/publish-step-1-set-versions.sh
Owners: @aws-amplify/amplify-cli-admins

chore: codebuild cleanup script
  codebuild_specs/cleanup_resources.yml
  scripts/cleanup-codebuild-resources.ts
Owners: @aws-amplify/amplify-cli-admins

fix: publish release script (#12980)
  .circleci/publish-step-1-set-versions.sh
Owners: @aws-amplify/amplify-cli-admins

chore: codebuild cleanup script
  scripts/package.json
  scripts/yarn.lock
Owners: @aws-amplify/amplify-cli-admins

chore: codebuild cleanup script
  codebuild_specs/cleanup_resources.yml
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

fix: github publish commit hash
  .circleci/config.base.yml
Owners: @aws-amplify/amplify-cli-admins

fix: github publish commit hash (#12981)
  .circleci/config.base.yml
Owners: @aws-amplify/amplify-cli-admins

chore: codebuild cleanup script
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: codebuild cleanup script
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: codebuild cleanup script
  codebuild_specs/cleanup_resources.yml
  codebuild_specs/e2e_workflow_base.yml
  codebuild_specs/e2e_workflow_generated.yml
Owners: @aws-amplify/amplify-cli-admins

fix: Dependabot alerts for semver, tough-cookie (#12962)
  package.json
  packages/amplify-app/package.json
  packages/amplify-cli-core/package.json
  packages/amplify-cli/package.json
  packages/amplify-e2e-core/package.json
  packages/amplify-go-function-runtime-provider/package.json
  packages/amplify-graphiql-explorer/package.json
  packages/amplify-java-function-runtime-provider/package.json
  packages/amplify-migration-tests/package.json
  packages/amplify-nodejs-function-runtime-provider/package.json
  packages/amplify-python-function-runtime-provider/package.json
  packages/amplify-util-mock/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-data-buildtime

fix: yarn.lock
  yarn.lock
Owners: @aws-amplify/amplify-cli
