Repository aws-amplify/amplify-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-data-buildtime, @aws-amplify/amplify-cli-admins

.github/CODEOWNERS:

# Amplify CLI Team owns the full repo by default.

* @aws-amplify/amplify-cli

# Add Data team folks focused on GQL transform/codegen to ownership for packages which will be migrated, in addition to the existing cli team.

/packages/amplify-graphiql-explorer @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime
/packages/amplify-velocity-template @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime

# Add folks focused on reviewing changes to CI/CD scripts/buildspecs

/.circleci/ @aws-amplify/amplify-cli-admins 
/scripts/ @aws-amplify/amplify-cli-admins 
/shared-scripts.sh @aws-amplify/amplify-cli-admins 
/codebuild_specs/ @aws-amplify/amplify-cli-admins

chore: update e2e tests for mock utility
  packages/amplify-graphql-migration-tests/src/v2-transformer-provider.ts
  packages/amplify-util-mock/src/__e2e_v2__/searchable-transformer.e2e.test.ts
  packages/amplify-util-mock/src/__e2e_v2__/util-method.e2e.test.ts
  yarn.lock
Owners: @aws-amplify/amplify-cli

fix: add check for codebuild when updating url (#12924)
  packages/amplify-cli-npm/binary.ts
Owners: @aws-amplify/amplify-cli

chore: generate auth secret
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/utils/generate-cognito-app-client-secret.test.ts
  packages/amplify-category-auth/src/index.js
  packages/amplify-category-auth/src/provider-utils/awscloudformation/utils/generate-cognito-app-client-secret.ts
  packages/amplify-category-auth/src/provider-utils/awscloudformation/utils/get-app-client-secret-sdk.ts
  packages/amplify-e2e-tests/src/__tests__/auth/hosted-ui.test.ts
  packages/amplify-e2e-tests/src/__tests__/auth/user-groups.test.ts
  packages/amplify-e2e-tests/src/__tests__/auth_1c.test.ts
  packages/amplify-provider-awscloudformation/src/push-resources.ts
Owners: @aws-amplify/amplify-cli

chore: api
  packages/amplify-category-auth/API.md
Owners: @aws-amplify/amplify-cli

fix: that
  packages/amplify-provider-awscloudformation/API.md
  packages/amplify-provider-awscloudformation/src/aws-utils/aws-cognito-client.ts
  packages/amplify-provider-awscloudformation/src/index.ts
Owners: @aws-amplify/amplify-cli

chore: tests
  packages/amplify-e2e-tests/src/__tests__/migration/node.function.test.ts
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth-app-client-secret-migration.test.ts
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth-hosted-ui.migration.test.ts
Owners: @aws-amplify/amplify-cli

fix: restore amplify-pkg-tag in deployment verification step
  .circleci/config.base.yml
Owners: @aws-amplify/amplify-cli-admins

chore: tests
  packages/amplify-e2e-tests/sample.env
  packages/amplify-migration-tests/src/__tests__/migration_tests_v10/__snapshots__/api-rest-lambda.migration.test.ts.snap
Owners: @aws-amplify/amplify-cli

chore: tests
  packages/amplify-migration-tests/src/__tests__/migration_tests_v10/__snapshots__/auth-add-all.migration.test.ts.snap
Owners: @aws-amplify/amplify-cli

chore: tests
  packages/amplify-migration-tests/src/__tests__/migration_tests_v10/__snapshots__/storage.migration.test.ts.snap
Owners: @aws-amplify/amplify-cli

chore: tests
  packages/amplify-migration-tests/src/__tests__/migration_tests_v10/__snapshots__/geo.migration.test.ts.snap
Owners: @aws-amplify/amplify-cli

chore: tests
  packages/amplify-migration-tests/src/__tests__/migration_tests_v10/__snapshots__/auth-override.migration.test.ts.snap
Owners: @aws-amplify/amplify-cli

chore: tests
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/__snapshots__/auth-oauth-lambda-migration.test.ts.snap
Owners: @aws-amplify/amplify-cli

fix: restore amplify-pkg-tag in deployment verification step (#12927)
  .circleci/config.base.yml
Owners: @aws-amplify/amplify-cli-admins

chore: tests
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth-hosted-ui.migration.test.ts
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth-lambda-callout-migration.test.ts
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth-resource-deletion-migration.test.ts
  packages/amplify-migration-tests/src/migration-helpers-v12/auth-helpers/utilities.ts
  scripts/split-e2e-test-filters.ts
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-cli-admins

fix: add restore to rc release
  .circleci/config.base.yml
Owners: @aws-amplify/amplify-cli-admins

fix: amplify-pkg-version in rc release (#12934)
  .circleci/config.base.yml
Owners: @aws-amplify/amplify-cli-admins

chore: tests
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth-lambda-callout-migration.test.ts
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth-resource-deletion-migration.test.ts
Owners: @aws-amplify/amplify-cli

chore: tests
  packages/amplify-e2e-core/src/categories/storage.ts
  packages/amplify-e2e-core/src/init/initProjectHelper.ts
  packages/amplify-e2e-core/src/utils/auth-utils.ts
  packages/amplify-e2e-core/src/utils/sdk-calls.ts
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth-lambda-callout-migration-rollback.test.ts
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth-lambda-callout-migration.test.ts
  scripts/split-e2e-test-filters.ts
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-cli-admins

chore: tests
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth-lambda-callout-migration-rollback.test.ts
Owners: @aws-amplify/amplify-cli

chore: update e2e tests for mock utility (#12925)
  packages/amplify-graphql-migration-tests/src/v2-transformer-provider.ts
  packages/amplify-util-mock/src/__e2e_v2__/searchable-transformer.e2e.test.ts
  packages/amplify-util-mock/src/__e2e_v2__/util-method.e2e.test.ts
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore: codebuild tests
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/wait_for_ids.json
  scripts/cloud-e2e.sh
Owners: @aws-amplify/amplify-cli-admins

chore: isolate that test
  scripts/split-e2e-tests-v2.ts
Owners: @aws-amplify/amplify-cli-admins

chore: headless test
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth-lambda-callout-migration.test.ts
Owners: @aws-amplify/amplify-cli

chore: use-peer deps for cdk/constructs on internal libs
  packages/amplify-category-auth/package.json
  packages/amplify-category-custom/package.json
  packages/amplify-category-geo/package.json
  packages/amplify-category-storage/package.json
  packages/amplify-cli-core/package.json
  packages/amplify-cli-extensibility-helper/package.json
  packages/amplify-provider-awscloudformation/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore: app secret test
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/__snapshots__/auth-app-client-secret-migration.test.ts.snap
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth-app-client-secret-migration.test.ts
  packages/amplify-migration-tests/src/migration-helpers-v12/init.ts
  packages/amplify-migration-tests/src/migration-helpers/utils.ts
  scripts/split-e2e-test-filters.ts
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-cli-admins

Update packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder.ts
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder.ts
Owners: @aws-amplify/amplify-cli

chore: latest headless add auth app secret
  packages/amplify-e2e-core/src/init/amplifyPush.ts
  packages/amplify-e2e-core/src/utils/auth-utils.ts
  packages/amplify-e2e-tests/src/__tests__/auth_5g.test.ts
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth-app-client-secret-migration.test.ts
  packages/amplify-migration-tests/src/migration-helpers/utils.ts
Owners: @aws-amplify/amplify-cli

chore: more tests
  packages/amplify-e2e-core/src/utils/auth-utils.ts
  packages/amplify-e2e-tests/src/__tests__/auth_1c.test.ts
  packages/amplify-e2e-tests/src/__tests__/auth_5g.test.ts
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth-app-client-secret-migration.test.ts
Owners: @aws-amplify/amplify-cli

fix(amplify-util-mock): add support override.ts
  packages/amplify-util-mock/src/api/api.ts
  packages/amplify-util-mock/src/api/run-graphql-transformer.ts
Owners: @aws-amplify/amplify-cli

chore: oauth headless test
  packages/amplify-e2e-core/src/utils/sdk-calls.ts
  packages/amplify-e2e-tests/src/__tests__/auth_2h.test.ts
Owners: @aws-amplify/amplify-cli

chore: oauth force push test
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth-oauth-lambda-migration.test.ts
  packages/amplify-migration-tests/src/migration-helpers-v12/auth-helpers/utilities.ts
Owners: @aws-amplify/amplify-cli

fix(amplify-util-mock): update overrideConfig
  packages/amplify-util-mock/src/api/api.ts
Owners: @aws-amplify/amplify-cli

chore: remove-redundant-app-id-error
  packages/amplify-cli/src/init-steps/s9-onSuccess.ts
Owners: @aws-amplify/amplify-cli

chore: headless oauth migration tesT
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth-oauth-lambda-migration.test.ts
Owners: @aws-amplify/amplify-cli

chore: pr feedback
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/__snapshots__/auth-stack-transform.test.ts.snap
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder.ts
  packages/amplify-migration-tests/src/__tests__/migration_tests_v10/__snapshots__/auth-add-all.migration.test.ts.snap
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/__snapshots__/auth-oauth-lambda-migration.test.ts.snap
Owners: @aws-amplify/amplify-cli

chore: remove-redundant-app-id-error
  packages/amplify-cli/src/init-steps/s9-onSuccess.ts
Owners: @aws-amplify/amplify-cli

chore: refresh codebuild
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/wait_for_ids.json
Owners: @aws-amplify/amplify-cli-admins

chore: revert "chore: pr feedback"
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/__snapshots__/auth-stack-transform.test.ts.snap
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder.ts
  packages/amplify-migration-tests/src/__tests__/migration_tests_v10/__snapshots__/auth-add-all.migration.test.ts.snap
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/__snapshots__/auth-oauth-lambda-migration.test.ts.snap
Owners: @aws-amplify/amplify-cli

chore: remove redundant app id error (#12942)
  packages/amplify-cli/src/init-steps/s9-onSuccess.ts
Owners: @aws-amplify/amplify-cli
