Repository aws-amplify/amplify-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-data-buildtime, @aws-amplify/amplify-cli-admins

chore: bump amplify-codegen (#13125)
  packages/amplify-cli/package.json
  packages/amplify-provider-awscloudformation/package.json
  packages/amplify-util-mock/package.json
  packages/amplify-util-uibuilder/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

ci: use longer rc hashes
  .circleci/cb-publish-step-1-set-versions.sh
  .circleci/publish-step-1-set-versions.sh
  scripts/cloud-release.sh
  scripts/finish-release.ts
  scripts/promote-rc-codebuild.sh
  scripts/promote-rc.sh
  scripts/release-rc-codebuild.sh
  scripts/release-rc.sh
  scripts/tag-rc.sh
Owners: @aws-amplify/amplify-cli-admins

ci: use longer rc hashes (#13131)
  .circleci/cb-publish-step-1-set-versions.sh
  .circleci/publish-step-1-set-versions.sh
  scripts/cloud-release.sh
  scripts/finish-release.ts
  scripts/promote-rc-codebuild.sh
  scripts/promote-rc.sh
  scripts/release-rc-codebuild.sh
  scripts/release-rc.sh
  scripts/tag-rc.sh
Owners: @aws-amplify/amplify-cli-admins

fix: remove .cmd extension for pnpm and npm invocations
  packages/amplify-cli-core/src/utils/packageManager.ts
Owners: @aws-amplify/amplify-cli

fix: release scripts
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

fix: release scripts (#13132)
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

ci: skip push hooks in releases
  .circleci/cb-publish-step-4-push-to-git.sh
Owners: @aws-amplify/amplify-cli-admins

ci: add artifact to unblock github release step
  codebuild_specs/release_workflows/post_publish_push_to_git.yml
Owners: @aws-amplify/amplify-cli-admins

ci: skip push hooks in releases (#13134)
  .circleci/cb-publish-step-4-push-to-git.sh
Owners: @aws-amplify/amplify-cli-admins

refactor: rename file
  packages/amplify-cli-logger/src/__tests__/getLogFilePath.test.ts
Owners: @aws-amplify/amplify-cli

ci: add artifact to unblock github release step (#13136)
  codebuild_specs/release_workflows/post_publish_push_to_git.yml
Owners: @aws-amplify/amplify-cli-admins

chore(cli): add share-project-config-on/off to configure (#13066)
  .circleci/amplify_init.exp
  packages/amplify-cli-core/src/help/commands-info.ts
  packages/amplify-cli/src/commands/configure.ts
  packages/amplify-cli/src/init-steps/s9-onSuccess.ts
  packages/amplify-e2e-core/src/configure/index.ts
  packages/amplify-e2e-core/src/init/initProjectHelper.ts
  packages/amplify-e2e-core/src/utils/nexpect.ts
  packages/amplify-e2e-core/src/utils/pinpoint.ts
  packages/amplify-e2e-tests/src/__tests__/amplify-configure.test.ts
  packages/amplify-e2e-tests/src/configure_tests.ts
  packages/amplify-e2e-tests/src/init-special-cases/index.ts
  packages/amplify-migration-tests/src/configure_tests.ts
  packages/amplify-migration-tests/src/migration-helpers-v12/init.ts
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

ci: add sanity check to cb checkout script
  .circleci/codebuild-checkout.sh
Owners: @aws-amplify/amplify-cli-admins

chore: update missed dependency in package.json
  packages/amplify-graphiql-explorer/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-data-buildtime

chore: bump semver with resolutions
  package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

ci: grrr
  .circleci/codebuild-checkout.sh
Owners: @aws-amplify/amplify-cli-admins

ci: add sanity check to cb checkout script (#13141)
  .circleci/codebuild-checkout.sh
Owners: @aws-amplify/amplify-cli-admins

fix: handle profile load in cognito client factory
  packages/amplify-provider-awscloudformation/src/aws-utils/aws-cognito-client.ts
Owners: @aws-amplify/amplify-cli

fix: handle profile load in cognito client factory (#13143)
  packages/amplify-provider-awscloudformation/src/aws-utils/aws-cognito-client.ts
Owners: @aws-amplify/amplify-cli

ci: remove branch convention
  .circleci/cb-publish-step-1-set-versions.sh
  .circleci/cb-publish-step-3-npm.sh
  .circleci/cb-publish-step-4-push-to-git.sh
  .circleci/codebuild-checkout.sh
  .circleci/local_publish_helpers_codebuild.sh
  scripts/cloud-cli-utils.sh
  scripts/cloud-release.sh
Owners: @aws-amplify/amplify-cli-admins

chore: bash is hard
  .circleci/cb-publish-step-1-set-versions.sh
  .circleci/cb-publish-step-3-npm.sh
  scripts/cloud-release.sh
Owners: @aws-amplify/amplify-cli-admins

chore: missing read
  scripts/cloud-release.sh
Owners: @aws-amplify/amplify-cli-admins

chore: fixes
  scripts/cloud-cli-utils.sh
  scripts/cloud-release.sh
Owners: @aws-amplify/amplify-cli-admins

ci: remove branch convention (#13145)
  .circleci/cb-publish-step-1-set-versions.sh
  .circleci/cb-publish-step-3-npm.sh
  .circleci/cb-publish-step-4-push-to-git.sh
  .circleci/codebuild-checkout.sh
  .circleci/local_publish_helpers_codebuild.sh
  scripts/cloud-cli-utils.sh
  scripts/cloud-release.sh
Owners: @aws-amplify/amplify-cli-admins

ci: remove skip ci flag
  .circleci/cb-publish-step-1-set-versions.sh
Owners: @aws-amplify/amplify-cli-admins

ci: remove skip ci flag (#13148)
  .circleci/cb-publish-step-1-set-versions.sh
Owners: @aws-amplify/amplify-cli-admins

ci: account for merge in rc script
  scripts/release-rc-codebuild.sh
Owners: @aws-amplify/amplify-cli-admins

ci: change upstream for test
  scripts/release-rc-codebuild.sh
Owners: @aws-amplify/amplify-cli-admins

Revert "ci: change upstream for test"
  scripts/release-rc-codebuild.sh
Owners: @aws-amplify/amplify-cli-admins

ci: account for merge in rc script (#13149)
  scripts/release-rc-codebuild.sh
Owners: @aws-amplify/amplify-cli-admins

fix: allow whitespace characters in Xcode projects
  packages/amplify-frontend-ios/lib/amplify-xcode.js
  packages/amplify-frontend-ios/native-bindings-codegen/index.js
  packages/amplify-frontend-ios/native-bindings-codegen/templates/function.jst
  packages/amplify-frontend-ios/native-bindings-codegen/templates/preamble.jst
Owners: @aws-amplify/amplify-cli

fix: test
  packages/amplify-frontend-ios/tests/native-bindings-codegen.test.js
Owners: @aws-amplify/amplify-cli

test: add unit test
  packages/amplify-frontend-ios/tests/amplify-xcode.test.js
Owners: @aws-amplify/amplify-cli

test: integration test
  .eslintrc.js
  .prettierignore
  packages/amplify-frontend-ios/tests/sample xcode project/.eslintignore
  packages/amplify-frontend-ios/tests/sample xcode project/.gitignore
  packages/amplify-frontend-ios/tests/sample xcode project/.graphqlconfig.yml
  packages/amplify-frontend-ios/tests/sample xcode project/API.swift
  packages/amplify-frontend-ios/tests/sample xcode project/amplify/.config/project-config.json
  packages/amplify-frontend-ios/tests/sample xcode project/amplify/README.md
  packages/amplify-frontend-ios/tests/sample xcode project/amplify/backend/api/samplexcodeproject/cli-inputs.json
  packages/amplify-frontend-ios/tests/sample xcode project/amplify/backend/api/samplexcodeproject/parameters.json
  packages/amplify-frontend-ios/tests/sample xcode project/amplify/backend/api/samplexcodeproject/resolvers/README.md
  packages/amplify-frontend-ios/tests/sample xcode project/amplify/backend/api/samplexcodeproject/schema.graphql
  packages/amplify-frontend-ios/tests/sample xcode project/amplify/backend/api/samplexcodeproject/stacks/CustomResources.json
  packages/amplify-frontend-ios/tests/sample xcode project/amplify/backend/api/samplexcodeproject/transform.conf.json
  packages/amplify-frontend-ios/tests/sample xcode project/amplify/backend/backend-config.json
  packages/amplify-frontend-ios/tests/sample xcode project/amplify/backend/tags.json
  packages/amplify-frontend-ios/tests/sample xcode project/amplify/backend/types/amplify-dependent-resources-ref.d.ts
  packages/amplify-frontend-ios/tests/sample xcode project/amplify/cli.json
  packages/amplify-frontend-ios/tests/sample xcode project/amplify/generated/models/AmplifyModels.swift
  packages/amplify-frontend-ios/tests/sample xcode project/amplify/generated/models/Todo+Schema.swift
  packages/amplify-frontend-ios/tests/sample xcode project/amplify/generated/models/Todo.swift
  packages/amplify-frontend-ios/tests/sample xcode project/amplify/hooks/README.md
  packages/amplify-frontend-ios/tests/sample xcode project/amplify/team-provider-info.json
  packages/amplify-frontend-ios/tests/sample xcode project/graphql/mutations.graphql
  packages/amplify-frontend-ios/tests/sample xcode project/graphql/queries.graphql
  packages/amplify-frontend-ios/tests/sample xcode project/graphql/schema.json
  packages/amplify-frontend-ios/tests/sample xcode project/graphql/subscriptions.graphql
  packages/amplify-frontend-ios/tests/sample xcode project/sample xcode project.xcodeproj/project.pbxproj
  packages/amplify-frontend-ios/tests/sample xcode project/sample xcode project.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/amplify-frontend-ios/tests/sample xcode project/sample xcode project.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/amplify-frontend-ios/tests/sample xcode project/sample xcode project.xcodeproj/project.xcworkspace/xcuserdata/sobkamil.xcuserdatad/UserInterfaceState.xcuserstate
  packages/amplify-frontend-ios/tests/sample xcode project/sample xcode project.xcodeproj/xcuserdata/sobkamil.xcuserdatad/xcschemes/xcschememanagement.plist
  packages/amplify-frontend-ios/tests/sample xcode project/sample xcode project/Assets.xcassets/AccentColor.colorset/Contents.json
  packages/amplify-frontend-ios/tests/sample xcode project/sample xcode project/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/amplify-frontend-ios/tests/sample xcode project/sample xcode project/Assets.xcassets/Contents.json
  packages/amplify-frontend-ios/tests/sample xcode project/sample xcode project/ContentView.swift
  packages/amplify-frontend-ios/tests/sample xcode project/sample xcode project/Preview Content/Preview Assets.xcassets/Contents.json
  packages/amplify-frontend-ios/tests/sample xcode project/sample xcode project/sample_xcode_project.entitlements
  packages/amplify-frontend-ios/tests/sample xcode project/sample xcode project/sample_xcode_projectApp.swift
  packages/amplify-frontend-ios/tests/xcode.integration.test.js
Owners: @aws-amplify/amplify-cli

ci: fix test
  packages/amplify-frontend-ios/tests/xcode.integration.test.js
Owners: @aws-amplify/amplify-cli

ci: fix test
  packages/amplify-frontend-ios/tests/.gitignore
  packages/amplify-frontend-ios/tests/sample-xcode-project/.eslintignore
  packages/amplify-frontend-ios/tests/sample-xcode-project/.gitignore
  packages/amplify-frontend-ios/tests/sample-xcode-project/.graphqlconfig.yml
  packages/amplify-frontend-ios/tests/sample-xcode-project/API.swift
  packages/amplify-frontend-ios/tests/sample-xcode-project/amplify/.config/project-config.json
  packages/amplify-frontend-ios/tests/sample-xcode-project/amplify/README.md
  packages/amplify-frontend-ios/tests/sample-xcode-project/amplify/backend/api/samplexcodeproject/cli-inputs.json
  packages/amplify-frontend-ios/tests/sample-xcode-project/amplify/backend/api/samplexcodeproject/parameters.json
  packages/amplify-frontend-ios/tests/sample-xcode-project/amplify/backend/api/samplexcodeproject/resolvers/README.md
  packages/amplify-frontend-ios/tests/sample-xcode-project/amplify/backend/api/samplexcodeproject/schema.graphql
  packages/amplify-frontend-ios/tests/sample-xcode-project/amplify/backend/api/samplexcodeproject/stacks/CustomResources.json
  packages/amplify-frontend-ios/tests/sample-xcode-project/amplify/backend/api/samplexcodeproject/transform.conf.json
  packages/amplify-frontend-ios/tests/sample-xcode-project/amplify/backend/backend-config.json
  packages/amplify-frontend-ios/tests/sample-xcode-project/amplify/backend/tags.json
  packages/amplify-frontend-ios/tests/sample-xcode-project/amplify/backend/types/amplify-dependent-resources-ref.d.ts
  packages/amplify-frontend-ios/tests/sample-xcode-project/amplify/cli.json
  packages/amplify-frontend-ios/tests/sample-xcode-project/amplify/generated/models/AmplifyModels.swift
  packages/amplify-frontend-ios/tests/sample-xcode-project/amplify/generated/models/Todo+Schema.swift
  packages/amplify-frontend-ios/tests/sample-xcode-project/amplify/generated/models/Todo.swift
  packages/amplify-frontend-ios/tests/sample-xcode-project/amplify/hooks/README.md
  packages/amplify-frontend-ios/tests/sample-xcode-project/amplify/team-provider-info.json
  packages/amplify-frontend-ios/tests/sample-xcode-project/graphql/mutations.graphql
  packages/amplify-frontend-ios/tests/sample-xcode-project/graphql/queries.graphql
  packages/amplify-frontend-ios/tests/sample-xcode-project/graphql/schema.json
  packages/amplify-frontend-ios/tests/sample-xcode-project/graphql/subscriptions.graphql
  packages/amplify-frontend-ios/tests/sample-xcode-project/sample xcode project.xcodeproj/project.pbxproj
  packages/amplify-frontend-ios/tests/sample-xcode-project/sample xcode project.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/amplify-frontend-ios/tests/sample-xcode-project/sample xcode project.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/amplify-frontend-ios/tests/sample-xcode-project/sample xcode project.xcodeproj/project.xcworkspace/xcuserdata/sobkamil.xcuserdatad/UserInterfaceState.xcuserstate
  packages/amplify-frontend-ios/tests/sample-xcode-project/sample xcode project.xcodeproj/xcuserdata/sobkamil.xcuserdatad/xcschemes/xcschememanagement.plist
  packages/amplify-frontend-ios/tests/sample-xcode-project/sample xcode project/Assets.xcassets/AccentColor.colorset/Contents.json
  packages/amplify-frontend-ios/tests/sample-xcode-project/sample xcode project/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/amplify-frontend-ios/tests/sample-xcode-project/sample xcode project/Assets.xcassets/Contents.json
  packages/amplify-frontend-ios/tests/sample-xcode-project/sample xcode project/ContentView.swift
  packages/amplify-frontend-ios/tests/sample-xcode-project/sample xcode project/Preview Content/Preview Assets.xcassets/Contents.json
  packages/amplify-frontend-ios/tests/sample-xcode-project/sample xcode project/sample_xcode_project.entitlements
  packages/amplify-frontend-ios/tests/sample-xcode-project/sample xcode project/sample_xcode_projectApp.swift
Owners: @aws-amplify/amplify-cli

ci: fix test
  packages/amplify-frontend-ios/.npmignore
  packages/amplify-frontend-ios/tests/.gitignore
  packages/amplify-frontend-ios/tests/xcode.integration.test.js
Owners: @aws-amplify/amplify-cli

ci: add build and unit test on macOS
  .github/workflows/build-test-mac.yml
Owners: @aws-amplify/amplify-cli

chore: pr feedback
  packages/amplify-frontend-ios/tests/xcode.integration.test.js
Owners: @aws-amplify/amplify-cli

fix(cli-internal): remove-resource test
  packages/amplify-cli-core/API.md
  packages/amplify-cli/src/__tests__/extensions/amplify-helpers/remove-resource.test.ts
  packages/amplify-cli/src/extensions/amplify-helpers/remove-resource.ts
Owners: @aws-amplify/amplify-cli

.github/CODEOWNERS:

# Amplify CLI Team owns the full repo by default.

* @aws-amplify/amplify-cli

# Add Data team folks focused on GQL transform/codegen to ownership for packages which will be migrated, in addition to the existing cli team.

/packages/amplify-graphiql-explorer @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime
/packages/amplify-velocity-template @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime

# Add folks focused on reviewing changes to CI/CD scripts/buildspecs

/.circleci/ @aws-amplify/amplify-cli-admins 
/scripts/ @aws-amplify/amplify-cli-admins 
/shared-scripts.sh @aws-amplify/amplify-cli-admins 
/codebuild_specs/ @aws-amplify/amplify-cli-admins
