Repository aws-amplify/amplify-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-data-buildtime, @aws-amplify/amplify-cli-admins

ci: fix verify-api-extract codebuild
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

ci: fix verify-api-extract codebuild (#13019)
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

fix: upgrade proxy-agent to ^6.3.0 to remove vm2 deps (#13012)
  packages/amplify-category-notifications/package.json
  packages/amplify-category-notifications/src/pinpoint-helper.ts
  packages/amplify-cli-core/package.json
  packages/amplify-cli-core/src/banner-message/index.ts
  packages/amplify-provider-awscloudformation/package.json
  packages/amplify-provider-awscloudformation/src/aws-utils/aws-amplify.js
  packages/amplify-provider-awscloudformation/src/aws-utils/aws.js
  packages/amplify-provider-awscloudformation/src/configuration-manager.ts
  packages/amplify-provider-awscloudformation/src/system-config-manager.ts
  packages/amplify-provider-awscloudformation/src/utils/admin-helpers.ts
  yarn.lock
Owners: @aws-amplify/amplify-cli

test: fix layer e2e, env name has 10 character limit
  packages/amplify-e2e-tests/src/__tests__/layer-1.test.ts
Owners: @aws-amplify/amplify-cli

test: fix layer e2e, env name has 10 character limit (#13021)
  packages/amplify-e2e-tests/src/__tests__/layer-1.test.ts
Owners: @aws-amplify/amplify-cli

fix: surface override build error if scripting features are disabled (#13013)
  packages/amplify-cli-core/API.md
  packages/amplify-cli-core/src/__tests__/hooks/hooksExecutor.test.ts
  packages/amplify-cli-core/src/errors/amplify-exception.ts
  packages/amplify-cli-core/src/overrides-manager/override-skeleton-generator.ts
  packages/amplify-e2e-core/src/categories/storage.ts
  packages/amplify-e2e-core/src/init/amplifyPush.ts
  packages/amplify-e2e-tests/src/__tests__/auth_6.test.ts
  packages/amplify-e2e-tests/src/__tests__/custom_resources.test.ts
  packages/amplify-e2e-tests/src/__tests__/init_e.test.ts
  packages/amplify-e2e-tests/src/__tests__/storage-5.test.ts
  packages/amplify-provider-awscloudformation/src/override-manager/transform-resource.ts
Owners: @aws-amplify/amplify-cli

chore: fix prettier
  packages/amplify-e2e-tests/src/__tests__/opensearch-simulator/opensearch-simulator.test.ts
Owners: @aws-amplify/amplify-cli

fix: surface override build error if scripting features are disabled (#13013) (#13023)
  packages/amplify-cli-core/API.md
  packages/amplify-cli-core/src/__tests__/hooks/hooksExecutor.test.ts
  packages/amplify-cli-core/src/errors/amplify-exception.ts
  packages/amplify-cli-core/src/overrides-manager/override-skeleton-generator.ts
  packages/amplify-e2e-core/src/categories/storage.ts
  packages/amplify-e2e-core/src/init/amplifyPush.ts
  packages/amplify-e2e-tests/src/__tests__/auth_6.test.ts
  packages/amplify-e2e-tests/src/__tests__/custom_resources.test.ts
  packages/amplify-e2e-tests/src/__tests__/init_e.test.ts
  packages/amplify-e2e-tests/src/__tests__/storage-5.test.ts
  packages/amplify-provider-awscloudformation/src/override-manager/transform-resource.ts
Owners: @aws-amplify/amplify-cli

chore: consistent return
  .eslintrc.js
  packages/amplify-appsync-simulator/src/__tests__/__helpers__/appsync-client.ts
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/utils/auth-defaults-appliers.test.ts
  packages/amplify-cli-core/src/__tests__/hooks/hooksExecutor.test.ts
  packages/amplify-e2e-tests/src/__tests__/storage-1a.test.ts
  packages/amplify-e2e-tests/src/__tests__/storage-1b.test.ts
  packages/amplify-e2e-tests/src/__tests__/storage-5.test.ts
  packages/amplify-e2e-tests/src/__tests__/tags.test.ts
  packages/amplify-provider-awscloudformation/src/__tests__/display-helpful-urls.test.ts
  packages/amplify-provider-awscloudformation/src/__tests__/resource-package/resource-export.test.ts
  packages/amplify-util-mock/src/__tests__/utils/dynamo-db/util.test.ts
Owners: @aws-amplify/amplify-cli

chore: no-var
  .eslintrc.js
  packages/amplify-appsync-simulator/src/__tests__/velocity/util/list-utils.test.ts
  packages/amplify-appsync-simulator/src/__tests__/velocity/util/math.test.ts
  packages/amplify-appsync-simulator/src/__tests__/velocity/util/str.test.ts
Owners: @aws-amplify/amplify-cli

chore: no useless catch
  .eslintrc.js
  packages/amplify-console-integration-tests/__tests__/consoleHosting.test.ts
Owners: @aws-amplify/amplify-cli

chore: prefer const
  .eslintrc.js
  packages/amplify-appsync-simulator/src/__tests__/server/websocket-subscription.test.ts
  packages/amplify-appsync-simulator/src/__tests__/utils/graphql-runner/subscription.test.ts
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/index.test.ts
  packages/amplify-category-custom/src/__tests__/commands/update.test.ts
  packages/amplify-category-custom/src/__tests__/walkthroughts/cdk-walkthrough.test.ts
  packages/amplify-category-custom/src/__tests__/walkthroughts/cloudformation-walkthrough.test.ts
  packages/amplify-category-function/src/__tests__/provider-utils/awscloudformation/utils/lambda-layer-cloud-formation-template.test.ts
  packages/amplify-category-hosting/__tests__/index.test.js
  packages/amplify-category-storage/src/__tests__/provider-utils/awscloudformation/service-walkthroughs/dynamoDb-walkthrough.test.ts
  packages/amplify-category-storage/src/__tests__/provider-utils/awscloudformation/service-walkthroughs/s3-walkthrough.test.ts
  packages/amplify-cli-core/src/__tests__/help.test.ts
  packages/amplify-cli/src/__tests__/commands/uninstall.pkg.test.ts
  packages/amplify-console-integration-tests/__tests__/pullAndInit.test.ts
  packages/amplify-e2e-core/failed-test-reporter.js
  packages/amplify-e2e-core/src/nexpect-reporter.js
  packages/amplify-e2e-tests/functions/s3-list-objects.js
  packages/amplify-e2e-tests/src/__tests__/import_auth_2a.test.ts
  packages/amplify-e2e-tests/src/__tests__/import_auth_2b.test.ts
  packages/amplify-e2e-tests/src/__tests__/schema-iterative-update-locking.test.ts
  packages/amplify-e2e-tests/src/__tests__/storage-simulator/S3server.test.ts
  packages/amplify-util-mock/src/__e2e__/connections-with-auth-tests.e2e.test.ts
  packages/amplify-util-mock/src/__e2e__/key-with-auth.e2e.test.ts
  packages/amplify-util-mock/src/__e2e__/multi-auth-model-auth-transformer.e2e.test.ts
  packages/amplify-util-mock/src/__e2e__/subscriptions-with-auth.e2e.test.ts
  packages/amplify-util-mock/src/__e2e__/utils/index.ts
Owners: @aws-amplify/amplify-cli

ci: split deployment step codebuild
  .circleci/codebuild-checkout.sh
  .circleci/config.base.yml
  .circleci/publish-codebuild.sh
  .circleci/publish-step-1-set-versions.sh
  .circleci/publish-step-2-verdaccio.sh
  .circleci/publish-step-3-npm.sh
  .circleci/publish-step-4-push-to-git.sh
  codebuild_specs/publish_to_npm.yml
  codebuild_specs/release_workflows/post_publish_push_to_git.yml
  codebuild_specs/release_workflows/release_rc_workflow.yml
  codebuild_specs/release_workflows/release_workflow.yml
  codebuild_specs/release_workflows/tagged_release_without_e2e_workflow.yml
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

ci: remove references to old helpers file
  .circleci/local_publish_helpers_codebuild.sh
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: lets see
  codebuild_specs/mock_e2e_tests.yml
  codebuild_specs/pr_workflow.yml
  packages/amplify-opensearch-simulator/src/index.ts
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

ci: remove old publish helpers file
  .circleci/local_publish_helpers.sh
  package.json
  scripts/split-e2e-tests-v2.ts
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

ci: add artifact to allow all jobs to be dependedon
  codebuild_specs/amplify_general_config_tests.yml
  codebuild_specs/amplify_install_test.yml
  codebuild_specs/amplify_sudo_install_test.yml
  codebuild_specs/build_tests_standalone.yml
  codebuild_specs/cleanup_resources.yml
  codebuild_specs/lint.yml
  codebuild_specs/mock_e2e_tests.yml
  codebuild_specs/publish_to_npm.yml
  codebuild_specs/test.yml
  codebuild_specs/validate_cdk_version.yml
  codebuild_specs/verify_api_extract.yml
  codebuild_specs/verify_pkg_cli.yml
  codebuild_specs/verify_versions_match.yml
  codebuild_specs/verify_yarn_lock.yml
Owners: @aws-amplify/amplify-cli-admins

chore: lets see
  codebuild_specs/mock_e2e_tests.yml
Owners: @aws-amplify/amplify-cli-admins

test: enable more linter rules in tests (#13027)
  .eslintrc.js
  packages/amplify-appsync-simulator/src/__tests__/__helpers__/appsync-client.ts
  packages/amplify-appsync-simulator/src/__tests__/server/websocket-subscription.test.ts
  packages/amplify-appsync-simulator/src/__tests__/utils/graphql-runner/subscription.test.ts
  packages/amplify-appsync-simulator/src/__tests__/velocity/util/list-utils.test.ts
  packages/amplify-appsync-simulator/src/__tests__/velocity/util/math.test.ts
  packages/amplify-appsync-simulator/src/__tests__/velocity/util/str.test.ts
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/index.test.ts
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/utils/auth-defaults-appliers.test.ts
  packages/amplify-category-custom/src/__tests__/commands/update.test.ts
  packages/amplify-category-custom/src/__tests__/walkthroughts/cdk-walkthrough.test.ts
  packages/amplify-category-custom/src/__tests__/walkthroughts/cloudformation-walkthrough.test.ts
  packages/amplify-category-function/src/__tests__/provider-utils/awscloudformation/utils/lambda-layer-cloud-formation-template.test.ts
  packages/amplify-category-hosting/__tests__/index.test.js
  packages/amplify-category-storage/src/__tests__/provider-utils/awscloudformation/service-walkthroughs/dynamoDb-walkthrough.test.ts
  packages/amplify-category-storage/src/__tests__/provider-utils/awscloudformation/service-walkthroughs/s3-walkthrough.test.ts
  packages/amplify-cli-core/src/__tests__/help.test.ts
  packages/amplify-cli-core/src/__tests__/hooks/hooksExecutor.test.ts
  packages/amplify-cli/src/__tests__/commands/uninstall.pkg.test.ts
  packages/amplify-console-integration-tests/__tests__/consoleHosting.test.ts
  packages/amplify-console-integration-tests/__tests__/pullAndInit.test.ts
  packages/amplify-e2e-core/failed-test-reporter.js
  packages/amplify-e2e-core/src/nexpect-reporter.js
  packages/amplify-e2e-tests/functions/s3-list-objects.js
  packages/amplify-e2e-tests/src/__tests__/import_auth_2a.test.ts
  packages/amplify-e2e-tests/src/__tests__/import_auth_2b.test.ts
  packages/amplify-e2e-tests/src/__tests__/schema-iterative-update-locking.test.ts
  packages/amplify-e2e-tests/src/__tests__/storage-1a.test.ts
  packages/amplify-e2e-tests/src/__tests__/storage-1b.test.ts
  packages/amplify-e2e-tests/src/__tests__/storage-5.test.ts
  packages/amplify-e2e-tests/src/__tests__/storage-simulator/S3server.test.ts
  packages/amplify-e2e-tests/src/__tests__/tags.test.ts
  packages/amplify-provider-awscloudformation/src/__tests__/display-helpful-urls.test.ts
  packages/amplify-provider-awscloudformation/src/__tests__/resource-package/resource-export.test.ts
  packages/amplify-util-mock/src/__e2e__/connections-with-auth-tests.e2e.test.ts
  packages/amplify-util-mock/src/__e2e__/key-with-auth.e2e.test.ts
  packages/amplify-util-mock/src/__e2e__/multi-auth-model-auth-transformer.e2e.test.ts
  packages/amplify-util-mock/src/__e2e__/subscriptions-with-auth.e2e.test.ts
  packages/amplify-util-mock/src/__e2e__/utils/index.ts
  packages/amplify-util-mock/src/__tests__/utils/dynamo-db/util.test.ts
Owners: @aws-amplify/amplify-cli

ci: add deployment verification steps
  codebuild_specs/deployment_verification_post_release.yml
  codebuild_specs/deployment_verification_rc_or_tagged.yml
  codebuild_specs/release_workflows/release_rc_workflow.yml
  codebuild_specs/release_workflows/release_workflow.yml
  codebuild_specs/release_workflows/tagged_release_without_e2e_workflow.yml
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: don't purge open search please
  packages/amplify-util-mock/src/__e2e_v2__/searchable-transformer.e2e.test.ts
Owners: @aws-amplify/amplify-cli

ci: enable tagged release
  package.json
  scripts/cloud-release.sh
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-cli-admins

chore: try that
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: try that
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

ci: fix typo in path to file
  codebuild_specs/release_workflows/release_rc_workflow.yml
  codebuild_specs/release_workflows/tagged_release_without_e2e_workflow.yml
Owners: @aws-amplify/amplify-cli-admins

chore: try that
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: undo hacks
  codebuild_specs/mock_e2e_tests.yml
  codebuild_specs/pr_workflow.yml
  packages/amplify-opensearch-simulator/src/index.ts
  packages/amplify-util-mock/src/__e2e_v2__/searchable-transformer.e2e.test.ts
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

chore: try this
  codebuild_specs/mock_e2e_tests.yml
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: try that
  codebuild_specs/mock_e2e_tests.yml
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: try that too
  codebuild_specs/mock_e2e_tests.yml
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: try that too
  codebuild_specs/mock_e2e_tests.yml
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: try that again
  codebuild_specs/mock_e2e_tests.yml
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: do this
  codebuild_specs/mock_e2e_tests.yml
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: check if build fails
  packages/amplify-util-mock/src/__e2e__/model-with-maps-to.e2e.test.ts
Owners: @aws-amplify/amplify-cli

Revert "chore: check if build fails"
  packages/amplify-util-mock/src/__e2e__/model-with-maps-to.e2e.test.ts
Owners: @aws-amplify/amplify-cli

chore(cli): enable ap-northeast-3 region
  packages/amplify-provider-awscloudformation/src/aws-predictions-regions.js
  packages/amplify-provider-awscloudformation/src/aws-regions.js
  packages/amplify-provider-awscloudformation/src/aws-utils/aws-lex.js
  packages/amplify-provider-awscloudformation/src/utils/admin-helpers.ts
Owners: @aws-amplify/amplify-cli

chore: comments
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: try upfront checkout
  .circleci/codebuild-checkout.sh
  codebuild_specs/build_linux.yml
Owners: @aws-amplify/amplify-cli-admins

chore: try upfront checkout
  .circleci/codebuild-checkout.sh
Owners: @aws-amplify/amplify-cli-admins

test: mock e2e tests on cb (#13031)
  packages/amplify-opensearch-simulator/src/index.ts
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-cli-admins

.github/CODEOWNERS:

# Amplify CLI Team owns the full repo by default.

* @aws-amplify/amplify-cli

# Add Data team folks focused on GQL transform/codegen to ownership for packages which will be migrated, in addition to the existing cli team.

/packages/amplify-graphiql-explorer @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime
/packages/amplify-velocity-template @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime

# Add folks focused on reviewing changes to CI/CD scripts/buildspecs

/.circleci/ @aws-amplify/amplify-cli-admins 
/scripts/ @aws-amplify/amplify-cli-admins 
/shared-scripts.sh @aws-amplify/amplify-cli-admins 
/codebuild_specs/ @aws-amplify/amplify-cli-admins
