Repository aws-amplify/amplify-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-data-buildtime, @aws-amplify/amplify-cli-admins

.github/CODEOWNERS:

# Amplify CLI Team owns the full repo by default.

* @aws-amplify/amplify-cli

# Add Data team folks focused on GQL transform/codegen to ownership for packages which will be migrated, in addition to the existing cli team.

/packages/amplify-graphiql-explorer @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime
/packages/amplify-velocity-template @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime

# Add folks focused on reviewing changes to CI/CD scripts/buildspecs

/.circleci/ @aws-amplify/amplify-cli-admins 
/scripts/ @aws-amplify/amplify-cli-admins 
/shared-scripts.sh @aws-amplify/amplify-cli-admins 
/codebuild_specs/ @aws-amplify/amplify-cli-admins

ci: cleanup
  package.json
Owners: @aws-amplify/amplify-cli

ci: update prepush hooks
  .husky/pre-push
Owners: @aws-amplify/amplify-cli

ci: adjustments for yarn2
  scripts/cloud-release.sh
Owners: @aws-amplify/amplify-cli-admins

chore: add test
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth-hosted-ui-lambda-migration.test.ts
  scripts/split-e2e-test-filters.ts
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-cli-admins

fix: typo in migration tests manifest
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/wait_for_ids.json
  scripts/split-e2e-test-filters.ts
Owners: @aws-amplify/amplify-cli-admins

test: changed dependency
  codebuild_specs/e2e_workflow.yml
  codebuild_specs/send_e2e_metrics.yml
  package.json
  scripts/collect-batch-id.ts
  scripts/package.json
  scripts/send-e2e-metrics.ts
  scripts/yarn.lock
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

fix: added artifact to aggregate_e2e_reports.yml to fix dependency for send_e2e_metrics job
  codebuild_specs/aggregate_e2e_reports.yml
Owners: @aws-amplify/amplify-cli-admins

chore: add hosted ui tests
  packages/amplify-e2e-core/src/categories/auth.ts
  packages/amplify-e2e-core/src/utils/auth-utils.ts
  packages/amplify-e2e-tests/src/__tests__/import_auth_1a.test.ts
  packages/amplify-e2e-tests/src/__tests__/import_auth_1b.test.ts
  packages/amplify-e2e-tests/src/__tests__/import_auth_3.test.ts
  packages/amplify-e2e-tests/src/import-helpers/settings.ts
  packages/amplify-e2e-tests/src/import-helpers/utilities.ts
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth-hosted-ui-lambda-migration.test.ts
Owners: @aws-amplify/amplify-cli

chore: codebuild
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/wait_for_ids.json
Owners: @aws-amplify/amplify-cli-admins

chore: fix snapshot
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/__snapshots__/auth-app-client-secret-migration.test.ts.snap
Owners: @aws-amplify/amplify-cli

fix: modified artifact in aggregate_e2e_reports.yml
  codebuild_specs/aggregate_e2e_reports.yml
Owners: @aws-amplify/amplify-cli-admins

fix: typo in migration tests manifest (#12949)
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/wait_for_ids.json
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/__snapshots__/auth-app-client-secret-migration.test.ts.snap
  scripts/split-e2e-test-filters.ts
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

chore: add test
  packages/amplify-e2e-core/src/utils/sdk-calls.ts
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth-hosted-ui-lambda-migration.test.ts
Owners: @aws-amplify/amplify-cli

fix: corrected command error in aggregate_e2e_reports.yml
  codebuild_specs/aggregate_e2e_reports.yml
Owners: @aws-amplify/amplify-cli-admins

chore: tests
  packages/amplify-e2e-core/src/categories/auth.ts
  packages/amplify-e2e-core/src/utils/nexpect.ts
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/auth-hosted-ui-lambda-migration.test.ts
Owners: @aws-amplify/amplify-cli

chore: bump data package dependencies
  package.json
  packages/amplify-category-function/package.json
  packages/amplify-cli-core/package.json
  packages/amplify-cli/package.json
  packages/amplify-container-hosting/package.json
  packages/amplify-dotnet-function-template-provider/package.json
  packages/amplify-e2e-core/package.json
  packages/amplify-e2e-tests/package.json
  packages/amplify-graphql-migration-tests/package.json
  packages/amplify-migration-tests/package.json
  packages/amplify-nodejs-function-template-provider/package.json
  packages/amplify-provider-awscloudformation/package.json
  packages/amplify-util-mock/package.json
  packages/amplify-util-uibuilder/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

ci: fix commit hash missing on codebuild
  packages/amplify-cli-npm/binary.ts
Owners: @aws-amplify/amplify-cli

chore: modified codebuild dashboard helper and organized job code
  codebuild_specs/aggregate_e2e_reports.yml
  codebuild_specs/e2e_workflow.yml
  package.json
  scripts/codebuild-sdk-helpers.ts
  scripts/collect-batch-id.ts
  scripts/send-e2e-metrics.ts
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

chore: remove opensearch mock e2e test
  codebuild_specs/e2e_workflow_generated.yml
  packages/amplify-util-mock/package.json
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

chore: remove opensearch mock e2e test
  codebuild_specs/e2e_workflow_generated.yml
Owners: @aws-amplify/amplify-cli-admins

chore: bump data package dependencies
  package.json
  packages/amplify-category-function/package.json
  packages/amplify-cli-core/package.json
  packages/amplify-cli/package.json
  packages/amplify-container-hosting/package.json
  packages/amplify-dotnet-function-template-provider/package.json
  packages/amplify-e2e-core/package.json
  packages/amplify-e2e-tests/package.json
  packages/amplify-graphql-migration-tests/package.json
  packages/amplify-migration-tests/package.json
  packages/amplify-nodejs-function-template-provider/package.json
  packages/amplify-provider-awscloudformation/package.json
  packages/amplify-util-mock/package.json
  packages/amplify-util-uibuilder/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

fix: upgrade semver@^7.5.4
  packages/amplify-app/package.json
  packages/amplify-cli-core/package.json
  packages/amplify-cli/package.json
  packages/amplify-e2e-core/package.json
  packages/amplify-go-function-runtime-provider/package.json
  packages/amplify-graphiql-explorer/package.json
  packages/amplify-java-function-runtime-provider/package.json
  packages/amplify-migration-tests/package.json
  packages/amplify-nodejs-function-runtime-provider/package.json
  packages/amplify-python-function-runtime-provider/package.json
  packages/amplify-util-mock/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-data-buildtime

fix: resulution tough-cookie@^4.1.3
  package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore: test domain update
  packages/amplify-e2e-tests/src/__tests__/auth/hosted-ui.test.ts
Owners: @aws-amplify/amplify-cli

chore: regenerate codebuild
  codebuild_specs/e2e_workflow_generated.yml
Owners: @aws-amplify/amplify-cli-admins

fix: add permissions boundary for IAM Role created for auth trigger (#12914)
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/utils/generate-auth-trigger-template.test.ts
  packages/amplify-category-auth/src/provider-utils/awscloudformation/utils/generate-auth-trigger-template.ts
Owners: @aws-amplify/amplify-cli

chore: de-promisify that lambda
  packages/amplify-category-auth/resources/auth-custom-resource/hostedUILambda.js
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/__snapshots__/auth-stack-transform.test.ts.snap
Owners: @aws-amplify/amplify-cli

chore: move hosted ui labmda to node18.x
  packages/amplify-category-auth/resources/auth-custom-resource/hostedUILambda.js
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/__snapshots__/auth-stack-transform.test.ts.snap
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder.ts
Owners: @aws-amplify/amplify-cli

ci: fix commit hash missing on codebuild (#12959)
  packages/amplify-cli-npm/binary.ts
Owners: @aws-amplify/amplify-cli

chore: noop trigger cb
  codebuild_specs/e2e_workflow_generated.yml
  packages/amplify-opensearch-simulator/src/index.ts
  packages/amplify-util-mock/package.json
  packages/amplify-util-mock/src/__e2e_v2__/searchable-transformer.e2e.test.ts
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

fix: add permissions boundary for IAM Role created for auth trigger (#12914)
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/utils/generate-auth-trigger-template.test.ts
  packages/amplify-category-auth/src/provider-utils/awscloudformation/utils/generate-auth-trigger-template.ts
Owners: @aws-amplify/amplify-cli

ci: fix commit hash missing on codebuild (#12959)
  packages/amplify-cli-npm/binary.ts
Owners: @aws-amplify/amplify-cli

chore: noop trigger cb
  packages/amplify-opensearch-simulator/src/index.ts
Owners: @aws-amplify/amplify-cli

Revert "chore: move hosted ui labmda to node18.x"
  packages/amplify-category-auth/resources/auth-custom-resource/hostedUILambda.js
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/__snapshots__/auth-stack-transform.test.ts.snap
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder.ts
Owners: @aws-amplify/amplify-cli

chore: noop trigger cb
  codebuild_specs/mock_e2e_tests.yml
  packages/amplify-opensearch-simulator/src/index.ts
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

chore: snapshots
  packages/amplify-migration-tests/src/__tests__/migration_tests_v10/__snapshots__/auth-add-all.migration.test.ts.snap
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/__snapshots__/auth-oauth-lambda-migration.test.ts.snap
Owners: @aws-amplify/amplify-cli

chore: noop trigger cb
  codebuild_specs/mock_e2e_tests.yml
Owners: @aws-amplify/amplify-cli-admins

chore: noop trigger cb
  codebuild_specs/e2e_workflow_generated.yml
Owners: @aws-amplify/amplify-cli-admins

chore: fix that return
  packages/amplify-category-auth/resources/auth-custom-resource/hostedUILambda.js
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/__snapshots__/auth-stack-transform.test.ts.snap
  packages/amplify-migration-tests/src/__tests__/migration_tests_v10/__snapshots__/auth-add-all.migration.test.ts.snap
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/__snapshots__/auth-oauth-lambda-migration.test.ts.snap
Owners: @aws-amplify/amplify-cli

chore: fix that
  packages/amplify-migration-tests/src/__tests__/migration_tests_v10/__snapshots__/auth-add-all.migration.test.ts.snap
  packages/amplify-migration-tests/src/__tests__/migration_tests_v12/__snapshots__/auth-oauth-lambda-migration.test.ts.snap
Owners: @aws-amplify/amplify-cli
