Repository aws-amplify/amplify-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-data-buildtime, @aws-amplify/amplify-cli-admins

.github/CODEOWNERS:

# Amplify CLI Team owns the full repo by default.

* @aws-amplify/amplify-cli

# Add Data team folks focused on GQL transform/codegen to ownership for packages which will be migrated, in addition to the existing cli team.

/packages/amplify-graphiql-explorer @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime
/packages/amplify-velocity-template @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime

# Add folks focused on reviewing changes to CI/CD scripts/buildspecs

/.circleci/ @aws-amplify/amplify-cli-admins 
/scripts/ @aws-amplify/amplify-cli-admins 
/shared-scripts.sh @aws-amplify/amplify-cli-admins 
/codebuild_specs/ @aws-amplify/amplify-cli-admins

DO NOT MERGE WITH THIS COMMIT
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/wait_for_ids.json
  packages/amplify-e2e-tests/src/__tests__/bad-delete.test.ts
  scripts/split-e2e-tests-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

chore: noop trigger cb
  packages/amplify-e2e-core/src/init/initProjectHelper.ts
  packages/amplify-e2e-tests/src/__tests__/custom-resource-with-storage.test.ts
Owners: @aws-amplify/amplify-cli

chore: noop trigger cb
  packages/amplify-e2e-tests/src/__tests__/custom-resource-with-storage.test.ts
Owners: @aws-amplify/amplify-cli

ci: uncomment codecov uploader call
  codebuild_specs/run_e2e_tests_linux.yml
Owners: @aws-amplify/amplify-cli-admins

fix: fix Property ‘handleRunQuery’ does not exist on type ‘GraphiQL’
  packages/amplify-graphiql-explorer/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-data-buildtime

chore: update CONTRIBUTING
  CONTRIBUTING.md
Owners: @aws-amplify/amplify-cli

Revert "fix: fix Property ‘handleRunQuery’ does not exist on type ‘GraphiQL’"
  packages/amplify-graphiql-explorer/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-data-buildtime

chore: noop trigger cb
  packages/amplify-e2e-tests/src/__tests__/custom-resource-with-storage.test.ts
Owners: @aws-amplify/amplify-cli

chore: noop trigger cb
  packages/amplify-e2e-core/src/init/initProjectHelper.ts
Owners: @aws-amplify/amplify-cli

chore: Refine Dart config parsing (#11181)
  packages/amplify-frontend-flutter/lib/dart-fs.js
  packages/amplify-frontend-flutter/tests/amplify-config-helper.test.js
Owners: @aws-amplify/amplify-cli

chore: bump data dependency version
  packages/amplify-category-function/package.json
  packages/amplify-cli-core/package.json
  packages/amplify-cli/package.json
  packages/amplify-container-hosting/package.json
  packages/amplify-dotnet-function-template-provider/package.json
  packages/amplify-e2e-core/package.json
  packages/amplify-e2e-tests/package.json
  packages/amplify-graphql-migration-tests/package.json
  packages/amplify-migration-tests/package.json
  packages/amplify-nodejs-function-template-provider/package.json
  packages/amplify-provider-awscloudformation/package.json
  packages/amplify-util-mock/package.json
  packages/amplify-util-uibuilder/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

fix: feature flag in mock package
  packages/amplify-util-mock/src/__e2e__/model-with-maps-to.e2e.test.ts
  packages/amplify-util-mock/src/__e2e_v2__/function-transformer.e2e.test.ts
  packages/amplify-util-mock/src/__e2e_v2__/index-transformer.e2e.test.ts
  packages/amplify-util-mock/src/__e2e_v2__/model-relational-transformer.e2e.test.ts
  packages/amplify-util-mock/src/__e2e_v2__/model-relational-with-key-transformer.e2e.test.ts
  packages/amplify-util-mock/src/__e2e_v2__/model-transformer.e2e.test.ts
  packages/amplify-util-mock/src/__e2e_v2__/util-method.e2e.test.ts
  packages/amplify-util-mock/src/__tests__/velocity/admin-auth.test.ts
  packages/amplify-util-mock/src/__tests__/velocity/model-auth.test.ts
  packages/amplify-util-mock/src/__tests__/velocity/multi-auth.test.ts
  packages/amplify-util-mock/src/__tests__/velocity/relational-auth.test.ts
  packages/amplify-util-mock/src/__tests__/velocity/test-helper.ts
Owners: @aws-amplify/amplify-cli

chore: noop trigger cb
  packages/amplify-e2e-tests/src/__tests__/custom-resource-with-storage.test.ts
Owners: @aws-amplify/amplify-cli

chore: noop trigger cb
  packages/amplify-e2e-tests/src/__tests__/custom-resource-with-storage.test.ts
Owners: @aws-amplify/amplify-cli

chore: noop trigger cb
  packages/amplify-e2e-tests/src/__tests__/custom-resource-with-storage.test.ts
Owners: @aws-amplify/amplify-cli

fix mock test
  packages/amplify-util-mock/src/__e2e_v2__/model-relational-with-key-transformer.e2e.test.ts
Owners: @aws-amplify/amplify-cli

chore: noop trigger cb
  packages/amplify-e2e-tests/src/__tests__/custom-resource-with-storage.test.ts
Owners: @aws-amplify/amplify-cli

chore: noop trigger cb
  packages/amplify-e2e-tests/src/__tests__/custom-resource-with-storage.test.ts
Owners: @aws-amplify/amplify-cli

fix unit test
  packages/amplify-util-mock/src/__tests__/velocity/model-auth.test.ts
Owners: @aws-amplify/amplify-cli

chore: bump data dependency version (#12834)
  packages/amplify-category-function/package.json
  packages/amplify-cli-core/package.json
  packages/amplify-cli/package.json
  packages/amplify-container-hosting/package.json
  packages/amplify-dotnet-function-template-provider/package.json
  packages/amplify-e2e-core/package.json
  packages/amplify-e2e-tests/package.json
  packages/amplify-graphql-migration-tests/package.json
  packages/amplify-migration-tests/package.json
  packages/amplify-nodejs-function-template-provider/package.json
  packages/amplify-provider-awscloudformation/package.json
  packages/amplify-util-mock/package.json
  packages/amplify-util-mock/src/__e2e__/model-with-maps-to.e2e.test.ts
  packages/amplify-util-mock/src/__e2e_v2__/function-transformer.e2e.test.ts
  packages/amplify-util-mock/src/__e2e_v2__/index-transformer.e2e.test.ts
  packages/amplify-util-mock/src/__e2e_v2__/model-relational-transformer.e2e.test.ts
  packages/amplify-util-mock/src/__e2e_v2__/model-relational-with-key-transformer.e2e.test.ts
  packages/amplify-util-mock/src/__e2e_v2__/model-transformer.e2e.test.ts
  packages/amplify-util-mock/src/__e2e_v2__/util-method.e2e.test.ts
  packages/amplify-util-mock/src/__tests__/velocity/admin-auth.test.ts
  packages/amplify-util-mock/src/__tests__/velocity/model-auth.test.ts
  packages/amplify-util-mock/src/__tests__/velocity/multi-auth.test.ts
  packages/amplify-util-mock/src/__tests__/velocity/relational-auth.test.ts
  packages/amplify-util-mock/src/__tests__/velocity/test-helper.ts
  packages/amplify-util-uibuilder/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

fix: make sure that AWS_REGION env variables match prescribed CLI_REGION
  packages/amplify-e2e-tests/src/__tests__/custom-resource-with-storage.test.ts
Owners: @aws-amplify/amplify-cli

chore: pr feedback
  packages/amplify-cli-core/src/__tests__/amplify-lockfile-dependency-detector/amplify-nodejs-detector.test.ts
  packages/amplify-cli-core/src/utils/packageManager.ts
  packages/amplify-cli/src/__tests__/commands/init.test.ts
  packages/amplify-nodejs-function-runtime-provider/src/utils/legacyBuild.ts
Owners: @aws-amplify/amplify-cli

fix: make sure that AWS_REGION env variables match prescribed CLI_REGION (add after all block)
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/wait_for_ids.json
  packages/amplify-e2e-tests/src/__tests__/custom-resource-with-storage.test.ts
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

fix: make sure that AWS_REGION env variables match prescribed CLI_REGION (add after all block)
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/wait_for_ids.json
Owners: @aws-amplify/amplify-cli-admins

chore: pr feedback
  packages/amplify-cli-core/API.md
Owners: @aws-amplify/amplify-cli

chore: noop trigger cb
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/wait_for_ids.json
  packages/amplify-e2e-tests/src/setup-tests.ts
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

chore: noop trigger cb
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/wait_for_ids.json
Owners: @aws-amplify/amplify-cli-admins

ci: fix v11 migration tests for CCI and CB
  .circleci/config.base.yml
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/wait_for_ids.json
  packages/amplify-migration-tests/package.json
  scripts/cci-utils.ts
  scripts/split-e2e-tests-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

chore: ensure cleanup scripts exit properly
  packages/amplify-e2e-tests/src/cleanup-e2e-resources.ts
  scripts/cleanup-e2e-codebuild-resources.ts
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-cli-admins

refactor: import array instead of copying
  scripts/cleanup-e2e-codebuild-resources.ts
Owners: @aws-amplify/amplify-cli-admins

refactor: simplify adding tags
  packages/amplify-e2e-core/src/utils/add-ci-cleanup-tags.ts
Owners: @aws-amplify/amplify-cli

fix: usage data should not throw errors
  packages/amplify-cli/src/domain/amplify-usageData/UsageData.ts
Owners: @aws-amplify/amplify-cli

fix: usage data should not throw errors
  packages/amplify-cli/package.json
  packages/amplify-cli/src/__tests__/usage-data.test.ts
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore: convert warn to debug
  packages/amplify-cli/src/domain/amplify-usageData/UsageData.ts
Owners: @aws-amplify/amplify-cli

chore: convert warn to debug
  packages/amplify-cli/src/__tests__/usage-data.test.ts
Owners: @aws-amplify/amplify-cli

chore: convert warn to debug
  packages/amplify-cli/src/__tests__/usage-data.test.ts
Owners: @aws-amplify/amplify-cli

Revert "DO NOT MERGE WITH THIS COMMIT"
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/wait_for_ids.json
  packages/amplify-e2e-tests/src/__tests__/bad-delete.test.ts
  scripts/split-e2e-tests-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

chore: add beforeeach to other setup-tests files
  packages/amplify-console-integration-tests/src/setup-tests.ts
  packages/amplify-migration-tests/src/setup-tests.ts
Owners: @aws-amplify/amplify-cli

chore: add build_tests_standalone
  codebuild_specs/build_tests_standalone.yml
  codebuild_specs/e2e_workflow_base.yml
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/wait_for_ids.json
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: add build_tests_standalone
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins
