Repository aws-amplify/amplify-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-data-buildtime, @aws-amplify/amplify-cli-admins

chore: add amplify general config tests
  packages/amplify-e2e-core/src/index.ts
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-cli-admins

fix(amplify-graphiql-explorer): amplify mock with Cognito User Pool
  packages/amplify-graphiql-explorer/src/utils/jwt.ts
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-data-buildtime

add resolution aws-cdk-lib 2.80.0
  package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore: add amplify general config tests
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: add amplify general config tests
  codebuild_specs/amplify_general_config_tests.yml
Owners: @aws-amplify/amplify-cli-admins

chore: add amplify general config tests
  codebuild_specs/amplify_general_config_tests.yml
Owners: @aws-amplify/amplify-cli-admins

chore: add amplify general config tests
  codebuild_specs/amplify_general_config_tests.yml
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/wait_for_ids.json
Owners: @aws-amplify/amplify-cli-admins

chore: add amplify general config tests
  packages/amplify-e2e-core/src/index.ts
Owners: @aws-amplify/amplify-cli

feat: uibuilder codegen service (#12896)
  package.json
  packages/amplify-appsync-simulator/package.json
  packages/amplify-category-auth/package.json
  packages/amplify-category-function/package.json
  packages/amplify-category-geo/package.json
  packages/amplify-category-notifications/package.json
  packages/amplify-category-predictions/package.json
  packages/amplify-category-storage/package.json
  packages/amplify-cli-npm/index.ts
  packages/amplify-cli/package.json
  packages/amplify-console-integration-tests/package.json
  packages/amplify-dynamodb-simulator/package.json
  packages/amplify-e2e-core/package.json
  packages/amplify-e2e-tests/package.json
  packages/amplify-environment-parameters/package.json
  packages/amplify-opensearch-simulator/package.json
  packages/amplify-provider-awscloudformation/package.json
  packages/amplify-storage-simulator/package.json
  packages/amplify-util-import/package.json
  packages/amplify-util-mock/package.json
  packages/amplify-util-uibuilder/package.json
  packages/amplify-util-uibuilder/src/__tests__/__snapshots__/syncAmplifyUiComponents.test.ts.snap
  packages/amplify-util-uibuilder/src/__tests__/createUiBuilderComponent.test.ts
  packages/amplify-util-uibuilder/src/__tests__/detachedFormCleanup.test.ts
  packages/amplify-util-uibuilder/src/__tests__/generateComponents.test.ts
  packages/amplify-util-uibuilder/src/__tests__/storageManager.test.ts
  packages/amplify-util-uibuilder/src/__tests__/syncAmplifyUiComponents.test.ts
  packages/amplify-util-uibuilder/src/clients/amplify-studio-client.ts
  packages/amplify-util-uibuilder/src/commands/generateComponents.ts
  packages/amplify-util-uibuilder/src/commands/utils/codegenResources.ts
  packages/amplify-util-uibuilder/src/commands/utils/detachedFormCleanup.ts
  packages/amplify-util-uibuilder/src/commands/utils/storageManager.ts
  packages/amplify-util-uibuilder/src/commands/utils/syncAmplifyUiBuilderComponents.ts
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore: add amplify general config tests
  codebuild_specs/amplify_general_config_tests.yml
  codebuild_specs/e2e_workflow_base.yml
  codebuild_specs/e2e_workflow_generated.yml
Owners: @aws-amplify/amplify-cli-admins

fix: add permissions boundary for IAM Role created for auth trigger
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/utils/generate-auth-trigger-template.test.ts
  packages/amplify-category-auth/src/provider-utils/awscloudformation/utils/generate-auth-trigger-template.ts
Owners: @aws-amplify/amplify-cli

chore: swap try-catch for if-else in wait script (#12907)
  scripts/wait-for-all-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

chore: remove dup integration test task
  codebuild_specs/e2e_workflow_base.yml
  codebuild_specs/e2e_workflow_generated.yml
Owners: @aws-amplify/amplify-cli-admins

chore: re-enable integration tests and convert credentials script to typescript (#12908)
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/integration_test.yml
  codebuild_specs/sh-files/aws-configure-credentials.py
  scripts/aws-configure-credentials.ts
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: add fail logic to wait script
  codebuild_specs/publish_to_local_registry.yml
  scripts/wait-for-all-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

chore: add fail logic to wait script
  codebuild_specs/build_linux.yml
  codebuild_specs/publish_to_local_registry.yml
Owners: @aws-amplify/amplify-cli-admins

chore: add fail logic to wait script
  scripts/wait-for-all-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

chore: add fail logic to wait script
  codebuild_specs/upload_pkg_binaries.yml
  scripts/wait-for-all-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

chore: add fail logic to wait script
  codebuild_specs/scripts-windows/wait-windows.sh
Owners: @aws-amplify/amplify-cli-admins

chore: add fail logic to wait script
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: easy to port changes
  .circleci/config.base.yml
  codebuild_specs/migration_tests_v12.yml
  packages/amplify-category-auth/src/provider-utils/awscloudformation/utils/print-auth-exists-warning.ts
  packages/amplify-migration-tests/package.json
  packages/amplify-migration-tests/src/migration-helpers/check-version.ts
  scripts/cci-utils.ts
  scripts/split-e2e-test-filters.ts
  scripts/split-e2e-tests-codebuild.ts
  scripts/split-e2e-tests.ts
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

chore: add fail logic to wait script
  scripts/wait-for-all-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

ci: rc, release, tagged rc, hotfix workflows
  .circleci/config.base.yml
  .circleci/config.yml
  .circleci/local_publish_helpers_codebuild.sh
  .circleci/publish-codebuild.sh
  codebuild_specs/amplify_install_test.yml
  codebuild_specs/amplify_sudo_install_test.yml
  codebuild_specs/deploy.yml
  codebuild_specs/e2e_workflow.yml
  codebuild_specs/release_workflows/github_prerelease.yml
  codebuild_specs/release_workflows/github_prerelease_install_sanity_check.yml
  codebuild_specs/release_workflows/github_release.yml
  codebuild_specs/release_workflows/hotfix_workflow.yml
  codebuild_specs/release_workflows/release_rc_workflow.yml
  codebuild_specs/release_workflows/release_workflow.yml
  codebuild_specs/release_workflows/tagged_release_without_e2e_workflow.yml
  codebuild_specs/scripts-windows/run-e2e-windows.sh
  codebuild_specs/verify_pkg_cli.yml
  package.json
  scripts/cloud-cli-utils.sh
  scripts/cloud-e2e.sh
  scripts/cloud-release.sh
  scripts/release-rc.sh
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

chore: add fail logic to wait script
  scripts/wait-for-all-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

chore: add fail logic to wait script
  codebuild_specs/build_pkg_binaries_arm.yml
  codebuild_specs/build_pkg_binaries_linux.yml
  codebuild_specs/build_pkg_binaries_macos.yml
  codebuild_specs/build_pkg_binaries_win.yml
  codebuild_specs/integration_test.yml
  codebuild_specs/mock_e2e_tests.yml
  codebuild_specs/publish_to_local_registry.yml
  codebuild_specs/test.yml
  codebuild_specs/validate_cdk_version.yml
  codebuild_specs/verify_api_extract.yml
  codebuild_specs/verify_versions_match.yml
  codebuild_specs/verify_yarn_lock.yml
Owners: @aws-amplify/amplify-cli-admins

chore: add fail logic to wait script
  codebuild_specs/build_linux.yml
Owners: @aws-amplify/amplify-cli-admins

chore: add fail logic to wait script (rename flag)
  codebuild_specs/integration_test.yml
  codebuild_specs/mock_e2e_tests.yml
  codebuild_specs/publish_to_local_registry.yml
  codebuild_specs/scripts-windows/wait-windows.sh
  codebuild_specs/test.yml
  codebuild_specs/validate_cdk_version.yml
  codebuild_specs/verify_api_extract.yml
  codebuild_specs/verify_yarn_lock.yml
  scripts/wait-for-all-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

chore: add fail logic to wait script (rename flag)
  codebuild_specs/build_pkg_binaries_arm.yml
  codebuild_specs/build_pkg_binaries_linux.yml
  codebuild_specs/build_pkg_binaries_macos.yml
  codebuild_specs/build_pkg_binaries_win.yml
  codebuild_specs/upload_pkg_binaries.yml
  codebuild_specs/verify_versions_match.yml
Owners: @aws-amplify/amplify-cli-admins

chore: add fail logic to wait script test
  codebuild_specs/build_linux.yml
Owners: @aws-amplify/amplify-cli-admins

chore: fail wait job if preceding job fails (#12919)
  codebuild_specs/build_pkg_binaries_arm.yml
  codebuild_specs/build_pkg_binaries_linux.yml
  codebuild_specs/build_pkg_binaries_macos.yml
  codebuild_specs/build_pkg_binaries_win.yml
  codebuild_specs/integration_test.yml
  codebuild_specs/mock_e2e_tests.yml
  codebuild_specs/publish_to_local_registry.yml
  codebuild_specs/scripts-windows/wait-windows.sh
  codebuild_specs/test.yml
  codebuild_specs/upload_pkg_binaries.yml
  codebuild_specs/validate_cdk_version.yml
  codebuild_specs/verify_api_extract.yml
  codebuild_specs/verify_versions_match.yml
  codebuild_specs/verify_yarn_lock.yml
  scripts/wait-for-all-codebuild.ts
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: add amplify_general_config_test (#12912)
  codebuild_specs/amplify_general_config_tests.yml
  codebuild_specs/e2e_workflow_base.yml
  codebuild_specs/e2e_workflow_generated.yml
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

Revert "add resolution aws-cdk-lib 2.80.0"
  package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore: update data dependencies
  packages/amplify-category-function/package.json
  packages/amplify-cli-core/package.json
  packages/amplify-cli/package.json
  packages/amplify-container-hosting/package.json
  packages/amplify-dotnet-function-template-provider/package.json
  packages/amplify-e2e-core/package.json
  packages/amplify-e2e-tests/package.json
  packages/amplify-graphql-migration-tests/package.json
  packages/amplify-migration-tests/package.json
  packages/amplify-nodejs-function-template-provider/package.json
  packages/amplify-provider-awscloudformation/package.json
  packages/amplify-util-mock/package.json
  packages/amplify-util-uibuilder/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

fix: added topLevelComment missing tab that triggers a failure in test scripts
  packages/amplify-category-function/src/provider-utils/awscloudformation/service-walkthroughs/execPermissionsWalkthrough.ts
Owners: @aws-amplify/amplify-cli

chore: more changes
  packages/amplify-e2e-tests/src/__tests__/import_auth_1a.test.ts
  packages/amplify-e2e-tests/src/__tests__/import_auth_3.test.ts
  packages/amplify-e2e-tests/src/__tests__/pinpoint/analytics-pinpoint-config-util.ts
  packages/amplify-e2e-tests/src/__tests__/pinpoint/notifications-pinpoint-config-util.ts
  packages/amplify-e2e-tests/src/__tests__/transformer-migrations/auth-migration.test.ts
  packages/amplify-e2e-tests/src/__tests__/transformer-migrations/function-migration.test.ts
  packages/amplify-e2e-tests/src/schema-api-directives/common.ts
  packages/amplify-e2e-tests/src/schema-api-directives/functionTester.ts
  packages/amplify-e2e-tests/src/schema-api-directives/tests/auth-customClaims.ts
  packages/amplify-e2e-tests/src/schema-api-directives/tests/auth-customClaims2.ts
  packages/amplify-e2e-tests/src/schema-api-directives/tests/auth-owner10.ts
  packages/amplify-e2e-tests/src/schema-api-directives/tests/auth-owner8.ts
  packages/amplify-e2e-tests/src/schema-api-directives/tests/auth-owner9.ts
  packages/amplify-e2e-tests/src/schema-api-directives/tests/auth-private2.ts
  packages/amplify-e2e-tests/src/schema-api-directives/tests/auth-public1.ts
  packages/amplify-e2e-tests/src/schema-api-directives/tests/auth-public2.ts
  packages/amplify-e2e-tests/src/schema-api-directives/tests/auth-usingOidc.ts
  packages/amplify-e2e-tests/src/schema-api-directives/tests/function-chaining.ts
  packages/amplify-e2e-tests/src/schema-api-directives/tests/function-differentRegion.ts
  packages/amplify-e2e-tests/src/schema-api-directives/tests/function-example2.ts
  packages/amplify-e2e-tests/src/schema-api-directives/tests/key-howTo4.ts
  packages/amplify-e2e-tests/src/schema-api-directives/tests/predictions-usage.ts
  packages/amplify-e2e-tests/src/schema-api-directives/tests/searchable-usage.ts
Owners: @aws-amplify/amplify-cli

chore: more changes
  packages/amplify-e2e-tests/src/schema-api-directives/tests/auth-owner11.ts
Owners: @aws-amplify/amplify-cli

fix: add check for codebuild when updating url
  packages/amplify-cli-npm/binary.ts
Owners: @aws-amplify/amplify-cli

chore: remove userpoolclientLambda
  packages/amplify-category-auth/resources/auth-custom-resource/userpoolclientLambda.js
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/__snapshots__/auth-stack-transform.test.ts.snap
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder.ts
  packages/amplify-category-auth/src/provider-utils/awscloudformation/constants.ts
Owners: @aws-amplify/amplify-cli

fix: add check for codebuild when updating url
  packages/amplify-cli-npm/binary.ts
Owners: @aws-amplify/amplify-cli

chore: more changes
  packages/amplify-category-auth/src/__tests__/provider-utils/awscloudformation/auth-stack-builder/__snapshots__/auth-stack-transform.test.ts.snap
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/auth-cognito-stack-builder.ts
  packages/amplify-category-auth/src/provider-utils/awscloudformation/auth-stack-builder/auth-stack-transform.ts
Owners: @aws-amplify/amplify-cli

.github/CODEOWNERS:

# Amplify CLI Team owns the full repo by default.

* @aws-amplify/amplify-cli

# Add Data team folks focused on GQL transform/codegen to ownership for packages which will be migrated, in addition to the existing cli team.

/packages/amplify-graphiql-explorer @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime
/packages/amplify-velocity-template @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime

# Add folks focused on reviewing changes to CI/CD scripts/buildspecs

/.circleci/ @aws-amplify/amplify-cli-admins 
/scripts/ @aws-amplify/amplify-cli-admins 
/shared-scripts.sh @aws-amplify/amplify-cli-admins 
/codebuild_specs/ @aws-amplify/amplify-cli-admins
