Repository aws-amplify/amplify-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-data-buildtime, @aws-amplify/amplify-cli-admins

ci: verify e2e workflow (#13112)
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/pr_workflow.yml
  codebuild_specs/verify_e2e_workflow_generated.yml
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: bump word-wrap with resolution (#13091)
  package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

chore(amplify-e2e-core): change find to some
  packages/amplify-e2e-core/src/utils/nexpect.ts
Owners: @aws-amplify/amplify-cli

test(amplify-e2e-core): add e2e test for usage-data-on/off
  packages/amplify-e2e-core/src/configure/index.ts
  packages/amplify-e2e-tests/src/__tests__/configure-project.test.ts
Owners: @aws-amplify/amplify-cli

chore: upgrade babel related dependencies
  package.json
  packages/amplify-frontend-javascript/package.json
  packages/amplify-graphiql-explorer/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli, @aws-amplify/amplify-data-buildtime

feat: bump version
  packages/amplify-cli-npm/index.ts
  packages/amplify-cli/src/index.ts
Owners: @aws-amplify/amplify-cli

test: isolate uibuilder test
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/wait_for_ids.json
  scripts/split-e2e-tests-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

feat: bump version (#13114)
  packages/amplify-cli-npm/index.ts
  packages/amplify-cli/src/index.ts
Owners: @aws-amplify/amplify-cli

test: isolate uibuilder test (#13115)
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/wait_for_ids.json
  scripts/split-e2e-tests-codebuild.ts
Owners: @aws-amplify/amplify-cli-admins

test(amplify-e2e-core): move test to amplify-configure
  packages/amplify-e2e-tests/src/__tests__/amplify-configure.test.ts
  packages/amplify-e2e-tests/src/__tests__/configure-project.test.ts
Owners: @aws-amplify/amplify-cli

test: smoke tests
  codebuild_specs/release_workflows/tagged_release_without_e2e_workflow.yml
  codebuild_specs/run_smoke_tests_linux.yml
  codebuild_specs/run_smoke_tests_windows.yml
  package.json
Owners: @aws-amplify/amplify-cli-admins, @aws-amplify/amplify-cli

test: smoke tests
  codebuild_specs/release_workflows/tagged_release_without_e2e_workflow.yml
Owners: @aws-amplify/amplify-cli-admins

test: smoke tests
  codebuild_specs/release_workflows/tagged_release_without_e2e_workflow.yml
Owners: @aws-amplify/amplify-cli-admins

test: no windows for now
  codebuild_specs/release_workflows/tagged_release_without_e2e_workflow.yml
  codebuild_specs/run_smoke_tests_windows.yml
Owners: @aws-amplify/amplify-cli-admins

test: smoke tests
  codebuild_specs/run_smoke_tests_linux.yml
  codebuild_specs/run_smoke_tests_windows.yml
Owners: @aws-amplify/amplify-cli-admins

chore(release): Publish tagged release smoketests [ci skip]
  packages/amplify-cli-npm/CHANGELOG.md
  packages/amplify-cli-npm/package.json
  packages/amplify-cli/CHANGELOG.md
  packages/amplify-cli/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

feat: add list all to lambda crud template
  packages/amplify-e2e-tests/src/__tests__/function_2d.test.ts
  packages/amplify-nodejs-function-template-provider/resources/lambda/crud/app.js.ejs
Owners: @aws-amplify/amplify-cli

feat: add list all to lambda crud template (#13116)
  packages/amplify-e2e-tests/src/__tests__/function_2d.test.ts
  packages/amplify-nodejs-function-template-provider/resources/lambda/crud/app.js.ejs
Owners: @aws-amplify/amplify-cli

test(amplify-e2e-core): update prompt for initJSProjectWithProfile
  packages/amplify-e2e-core/src/init/initProjectHelper.ts
Owners: @aws-amplify/amplify-cli

ci: reduce active wait for jobs
  codebuild_specs/e2e_workflow.yml
  codebuild_specs/e2e_workflow_base.yml
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/lint.yml
  codebuild_specs/pr_workflow.yml
Owners: @aws-amplify/amplify-cli-admins

ci: validate cdk version
  codebuild_specs/e2e_workflow.yml
  codebuild_specs/e2e_workflow_base.yml
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/pr_workflow.yml
  codebuild_specs/release_workflows/hotfix_workflow.yml
  codebuild_specs/release_workflows/release_rc_workflow.yml
  codebuild_specs/release_workflows/release_workflow.yml
  codebuild_specs/release_workflows/tagged_release_without_e2e_workflow.yml
  codebuild_specs/validate_cdk_version.yml
Owners: @aws-amplify/amplify-cli-admins

ci: verify api extract
  codebuild_specs/base.yml
  codebuild_specs/e2e_workflow.yml
  codebuild_specs/e2e_workflow_base.yml
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/pr_workflow.yml
  codebuild_specs/release_workflows/hotfix_workflow.yml
  codebuild_specs/verify_api_extract.yml
Owners: @aws-amplify/amplify-cli-admins

ci: verify yarn lock
  codebuild_specs/e2e_workflow.yml
  codebuild_specs/e2e_workflow_base.yml
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/pr_workflow.yml
  codebuild_specs/release_workflows/hotfix_workflow.yml
  codebuild_specs/release_workflows/release_rc_workflow.yml
  codebuild_specs/release_workflows/release_workflow.yml
  codebuild_specs/release_workflows/tagged_release_without_e2e_workflow.yml
  codebuild_specs/verify_yarn_lock.yml
Owners: @aws-amplify/amplify-cli-admins

ci: test
  codebuild_specs/base.yml
  codebuild_specs/e2e_workflow.yml
  codebuild_specs/e2e_workflow_base.yml
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/pr_workflow.yml
  codebuild_specs/publish_to_local_registry.yml
  codebuild_specs/release_workflows/hotfix_workflow.yml
  codebuild_specs/release_workflows/release_rc_workflow.yml
  codebuild_specs/release_workflows/release_workflow.yml
  codebuild_specs/release_workflows/tagged_release_without_e2e_workflow.yml
  codebuild_specs/test.yml
Owners: @aws-amplify/amplify-cli-admins

ci: mock e2e tests
  codebuild_specs/e2e_workflow.yml
  codebuild_specs/e2e_workflow_base.yml
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/mock_e2e_tests.yml
  codebuild_specs/pr_workflow.yml
  codebuild_specs/release_workflows/hotfix_workflow.yml
Owners: @aws-amplify/amplify-cli-admins

ci: verify workflow generated
  codebuild_specs/pr_workflow.yml
  codebuild_specs/verify_e2e_workflow_generated.yml
Owners: @aws-amplify/amplify-cli-admins

ci: make sure L2+ jobs depend on linux build
  codebuild_specs/e2e_workflow.yml
  codebuild_specs/e2e_workflow_base.yml
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/integration_test.yml
  codebuild_specs/pr_workflow.yml
  codebuild_specs/release_workflows/hotfix_workflow.yml
  codebuild_specs/release_workflows/release_rc_workflow.yml
  codebuild_specs/release_workflows/release_workflow.yml
  codebuild_specs/release_workflows/tagged_release_without_e2e_workflow.yml
Owners: @aws-amplify/amplify-cli-admins

ci: make upb path faster in e2e
  codebuild_specs/e2e_workflow.yml
  codebuild_specs/e2e_workflow_base.yml
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/publish_to_local_registry.yml
Owners: @aws-amplify/amplify-cli-admins

test(amplify-e2e-tests): add test for configure share-project-config
  packages/amplify-e2e-core/src/configure/index.ts
  packages/amplify-e2e-tests/src/__tests__/amplify-configure.test.ts
  packages/amplify-e2e-tests/src/configure_tests.ts
  packages/amplify-migration-tests/src/configure_tests.ts
Owners: @aws-amplify/amplify-cli

ci: add ts-node
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

test(amplify-e2e-tests): revert config-test change
  packages/amplify-e2e-tests/src/__tests__/amplify-configure.test.ts
Owners: @aws-amplify/amplify-cli

ci: run codeql on PRs and dev branch pushes only
  .github/workflows/codeql-tests.yaml
  .github/workflows/codeql.yaml
Owners: @aws-amplify/amplify-cli

ci: configure codeql to ignore e2e branches (#13092)
  .github/workflows/codeql-tests.yaml
  .github/workflows/codeql.yaml
Owners: @aws-amplify/amplify-cli

ci: reduce active wait on codebuild jobs (#13121)
  codebuild_specs/e2e_workflow.yml
  codebuild_specs/e2e_workflow_base.yml
  codebuild_specs/e2e_workflow_generated.yml
  codebuild_specs/integration_test.yml
  codebuild_specs/lint.yml
  codebuild_specs/mock_e2e_tests.yml
  codebuild_specs/pr_workflow.yml
  codebuild_specs/release_workflows/hotfix_workflow.yml
  codebuild_specs/release_workflows/release_rc_workflow.yml
  codebuild_specs/release_workflows/release_workflow.yml
  codebuild_specs/release_workflows/tagged_release_without_e2e_workflow.yml
  codebuild_specs/test.yml
  codebuild_specs/validate_cdk_version.yml
  codebuild_specs/verify_api_extract.yml
  codebuild_specs/verify_e2e_workflow_generated.yml
  codebuild_specs/verify_yarn_lock.yml
  shared-scripts.sh
Owners: @aws-amplify/amplify-cli-admins

chore: bump amplify-codegen
  packages/amplify-cli/package.json
  packages/amplify-provider-awscloudformation/package.json
  packages/amplify-util-mock/package.json
  packages/amplify-util-uibuilder/package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

feat: add getStackBuildCategorySourceDirPath
  packages/amplify-cli-core/src/__tests__/pathManager.test.ts
  packages/amplify-cli-core/src/state-manager/pathManager.ts
Owners: @aws-amplify/amplify-cli

feat(amplify-cli-core): remove StackBuildCategorySourceDirPath
  packages/amplify-cli/src/extensions/amplify-helpers/remove-resource.ts
Owners: @aws-amplify/amplify-cli

Update packages/amplify-e2e-tests/src/__tests__/amplify-configure.test.ts
  packages/amplify-e2e-tests/src/__tests__/amplify-configure.test.ts
Owners: @aws-amplify/amplify-cli

chore(amplify-cli-core): combine amplifyConfigure settings and flags
  packages/amplify-e2e-core/src/configure/index.ts
  packages/amplify-e2e-tests/src/__tests__/amplify-configure.test.ts
Owners: @aws-amplify/amplify-cli

chore: bump semver with resolutions
  package.json
  yarn.lock
Owners: @aws-amplify/amplify-cli

.github/CODEOWNERS:

# Amplify CLI Team owns the full repo by default.

* @aws-amplify/amplify-cli

# Add Data team folks focused on GQL transform/codegen to ownership for packages which will be migrated, in addition to the existing cli team.

/packages/amplify-graphiql-explorer @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime
/packages/amplify-velocity-template @aws-amplify/amplify-cli @aws-amplify/amplify-data-buildtime

# Add folks focused on reviewing changes to CI/CD scripts/buildspecs

/.circleci/ @aws-amplify/amplify-cli-admins 
/scripts/ @aws-amplify/amplify-cli-admins 
/shared-scripts.sh @aws-amplify/amplify-cli-admins 
/codebuild_specs/ @aws-amplify/amplify-cli-admins
