Repository aws-amplify/amplify-cli, pull requests merged in 2021-03, with the labels that each got.

#6059 fix: gql compiler fix for user defined mutation
  packages/amplify-cli-core/src/feature-flags/featureFlags.ts
  packages/graphql-key-transformer/src/KeyTransformer.ts
  packages/graphql-key-transformer/src/__tests__/KeyTransformer.test.ts
Labels: graphql-transformer

#6859 fix(graphql-key-transformer): check if lastSync == 0 in selective sync resolver
  packages/graphql-key-transformer/src/KeyTransformer.ts
  packages/graphql-key-transformer/src/__tests__/__snapshots__/KeyTransformer.test.ts.snap
Labels: @key

#5668 fix add-to-group.js template from using mixed async/sync AWS Lambda code style
  packages/amplify-category-auth/provider-utils/awscloudformation/triggers/PostConfirmation/add-to-group.js
Labels: pending-response
